@keyframes colorSlide {
  0% {
    background-position: 0% 100%; }
  20% {
    background-position: 0% 0%; }
  21% {
    background-color: #4e5559; }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%; }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  50% {
    background-position: 0% 0%; }
  51% {
    background-color: #4e5559; }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%; }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  80% {
    background-position: 0% 0%; }
  81% {
    background-color: #4e5559; }
  90%,
  100% {
    background-color: #ffffff; } }

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-8px); }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY(2px); }
  14% {
    opacity: 0;
    transform: scale(0.4) translateY(16px); }
  15%,
  19% {
    opacity: 0;
    transform: scale(0.4) translateY(-8px); }
  28%,
  29.99% {
    opacity: 1;
    transform: scale(1) translateY(-8px); }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-8px); }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY(2px); }
  44% {
    opacity: 0;
    transform: scale(0.4) translateY(16px); }
  45%,
  49% {
    opacity: 0;
    transform: scale(0.4) translateY(-8px); }
  58%,
  59.99% {
    opacity: 1;
    transform: scale(1) translateY(-8px); }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-8px); }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY(2px); }
  74% {
    opacity: 0;
    transform: scale(0.4) translateY(16px); }
  75%,
  79% {
    opacity: 0;
    transform: scale(0.4) translateY(-8px); }
  88%,
  100% {
    opacity: 1;
    transform: scale(1) translateY(-8px); } }

@keyframes nudgeMouse {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(8px); }
  30% {
    transform: translateY(0); }
  50% {
    transform: translateY(8px); }
  60% {
    transform: translateY(0); }
  80% {
    transform: translateY(8px); }
  90% {
    transform: translateY(0); } }

@keyframes nudgeText {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(2px); }
  30% {
    transform: translateY(0); }
  50% {
    transform: translateY(2px); }
  60% {
    transform: translateY(0); }
  80% {
    transform: translateY(2px); }
  90% {
    transform: translateY(0); } }

@keyframes colorText {
  21% {
    opacity: 0.5; }
  30% {
    opacity: 0.2; }
  51% {
    opacity: 0.5; }
  60% {
    opacity: 0.2; }
  81% {
    opacity: 0.5; }
  90% {
    opacity: 0.2; } }

.icon-scroll {
  margin-top: 24px; }
  .icon-scroll .mouse {
    background: #4e5559 linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
    position: relative;
    width: 36px;
    height: 56px;
    border-radius: 100px;
    background-size: 100% 200%;
    animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
    margin: 0 auto;
    opacity: 0.2; }
    .icon-scroll .mouse:before, .icon-scroll .mouse:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto; }
    .icon-scroll .mouse:before {
      width: 30px;
      height: 50px;
      background-color: #222a30;
      border-radius: 100px; }
    .icon-scroll .mouse:after {
      background-color: #ffffff;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      animation: trackBallSlide 5s linear infinite; }
  .icon-scroll p {
    font-size: 0.625rem;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 2px;
    color: #ffffff;
    animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite; }

.banner_section {
  padding: 24px 0;
  background: #f7fbf2; }

.banner_section__wrapper {
  max-width: 500px;
  margin: 0 auto;
  min-height: 500px; }

.banner_section__title {
  position: relative;
  max-width: 400px;
  margin: 0 auto; }
  .banner_section__title h1 {
    font-size: 2rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    color: #ffd75f;
    text-shadow: -2px 4px 6px rgba(0, 0, 0, 0.5); }
    @media (max-width: 575.98px) {
      .banner_section__title h1 {
        font-size: 1.5rem;
        top: 42%; } }

.nft_farmer_page .banner_section {
  background-image: url("../images/background-banner.png");
  background-size: cover;
  background-position: center center; }

.nft_farmer_page .banner_section__content img {
  max-width: 300px; }

.banner_section__content {
  margin-top: 24px; }
  .banner_section__content img {
    display: block;
    margin: 0 auto;
    animation: tranformItemImageBanner 8s ease-in-out infinite; }
  .banner_section__content h2,
  .banner_section__content p {
    color: #ffffff;
    text-align: center; }
  .banner_section__content h2 {
    font-size: 1.5rem;
    margin-top: 24px; }
  .banner_section__content p {
    margin-top: 4px;
    font-weight: 500; }
