.trade {
  max-width: 628px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 64px;
  padding-left: 64px; }
  .trade .tabs__link {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  @media (max-width: 767.98px) {
    .trade {
      padding-right: 16px;
      padding-left: 16px; } }

.trade__navigation {
  padding: 24px 24px 0 24px; }

.trade__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px; }
  .trade__header .box-left {
    max-width: 70%; }
    @media (max-width: 575.98px) {
      .trade__header .box-left {
        max-width: 60%; } }
  .trade__header .box-right > a + a {
    margin-left: 16px; }
  @media (max-width: 767.98px) {
    .trade__header {
      padding: 16px; } }

.trade__title {
  font-size: 1.2rem; }

.trade__desc {
  color: #9da5a0;
  font-size: 0.77rem;
  margin-top: 8px; }

.trade__body {
  padding: 24px; }
  @media (max-width: 767.98px) {
    .trade__body {
      padding: 16px; } }

.trade__footer {
  padding: 24px; }
  @media (max-width: 767.98px) {
    .trade__footer {
      padding: 16px; } }

.buy_warrior__item + .buy_warrior__item {
  margin-top: 16px; }

.buy_warrior__character {
  margin: 24px 0; }
  .buy_warrior__character img {
    display: block;
    margin: 0 auto;
    animation: scale 1s infinite;
    animation-direction: alternate; }
