.comming-soon {
  position: relative;
  height: calc(100vh - 56px - 189px);
  overflow: hidden; }
  .comming-soon .background {
    height: 100%;
    width: 100%; }
    .comming-soon .background img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center; }
  .comming-soon .block-content {
    position: absolute;
    left: 10%;
    top: 30%;
    transform: translateY(-50%); }
    @media (max-width: 767.98px) {
      .comming-soon .block-content {
        top: 20%;
        background-color: rgba(17, 17, 17, 0.5);
        padding: 24px;
        border-radius: 16px; } }
    @media (max-width: 575.98px) {
      .comming-soon .block-content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%; } }
  .comming-soon .title-comming-soon {
    color: #00332c;
    font-size: 2.75rem;
    margin-bottom: 16px; }
    @media (max-width: 767.98px) {
      .comming-soon .title-comming-soon {
        font-size: 2rem;
        color: #ffffff; } }
    @media (max-width: 575.98px) {
      .comming-soon .title-comming-soon {
        font-size: 1.125rem;
        text-align: center; } }
  .comming-soon .count-down {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px; }
    .comming-soon .count-down .item {
      padding: 0 16px;
      text-align: center; }
      .comming-soon .count-down .item span {
        font-size: 1.125rem; }
        @media (max-width: 767.98px) {
          .comming-soon .count-down .item span {
            font-size: 1rem; } }
      .comming-soon .count-down .item p {
        font-size: 2.75rem;
        font-weight: 600; }
        @media (max-width: 767.98px) {
          .comming-soon .count-down .item p {
            font-size: 2rem; } }
        @media (max-width: 575.98px) {
          .comming-soon .count-down .item p {
            font-size: 1.125rem; } }
      @media (max-width: 767.98px) {
        .comming-soon .count-down .item {
          color: #ffffff; } }
      @media (max-width: 575.98px) {
        .comming-soon .count-down .item {
          padding: 0 8px; } }
    @media (max-width: 575.98px) {
      .comming-soon .count-down {
        margin: 0 -8px;
        justify-content: center; } }
