.compensation_section {
  padding: 44px 0; }
  @media (max-width: 767.98px) {
    .compensation_section {
      padding: 16px 0; } }

.compensation_block {
  background: #f7fbf2;
  border: 1px solid rgba(102, 141, 46, 0.2);
  border-radius: 32px; }
  .compensation_block .block_head {
    padding: 24px;
    position: relative;
    border-bottom: 1px solid rgba(102, 141, 46, 0.1); }
    .compensation_block .block_head h2 {
      font-size: 1.125rem; }
      @media (max-width: 575.98px) {
        .compensation_block .block_head h2 {
          font-size: 1rem; } }
    @media (max-width: 575.98px) {
      .compensation_block .block_head {
        padding: 16px; } }
  .compensation_block .block_content {
    padding: 24px; }
    .compensation_block .block_content li {
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
      .compensation_block .block_content li span {
        display: inline-block; }
        .compensation_block .block_content li span + span {
          color: #3397e2;
          margin-left: 8px;
          font-weight: 500; }
        .compensation_block .block_content li span a {
          color: inherit;
          text-decoration: underline; }
          .compensation_block .block_content li span a ~ i {
            margin-left: 4px; }
      .compensation_block .block_content li + li {
        margin-top: 8px; }
    .compensation_block .block_content b {
      font-weight: 600; }
      .compensation_block .block_content b span {
        color: #bf7f53; }
    .compensation_block .block_content.claim ul {
      margin-top: 16px; }
    .compensation_block .block_content.claim li span:first-child {
      flex: 0 0 150px;
      max-width: 150px; }
    .compensation_block .block_content.claim li span:last-child {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%; }
    .compensation_block .block_content.estimated ul {
      margin-bottom: 16px; }
    @media (max-width: 575.98px) {
      .compensation_block .block_content {
        padding: 16px; } }
  .compensation_block + .compensation_block {
    margin-top: 24px; }
  @media (max-width: 575.98px) {
    .compensation_block {
      border-radius: 16px; } }
