.farm_info_section {
  margin-top: 32px; }

.farm_info_section__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px; }
  @media (max-width: 767.98px) {
    .farm_info_section__wrapper {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 16px; } }

.farm_info_section__item {
  color: #ffffff;
  background: linear-gradient(180deg, #74a034, #82b33b);
  border-radius: 0.22rem;
  padding: 16px; }
  .farm_info_section__item .action {
    display: flex;
    align-items: center; }
    .farm_info_section__item .action span {
      margin-right: 16px; }
  .farm_info_section__item .block h4 {
    margin-bottom: 8px; }
  .farm_info_section__item .block span {
    font-size: 1.5rem;
    font-weight: 700; }
  .farm_info_section__item .block + .block {
    margin-top: 16px; }
  @media (max-width: 767.98px) {
    .farm_info_section__item.deposited {
      grid-template-columns: 1fr; } }

.farm_filter_section {
  margin-top: 32px; }

.farm_filter_section__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 767.98px) {
    .farm_filter_section__wrapper {
      align-items: unset;
      flex-direction: column; } }

.information_lock {
  text-align: center;
  margin-top: 16px; }
  .information_lock .top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px; }
  .information_lock h3 {
    font-size: 1rem;
    font-weight: 500;
    margin-right: 8px; }
    .information_lock h3 span {
      font-weight: 700;
      color: #668d2e; }
  .information_lock p {
    font-weight: 500; }
    .information_lock p span {
      font-weight: 700;
      color: #668d2e; }

.filter_section__left_partial {
  display: flex;
  align-items: center; }
  .filter_section__left_partial .tabs_row {
    background-color: rgba(102, 141, 46, 0.2);
    border-radius: 0.22rem;
    margin-right: 24px; }
    .filter_section__left_partial .tabs_row .tab-active {
      color: #ffffff;
      background-color: #668d2e; }
  .filter_section__left_partial .staked .input_group > span {
    font-weight: 500;
    margin-left: 8px; }
  @media (max-width: 767.98px) {
    .filter_section__left_partial {
      justify-content: space-between;
      margin-bottom: 16px; } }
  @media (max-width: 575.98px) {
    .filter_section__left_partial .tabs_row {
      margin-right: 0; } }
  @media (max-width: 375.98px) {
    .filter_section__left_partial {
      display: block; }
      .filter_section__left_partial .tabs_row {
        margin-bottom: 16px; } }

.filter_section__right_partial .search_block {
  position: relative; }
  .filter_section__right_partial .search_block .form-control {
    padding-left: 36px; }
  .filter_section__right_partial .search_block > i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px; }
  @media (max-width: 767.98px) {
    .filter_section__right_partial .search_block {
      width: 100%; } }

.farming_section {
  padding-top: 16px;
  padding-bottom: 80px; }

.farming__list {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(2, 1fr); }
  @media (max-width: 1024.98px) {
    .farming__list {
      grid-template-columns: repeat(1, 1fr); } }

.farming__item {
  border: 1px solid rgba(102, 141, 46, 0.2);
  background: #f7fbf2;
  border-radius: 8px;
  height: fit-content; }
  .farming__item.active .panel_header__expand {
    transform: translateX(-50%) rotate(180deg); }
  .farming__item:not(.active) .collapse_content {
    display: none; }
  .farming__item .collapse_header {
    position: relative;
    cursor: pointer; }
  .farming__item .panel__header {
    height: 100%;
    padding: 16px 16px 24px; }
  .farming__item .panel_header__expand {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 24px;
    color: #ffffff;
    background: #668d2e;
    border-radius: 0.22rem;
    transition: transform 0.3s ease-in-out; }
  .farming__item .panel_header__content--top {
    display: flex;
    justify-content: space-between; }
    .farming__item .panel_header__content--top .content--top__infomation {
      display: flex;
      align-items: center; }
    .farming__item .panel_header__content--top .content--top__multiplier {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      color: #ffffff;
      background: linear-gradient(180deg, #bf7f53, #cd9b78);
      font-weight: 700;
      border-radius: 0.22rem; }
    .farming__item .panel_header__content--top .infomation__logos {
      position: relative;
      width: 60px;
      height: 60px;
      margin-right: 16px; }
      .farming__item .panel_header__content--top .infomation__logos .logo--left {
        position: absolute;
        top: 0;
        left: 0; }
      .farming__item .panel_header__content--top .infomation__logos .logo--right {
        position: absolute;
        right: 0;
        bottom: 0;
        filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.16)); }
      .farming__item .panel_header__content--top .infomation__logos img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #ffffff; }
    .farming__item .panel_header__content--top .infomation__content h4 {
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 4px;
      display: flex;
      align-items: center; }
    .farming__item .panel_header__content--top .infomation__content > div p + p {
      margin-top: 4px; }
  .farming__item .panel_header__content--bottom {
    padding-left: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    align-items: center;
    margin-top: 16px; }
    .farming__item .panel_header__content--bottom .content--bottom__item label {
      display: block;
      margin-bottom: 4px; }
    .farming__item .panel_header__content--bottom .content--bottom__item span {
      font-size: 1rem;
      font-weight: 700;
      color: #668d2e;
      word-break: break-word; }
      .farming__item .panel_header__content--bottom .content--bottom__item span.usd-value {
        color: #212121;
        font-size: 0.75rem;
        font-weight: 500;
        margin-left: 4px;
        opacity: 0.7; }
      .farming__item .panel_header__content--bottom .content--bottom__item span.fire, .farming__item .panel_header__content--bottom .content--bottom__item span.txt-orange {
        color: #e47900;
        font-size: 0.875rem; }
      .farming__item .panel_header__content--bottom .content--bottom__item span + span {
        margin-left: 8px; }
    .farming__item .panel_header__content--bottom .content--bottom__item .values {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
    @media (max-width: 1024.98px) {
      .farming__item .panel_header__content--bottom {
        grid-template-columns: repeat(4, 1fr); } }
    @media (max-width: 767.98px) {
      .farming__item .panel_header__content--bottom {
        grid-template-columns: repeat(3, 1fr); } }
    @media (max-width: 575.98px) {
      .farming__item .panel_header__content--bottom {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 0; } }
  .farming__item .collapse_content {
    padding: 24px 16px 16px 16px;
    position: relative;
    border-top: 1px solid rgba(102, 141, 46, 0.2); }
    @media (max-width: 375.98px) {
      .farming__item .collapse_content {
        padding-top: 56px; } }
  .farming__item .expand_details {
    color: #212121; }
  .farming__item .expand_details__item > [class*="item__"] {
    background: #ffffff;
    padding: 16px;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.16);
    border-radius: 0.22rem; }
  .farming__item .expand_details__item .item__liquidity .tabs_nav {
    position: relative;
    display: flex;
    align-items: center; }
  .farming__item .expand_details__item .item__liquidity .tabs_nav__item {
    cursor: pointer;
    font-weight: 500;
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 0.22rem 0.22rem 0 0; }
    .farming__item .expand_details__item .item__liquidity .tabs_nav__item.active {
      background-color: rgba(102, 141, 46, 0.2); }
  .farming__item .expand_details__item .item__liquidity .tabs_content {
    display: flex;
    width: 100%; }
  .farming__item .expand_details__item .item__liquidity .tabs_content_holder {
    position: relative;
    flex: auto;
    min-width: 0;
    min-height: 0; }
  .farming__item .expand_details__item .item__liquidity .tabs_tabpane {
    flex: none;
    width: 100%;
    outline: none; }
  .farming__item .expand_details__item .item__liquidity .content_wrapper .available {
    position: absolute;
    top: -30px;
    right: 0;
    font-weight: 500;
    color: #00332c; }
    @media (max-width: 375.98px) {
      .farming__item .expand_details__item .item__liquidity .content_wrapper .available {
        top: -80px; } }
  .farming__item .expand_details__item .item__liquidity .form_wrapper {
    padding: 16px;
    background-color: rgba(102, 141, 46, 0.2);
    border-radius: 0 0.22rem 0.22rem 0.22rem; }
    .farming__item .expand_details__item .item__liquidity .form_wrapper > .input_group {
      position: relative;
      margin-bottom: 8px; }
      .farming__item .expand_details__item .item__liquidity .form_wrapper > .input_group .form-control {
        padding: 0 56px 0 16px; }
      .farming__item .expand_details__item .item__liquidity .form_wrapper > .input_group > span {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        font-weight: 700; }
    .farming__item .expand_details__item .item__liquidity .form_wrapper > .select-percent {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 16px;
      margin-bottom: 8px; }
      .farming__item .expand_details__item .item__liquidity .form_wrapper > .select-percent > span {
        height: 36px;
        background-color: rgba(102, 141, 46, 0.1);
        border-radius: 0.22rem;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s all ease-in-out; }
        .farming__item .expand_details__item .item__liquidity .form_wrapper > .select-percent > span:hover {
          background-color: rgba(102, 141, 46, 0.2); }
        .farming__item .expand_details__item .item__liquidity .form_wrapper > .select-percent > span:active {
          transform: translateY(4px); }
        .farming__item .expand_details__item .item__liquidity .form_wrapper > .select-percent > span.active {
          color: #ffffff;
          background-color: rgba(102, 141, 46, 0.8); }
    .farming__item .expand_details__item .item__liquidity .form_wrapper > .actions {
      display: grid;
      grid-gap: 16px;
      grid-template-columns: repeat(1, 1fr); }
      @media (max-width: 1199.98px) {
        .farming__item .expand_details__item .item__liquidity .form_wrapper > .actions {
          grid-gap: 8px; }
          .farming__item .expand_details__item .item__liquidity .form_wrapper > .actions > .bt {
            padding: 0.44rem 1rem; } }
  .farming__item .expand_details__item .item__liquidity .liquidity {
    display: flex;
    justify-content: center;
    margin-top: 16px; }
    .farming__item .expand_details__item .item__liquidity .liquidity > a {
      font-weight: 500; }
      .farming__item .expand_details__item .item__liquidity .liquidity > a + a {
        margin-left: 24px; }
  .farming__item .expand_details__item .item__stake_grbe label {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 8px;
    display: block; }
  .farming__item .expand_details__item .item__stake_grbe .description {
    text-align: center;
    opacity: 0.5;
    margin-bottom: 16px; }
    @media (max-width: 767.98px) {
      .farming__item .expand_details__item .item__stake_grbe .description {
        margin-bottom: 8px; } }
  .farming__item .expand_details__item .item__stake_grbe .select_rgbe .thumbnail {
    cursor: pointer;
    max-width: 130px;
    margin: 0 auto; }
  .farming__item .expand_details__item .item__stake_grbe .select_rgbe p {
    text-align: center;
    font-size: 0.75rem;
    color: #666666;
    margin-top: 4px; }
  .farming__item .expand_details__item .item__earned label {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 8px;
    display: block; }
  .farming__item .expand_details__item .item__earned .amount {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .farming__item .expand_details__item .item__earned .amount img {
      width: 30px;
      margin-left: 8px; }
    .farming__item .expand_details__item .item__earned .amount span:not(.usd-value) {
      color: #668d2e;
      font-size: 2rem;
      font-weight: 700; }
    .farming__item .expand_details__item .item__earned .amount .usd-value {
      text-align: center;
      font-size: 0.75rem;
      color: #666666;
      margin-left: 4px; }
  .farming__item .expand_details__item .item__earned .actions {
    display: flex;
    justify-content: center;
    margin-top: 16px; }
    .farming__item .expand_details__item .item__earned .actions .bt + .bt {
      margin-left: 8px; }
  .farming__item .expand_details__item + .expand_details__item {
    margin-top: 16px; }
  .farming__item .expand_details__item:nth-child(2) {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr; }
    @media (max-width: 575.98px) {
      .farming__item .expand_details__item:nth-child(2) {
        grid-template-columns: 1fr; } }
