.nft_farmer_page {
  background-color: #f4fff8; }

.farm_info_section {
  margin-top: 32px; }

.farm_info_section__wrapper {
  position: relative;
  padding: 32px 0; }
  .farm_info_section__wrapper .farm_info_decorate {
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 200px; }
    .farm_info_section__wrapper .farm_info_decorate--left {
      left: 0; }
      @media (max-width: 1024.98px) {
        .farm_info_section__wrapper .farm_info_decorate--left {
          display: none; } }
    .farm_info_section__wrapper .farm_info_decorate--right {
      right: 0; }
      @media (max-width: 767.98px) {
        .farm_info_section__wrapper .farm_info_decorate--right {
          display: none; } }
    @media (max-width: 1199.98px) {
      .farm_info_section__wrapper .farm_info_decorate {
        max-width: 200px; } }
  @media (max-width: 767.98px) {
    .farm_info_section__wrapper {
      padding: 0; } }

.farm_info_section__item {
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  background: #668d2e;
  box-shadow: 0px 3px 6px rgba(17, 17, 17, 0.08);
  border-radius: 0.22rem;
  padding: 16px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto; }
  .farm_info_section__item .block {
    text-align: center; }
    .farm_info_section__item .block h4 {
      margin-bottom: 8px; }
    .farm_info_section__item .block span {
      font-size: 1.5rem;
      font-weight: 700; }
      .farm_info_section__item .block span.usd-value {
        font-size: 1rem; }
      .farm_info_section__item .block span + span {
        opacity: 0.8;
        margin-left: 4px; }
    @media (max-width: 575.98px) {
      .farm_info_section__item .block:first-child {
        grid-column: span 2; } }
  .farm_info_section__item .action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px; }
  @media (max-width: 1024.98px) {
    .farm_info_section__item {
      margin-left: 0; } }
  @media (max-width: 767.98px) {
    .farm_info_section__item {
      margin-left: auto; } }
  @media (max-width: 575.98px) {
    .farm_info_section__item {
      grid-template-columns: repeat(2, 1fr); } }

.farm_filter_section {
  margin-top: 32px; }

.farm_filter_section__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 767.98px) {
    .farm_filter_section__wrapper {
      align-items: unset;
      flex-direction: column; } }

.information_lock {
  text-align: center;
  margin-top: 16px; }
  .information_lock .top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px; }
  .information_lock h3 {
    font-size: 1rem;
    font-weight: 500;
    margin-right: 8px; }
    .information_lock h3 span {
      font-weight: 700;
      color: #668d2e; }
  .information_lock p {
    font-weight: 500; }
    .information_lock p span {
      font-weight: 700;
      color: #668d2e; }

.filter_section__left_partial {
  display: flex;
  align-items: center; }
  .filter_section__left_partial .tabs_row {
    background-color: rgba(102, 141, 46, 0.2);
    border-radius: 0.22rem;
    margin-right: 24px; }
    .filter_section__left_partial .tabs_row .tab-active {
      color: #ffffff;
      background-color: #668d2e; }
  .filter_section__left_partial .staked .input_group > span {
    font-weight: 500;
    margin-left: 8px; }
  @media (max-width: 767.98px) {
    .filter_section__left_partial {
      justify-content: space-between;
      margin-bottom: 16px; } }
  @media (max-width: 575.98px) {
    .filter_section__left_partial .tabs_row {
      margin-right: 0; } }
  @media (max-width: 375.98px) {
    .filter_section__left_partial {
      display: block; }
      .filter_section__left_partial .tabs_row {
        margin-bottom: 16px; } }

.filter_section__right_partial .search_block {
  position: relative; }
  .filter_section__right_partial .search_block .form-control {
    padding-left: 36px; }
  .filter_section__right_partial .search_block > i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px; }
  @media (max-width: 767.98px) {
    .filter_section__right_partial .search_block {
      width: 100%; } }

.farming_section {
  padding-top: 16px;
  padding-bottom: 80px; }

.farming__list {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(1, 1fr); }

.farming__item {
  border: 2px solid rgba(102, 141, 46, 0.2);
  background: #e0eecc;
  border-radius: 0.22rem;
  box-shadow: 0px 3px 6px rgba(17, 17, 17, 0.08); }
  .farming__item.active .panel_header__expand {
    transform: translateY(-50%) rotate(180deg); }
    @media (max-width: 575.98px) {
      .farming__item.active .panel_header__expand {
        transform: translateY(0) rotate(180deg); } }
  .farming__item:not(.active) .collapse_content {
    display: none; }
  .farming__item .collapse_header {
    position: relative;
    cursor: pointer; }
  .farming__item .panel__header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 24px 40px 24px 24px; }
    @media (max-width: 767.98px) {
      .farming__item .panel__header {
        flex-direction: column; } }
    @media (max-width: 575.98px) {
      .farming__item .panel__header {
        padding: 16px; } }
  .farming__item .panel_header__expand {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    color: #ffffff;
    background: rgba(102, 141, 46, 0.5);
    border-radius: 0.22rem;
    transition: transform 0.3s ease-in-out; }
    @media (max-width: 575.98px) {
      .farming__item .panel_header__expand {
        top: 8px;
        right: 8px;
        transform: translateY(0); } }
  .farming__item .panel_header__content--left {
    display: flex;
    justify-content: space-between;
    flex: 0 0 180px;
    max-width: 180px; }
    .farming__item .panel_header__content--left .content--top__infomation {
      display: flex;
      align-items: center; }
    .farming__item .panel_header__content--left .infomation__logos {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex: 0 0 60px;
      max-width: 60px;
      height: 40px; }
      .farming__item .panel_header__content--left .infomation__logos .logo--left,
      .farming__item .panel_header__content--left .infomation__logos .logo--right {
        -ms-flex: 0 0 40px;
        flex: 0 0 40px;
        max-width: 40px;
        height: 40px; }
      .farming__item .panel_header__content--left .infomation__logos .logo--right {
        filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.16));
        margin-left: -20px; }
      .farming__item .panel_header__content--left .infomation__logos img {
        border-radius: 50%;
        background: #ffffff; }
    .farming__item .panel_header__content--left .infomation__content {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      padding-left: 16px; }
      .farming__item .panel_header__content--left .infomation__content h4 {
        font-size: 1rem;
        font-weight: 700;
        display: flex;
        align-items: center; }
      .farming__item .panel_header__content--left .infomation__content .multiplier {
        color: #668d2e;
        font-weight: 700;
        margin-top: 4px; }
    @media (max-width: 767.98px) {
      .farming__item .panel_header__content--left {
        flex: 0 0 100%;
        max-width: 100%; } }
  .farming__item .panel_header__content--right {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 8px;
    align-items: center;
    padding-left: 16px; }
    .farming__item .panel_header__content--right .content--bottom__item label {
      display: block;
      margin-bottom: 4px; }
    .farming__item .panel_header__content--right .content--bottom__item span {
      font-size: 1rem;
      font-weight: 700;
      color: #668d2e;
      word-break: break-word; }
      .farming__item .panel_header__content--right .content--bottom__item span.usd-value {
        color: #212121;
        font-size: 0.75rem;
        font-weight: 500;
        margin-left: 4px;
        opacity: 0.7; }
      .farming__item .panel_header__content--right .content--bottom__item span.fire, .farming__item .panel_header__content--right .content--bottom__item span.txt-orange {
        color: #e47900;
        font-size: 0.875rem; }
      .farming__item .panel_header__content--right .content--bottom__item span + span {
        margin-left: 8px; }
    .farming__item .panel_header__content--right .content--bottom__item .values {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
    @media (max-width: 1024.98px) {
      .farming__item .panel_header__content--right {
        grid-template-columns: repeat(3, 1fr); } }
    @media (max-width: 767.98px) {
      .farming__item .panel_header__content--right {
        padding-left: 0;
        padding-top: 16px; } }
    @media (max-width: 575.98px) {
      .farming__item .panel_header__content--right {
        grid-template-columns: repeat(2, 1fr); } }
  .farming__item .collapse_content {
    padding: 24px;
    position: relative;
    border-top: 2px solid rgba(102, 141, 46, 0.2);
    background: #ecf5df; }
  .farming__item .expand_details {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 0.5fr 1fr 0.5fr; }
    @media (max-width: 1199.98px) {
      .farming__item .expand_details {
        grid-template-columns: 0.6fr 0.8fr 0.6fr; } }
    @media (max-width: 1024.98px) {
      .farming__item .expand_details {
        grid-template-columns: repeat(4, 1fr); } }
  .farming__item .expand_details__item > [class*="item__"] {
    background: #ffffff;
    padding: 16px;
    box-shadow: 0px 3px 6px rgba(17, 17, 17, 0.08);
    border-radius: 0.22rem;
    height: 100%; }
  .farming__item .expand_details__item .item__liquidity .available {
    font-size: 1rem;
    text-align: center;
    color: #00332c;
    margin-bottom: 16px; }
  .farming__item .expand_details__item .item__liquidity .tabs_nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto 16px;
    background-color: rgba(102, 141, 46, 0.2);
    border-radius: 0.22rem; }
  .farming__item .expand_details__item .item__liquidity .tabs_nav__item {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 0.22rem; }
    .farming__item .expand_details__item .item__liquidity .tabs_nav__item.active {
      color: #ffffff;
      background-color: #668d2e; }
  .farming__item .expand_details__item .item__liquidity .tabs_content {
    display: flex;
    width: 100%; }
  .farming__item .expand_details__item .item__liquidity .tabs_content_holder {
    position: relative;
    flex: auto;
    min-width: 0;
    min-height: 0; }
  .farming__item .expand_details__item .item__liquidity .tabs_tabpane {
    flex: none;
    width: 100%;
    outline: none; }
  .farming__item .expand_details__item .item__liquidity .form_wrapper .block-input-action {
    display: flex;
    align-items: center;
    grid-gap: 16px; }
  .farming__item .expand_details__item .item__liquidity .form_wrapper .input_group {
    position: relative; }
    .farming__item .expand_details__item .item__liquidity .form_wrapper .input_group .form-control {
      padding: 0 56px 0 16px; }
    .farming__item .expand_details__item .item__liquidity .form_wrapper .input_group > span {
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      font-weight: 700; }
  .farming__item .expand_details__item .item__liquidity .form_wrapper .actions > .bt {
    height: 48px; }
  .farming__item .expand_details__item .item__liquidity .liquidity {
    display: flex;
    justify-content: center;
    margin-top: 24px; }
    .farming__item .expand_details__item .item__liquidity .liquidity > a {
      font-weight: 500; }
      .farming__item .expand_details__item .item__liquidity .liquidity > a + a {
        margin-left: 24px; }
  .farming__item .expand_details__item .item__stake_grbe label {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 8px;
    display: block; }
  .farming__item .expand_details__item .item__stake_grbe .description {
    font-size: 0.75rem;
    text-align: center;
    opacity: 0.5;
    margin-bottom: 8px; }
  .farming__item .expand_details__item .item__stake_grbe .select_rgbe .thumbnail {
    cursor: pointer;
    max-width: 130px;
    margin: 0 auto; }
    .farming__item .expand_details__item .item__stake_grbe .select_rgbe .thumbnail:not(.active) {
      filter: grayscale(100%); }
  .farming__item .expand_details__item .item__stake_grbe .select_rgbe p {
    text-align: center;
    font-size: 0.75rem;
    color: #666666;
    margin-top: 4px; }
  .farming__item .expand_details__item .item__earned label {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 8px;
    display: block; }
  .farming__item .expand_details__item .item__earned .amount {
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .farming__item .expand_details__item .item__earned .amount img {
      width: 30px;
      margin-left: 8px; }
    .farming__item .expand_details__item .item__earned .amount span:not(.usd-value) {
      color: #668d2e;
      font-size: 2rem;
      font-weight: 700; }
    .farming__item .expand_details__item .item__earned .amount .usd-value {
      text-align: center;
      font-size: 0.75rem;
      color: #666666;
      margin-left: 4px; }
  .farming__item .expand_details__item .item__earned .grbe-icon img {
    max-width: 120px;
    display: block;
    margin: 0 auto; }
  .farming__item .expand_details__item .item__earned .actions {
    display: flex;
    justify-content: center;
    margin-top: 16px; }
    .farming__item .expand_details__item .item__earned .actions .bt + .bt {
      margin-left: 8px; }
  @media (max-width: 1024.98px) {
    .farming__item .expand_details__item {
      grid-column: 5 / 1; }
      .farming__item .expand_details__item:nth-child(1) {
        grid-column: 3 / 5;
        grid-row: 2 / 3; }
      .farming__item .expand_details__item:nth-child(3) {
        grid-column: 3 / 1; } }
  @media (max-width: 575.98px) {
    .farming__item .expand_details__item:nth-child(1) {
      grid-column: 5 / 1; }
    .farming__item .expand_details__item:nth-child(3) {
      grid-column: 5 / 1; } }
