.farm_info_section {
  margin-top: 32px; }

.farm_info_section__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px; }
  @media (max-width: 767.98px) {
    .farm_info_section__wrapper {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 16px; } }

.farm_info_section__item {
  display: grid;
  color: #ffffff;
  background: linear-gradient(180deg, #00332c, #006658);
  border-radius: 24px;
  padding: 24px; }
  .farm_info_section__item.deposited {
    grid-template-columns: auto auto;
    grid-column-gap: 24px; }
    .farm_info_section__item.deposited h4 {
      margin-bottom: 18px;
      font-weight: 500; }
    .farm_info_section__item.deposited span {
      font-size: 1.5rem;
      font-weight: 700; }
    .farm_info_section__item.deposited .harvest {
      display: flex;
      align-items: center; }
    .farm_info_section__item.deposited .harvest__action {
      margin-left: 16px; }
    @media (max-width: 767.98px) {
      .farm_info_section__item.deposited {
        grid-template-columns: 1fr; } }
  .farm_info_section__item.wallet .wallet__title {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    height: fit-content; }
    .farm_info_section__item.wallet .wallet__title h4 {
      font-weight: 500;
      margin-right: 8px; }
    .farm_info_section__item.wallet .wallet__title > a {
      font-size: 1rem;
      color: #ffffff; }
    .farm_info_section__item.wallet .wallet__title .add-metamask {
      cursor: pointer;
      margin-left: 16px; }
  .farm_info_section__item.wallet .wallet__balance {
    display: flex;
    align-items: center; }
    .farm_info_section__item.wallet .wallet__balance span {
      font-size: 1.5rem;
      font-weight: 700; }
      .farm_info_section__item.wallet .wallet__balance span.usd-value {
        font-size: 0.75rem;
        opacity: 0.7;
        font-weight: 500;
        margin-left: 8px; }
    .farm_info_section__item.wallet .wallet__balance .buy_grbe {
      margin-left: 150px; }
      @media (max-width: 1024.98px) {
        .farm_info_section__item.wallet .wallet__balance .buy_grbe {
          margin-left: 100px; } }

.farm_filter_section {
  margin-top: 32px; }

.farm_filter_section__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 767.98px) {
    .farm_filter_section__wrapper {
      align-items: unset;
      flex-direction: column; } }

.filter_section__left_partial {
  display: flex;
  align-items: center; }
  .filter_section__left_partial .tabs_row {
    background-color: rgba(102, 141, 46, 0.2);
    border-radius: 100px;
    margin-right: 24px; }
    .filter_section__left_partial .tabs_row .tab-active {
      color: #ffffff;
      background-color: #668d2e; }
  .filter_section__left_partial .staked .input_group > span {
    font-weight: 500;
    margin-left: 8px; }
  @media (max-width: 767.98px) {
    .filter_section__left_partial {
      justify-content: space-between;
      margin-bottom: 16px; } }
  @media (max-width: 575.98px) {
    .filter_section__left_partial .tabs_row {
      margin-right: 0; } }
  @media (max-width: 375.98px) {
    .filter_section__left_partial {
      display: block; }
      .filter_section__left_partial .tabs_row {
        margin-bottom: 16px; } }

.filter_section__right_partial .search_block {
  position: relative; }
  .filter_section__right_partial .search_block .form-control {
    padding-left: 36px; }
  .filter_section__right_partial .search_block > i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px; }
  @media (max-width: 767.98px) {
    .filter_section__right_partial .search_block {
      width: 100%; } }

.farming_section {
  padding-top: 16px;
  padding-bottom: 80px; }

.farming__item {
  border: 1px solid rgba(102, 141, 46, 0.2);
  background: #e0eecc;
  border-radius: 32px; }
  .farming__item.active .panel_header__expand {
    transform: translateY(-50%) rotate(180deg); }
  .farming__item:not(.active) .collapse_content {
    display: none; }
  .farming__item + .farming__item {
    margin-top: 16px; }
  .farming__item .collapse_header {
    position: relative;
    cursor: pointer; }
  .farming__item .panel__header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 110px 8px 40px; }
    @media (max-width: 1199.98px) {
      .farming__item .panel__header {
        flex-direction: column;
        padding: 16px; } }
  .farming__item .panel_information_lock {
    padding: 0 110px 16px 40px;
    margin-left: 76px; }
    .farming__item .panel_information_lock h3 {
      font-size: 0.875rem;
      font-weight: 500; }
      .farming__item .panel_information_lock h3 span {
        font-weight: 700;
        color: #668d2e; }
    .farming__item .panel_information_lock p span {
      font-weight: 700;
      color: #668d2e; }
  .farming__item .panel_header__multiplier,
  .farming__item .panel_header__expand {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .farming__item .panel_header__multiplier {
    width: 40px;
    height: 40px;
    color: #ffffff;
    background: linear-gradient(180deg, #bf7f53, #cd9b78);
    font-weight: 700;
    left: -20px;
    border-radius: 12px; }
    @media (max-width: 1199.98px) {
      .farming__item .panel_header__multiplier {
        top: 24px;
        right: 16px;
        left: unset;
        transform: none; } }
  .farming__item .panel_header__logos {
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: 16px; }
    .farming__item .panel_header__logos .panel_header__logo--left {
      position: absolute;
      top: 0;
      left: 0; }
    .farming__item .panel_header__logos .panel_header__logo--right {
      position: absolute;
      right: 0;
      bottom: 0;
      filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.16)); }
    .farming__item .panel_header__logos img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #ffffff; }
  .farming__item .panel_header__content--left {
    display: flex;
    align-items: center; }
    @media (max-width: 1199.98px) {
      .farming__item .panel_header__content--left {
        margin-bottom: 16px; } }
  .farming__item .panel_header__token_info,
  .farming__item .wrapper {
    display: flex;
    flex-direction: column; }
  .farming__item .wrapper span {
    font-weight: 400; }
    .farming__item .wrapper span + span {
      margin-top: 4px; }
  .farming__item .panel_header__token_name {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 4px;
    display: flex;
    align-items: center; }
  .farming__item .panel_header__content--right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px; }
    @media (max-width: 1199.98px) {
      .farming__item .panel_header__content--right {
        width: 100%; } }
    @media (max-width: 767.98px) {
      .farming__item .panel_header__content--right {
        flex-wrap: wrap;
        justify-content: flex-start; } }
  .farming__item .panel_header__info_item {
    width: 20%; }
    .farming__item .panel_header__info_item label {
      display: block;
      font-weight: 400;
      margin-bottom: 4px; }
    .farming__item .panel_header__info_item span {
      font-size: 1rem;
      font-weight: 700; }
      .farming__item .panel_header__info_item span.usd-value {
        font-size: 0.75rem;
        font-weight: 500;
        color: #666666;
        margin-left: 4px; }
      .farming__item .panel_header__info_item span.fire, .farming__item .panel_header__info_item span.txt-orange {
        font-size: 0.875rem; }
      .farming__item .panel_header__info_item span + span {
        margin-left: 8px; }
    .farming__item .panel_header__info_item .values {
      display: flex;
      align-items: center; }
    @media (max-width: 767.98px) {
      .farming__item .panel_header__info_item {
        width: 33.33333%;
        margin-bottom: 16px; } }
    @media (max-width: 575.98px) {
      .farming__item .panel_header__info_item {
        width: 50%; } }
  .farming__item .panel_header__expand {
    right: 40px;
    width: 24px;
    height: 24px;
    color: #668d2e;
    background: rgba(102, 141, 46, 0.2);
    border-radius: 5px;
    transition: transform 0.3s ease-in-out; }
    @media (max-width: 1199.98px) {
      .farming__item .panel_header__expand {
        display: none; } }
  .farming__item .collapse_content {
    padding: 24px 40px;
    position: relative;
    border-top: 1px solid rgba(102, 141, 46, 0.2); }
    @media (max-width: 1199.98px) {
      .farming__item .collapse_content {
        padding: 24px; } }
    @media (max-width: 767.98px) {
      .farming__item .collapse_content {
        padding: 0 8px 20px;
        border-top: none; } }
  .farming__item .expand_details {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1024.98px) {
      .farming__item .expand_details {
        flex-direction: column; } }
  .farming__item .expand_details__actions {
    padding: 20px 30px 20px 20px;
    border-right: 1px solid rgba(102, 141, 46, 0.2); }
    @media (max-width: 1199.98px) {
      .farming__item .expand_details__actions {
        max-width: 50%; } }
    @media (max-width: 767.98px) {
      .farming__item .expand_details__actions {
        max-width: 100%;
        padding: 16px;
        border-right: none;
        border-bottom: 1px solid rgba(102, 141, 46, 0.2); } }
  .farming__item .expand_details__actions_wrapper {
    width: 398px; }
    @media (max-width: 1199.98px) {
      .farming__item .expand_details__actions_wrapper {
        max-width: 100%; } }
    @media (max-width: 767.98px) {
      .farming__item .expand_details__actions_wrapper {
        width: 100%; } }
    @media (max-width: 375.98px) {
      .farming__item .expand_details__actions_wrapper {
        padding-top: 32px; } }
  .farming__item .expand_details__left_partial,
  .farming__item .expand_details__right_partial {
    display: flex;
    background: #ffffff;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.16);
    border-radius: 24px; }
  .farming__item .expand_details__left_partial {
    width: 808px; }
    @media (max-width: 1199.98px) {
      .farming__item .expand_details__left_partial {
        max-width: calc(100% - 252px);
        width: 100%; } }
    @media (max-width: 1024.98px) {
      .farming__item .expand_details__left_partial {
        max-width: 100%;
        margin-bottom: 24px; } }
    @media (max-width: 767.98px) {
      .farming__item .expand_details__left_partial {
        flex-direction: column;
        margin-bottom: 12px; } }
  .farming__item .tabs_nav {
    position: relative;
    display: flex;
    flex: none;
    align-items: center; }
  .farming__item .tabs_nav__item {
    cursor: pointer;
    font-weight: 500;
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 16px 16px 0 0; }
    .farming__item .tabs_nav__item.active {
      background-color: rgba(102, 141, 46, 0.2); }
  .farming__item .tabs_content {
    display: flex;
    width: 100%; }
  .farming__item .tabs_content_holder {
    position: relative;
    flex: auto;
    min-width: 0;
    min-height: 0; }
  .farming__item .tabs_tabpane {
    flex: none;
    width: 100%;
    outline: none; }
    .farming__item .tabs_tabpane:not(.tabs_tabpane__active) {
      display: none; }
  .farming__item .content_wrapper .available {
    position: absolute;
    top: -30px;
    right: 0;
    font-weight: 500;
    color: #668d2e; }
    @media (max-width: 375.98px) {
      .farming__item .content_wrapper .available {
        top: -72px; } }
  .farming__item .form_wrapper {
    padding: 20px 16px;
    background-color: rgba(102, 141, 46, 0.2);
    border-radius: 0 16px 16px 16px; }
    .farming__item .form_wrapper > .input_group {
      position: relative;
      margin-bottom: 8px; }
      .farming__item .form_wrapper > .input_group .form-control {
        padding: 0 56px 0 16px; }
      .farming__item .form_wrapper > .input_group > span {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        font-weight: 700; }
    .farming__item .form_wrapper > .select-percent {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 16px;
      margin-bottom: 8px; }
      .farming__item .form_wrapper > .select-percent > span {
        height: 36px;
        background-color: rgba(102, 141, 46, 0.1);
        border-radius: 12px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer; }
        .farming__item .form_wrapper > .select-percent > span.active {
          color: #ffffff;
          background-color: rgba(102, 141, 46, 0.7); }
    .farming__item .form_wrapper > .actions {
      display: grid;
      grid-gap: 16px;
      grid-template-columns: repeat(2, 1fr); }
      @media (max-width: 1199.98px) {
        .farming__item .form_wrapper > .actions {
          grid-gap: 8px; }
          .farming__item .form_wrapper > .actions > .bt {
            padding: 0.44rem 1rem; } }
  .farming__item .liquidity {
    display: flex;
    justify-content: center;
    margin-top: 16px; }
    .farming__item .liquidity > a {
      font-weight: 500; }
      .farming__item .liquidity > a + a {
        margin-left: 24px; }
  .farming__item .expand_details__stake_meeb {
    padding: 20px 30px; }
    .farming__item .expand_details__stake_meeb label {
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 16px;
      display: block; }
      @media (max-width: 767.98px) {
        .farming__item .expand_details__stake_meeb label {
          margin-bottom: 8px; } }
    .farming__item .expand_details__stake_meeb .description {
      opacity: 0.7;
      margin-bottom: 16px;
      font-weight: 400; }
      @media (max-width: 767.98px) {
        .farming__item .expand_details__stake_meeb .description {
          margin-bottom: 8px; } }
    .farming__item .expand_details__stake_meeb .thumbnail {
      width: 130px;
      height: 130px;
      background: rgba(61, 62, 64, 0.1);
      border: 1px solid #d9d9d9;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px; }
      .farming__item .expand_details__stake_meeb .thumbnail img {
        filter: grayscale(1); }
      @media (max-width: 360px) {
        .farming__item .expand_details__stake_meeb .thumbnail {
          margin-right: 0;
          margin-bottom: 20px; } }
    .farming__item .expand_details__stake_meeb .select_rgbe {
      display: flex;
      align-items: center; }
      .farming__item .expand_details__stake_meeb .select_rgbe .info p {
        color: #e47900;
        display: flex;
        align-items: center;
        font-weight: 500;
        margin-bottom: 20px; }
        .farming__item .expand_details__stake_meeb .select_rgbe .info p > i {
          margin-right: 8px; }
      @media (max-width: 360px) {
        .farming__item .expand_details__stake_meeb .select_rgbe {
          flex-direction: column; } }
    @media (max-width: 767.98px) {
      .farming__item .expand_details__stake_meeb {
        padding: 12px 16px 20px; } }
  .farming__item .expand_details__right_partial {
    width: 222px;
    padding: 20px 0;
    flex-direction: column;
    align-items: center; }
    .farming__item .expand_details__right_partial label {
      font-size: 1rem;
      margin-bottom: 32px;
      font-weight: 500; }
    .farming__item .expand_details__right_partial .amount {
      font-size: 2rem;
      font-weight: 700;
      color: #668d2e;
      margin-bottom: 8px;
      display: flex;
      align-items: center; }
      .farming__item .expand_details__right_partial .amount img {
        width: 30px;
        margin-left: 8px; }
    .farming__item .expand_details__right_partial .usd-value {
      font-size: 0.75rem;
      font-weight: 500;
      color: #666666;
      margin-bottom: 16px; }
    @media (max-width: 1199.98px) {
      .farming__item .expand_details__right_partial {
        min-width: 222px;
        margin-left: 30px; } }
    @media (max-width: 1024.98px) {
      .farming__item .expand_details__right_partial {
        margin: 0;
        width: 100%; } }
