.statistics_section {
  padding: 44px 0; }
  @media (max-width: 767.98px) {
    .statistics_section {
      padding: 16px 0; } }

.statistics_section__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px; }
  @media (max-width: 1199.98px) {
    .statistics_section__wrapper {
      grid-template-columns: 1fr 0.6fr; } }
  @media (max-width: 1024.98px) {
    .statistics_section__wrapper {
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 767.98px) {
    .statistics_section__wrapper {
      grid-template-columns: 1fr;
      grid-gap: 16px; } }

.statistics_section__supply {
  background: #f7fbf2;
  border: 1px solid rgba(102, 141, 46, 0.2);
  border-radius: 32px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px; }
  .statistics_section__supply .icon {
    -ms-flex: 0 0 146px;
    flex: 0 0 132px;
    max-width: 132px;
    height: 132px;
    margin-right: 24px;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.02);
    border-radius: 50%; }
    .statistics_section__supply .icon img {
      width: 100%;
      height: 100%; }
    @media (max-width: 1024.98px) {
      .statistics_section__supply .icon {
        display: none; } }
  .statistics_section__supply .details {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .statistics_section__supply .details__header {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 14px; }
    .statistics_section__supply .details__header .external-link {
      display: flex;
      align-items: center; }
      .statistics_section__supply .details__header .external-link span {
        font-size: 1rem;
        font-weight: 700;
        margin-right: 8px; }
    .statistics_section__supply .details__header .price-box {
      height: 36px;
      background: #d5e8b9;
      border-radius: 100px;
      display: flex;
      align-items: center;
      padding: 6px 0 6px 16px; }
      .statistics_section__supply .details__header .price-box label {
        font-size: 1rem;
        margin-right: 8px; }
      .statistics_section__supply .details__header .price-box .price {
        font-size: 1rem;
        font-weight: 700;
        color: #bf7f53;
        margin-right: 16px; }
  .statistics_section__supply .details__item_wrapper .details__item {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .statistics_section__supply .details__item_wrapper .details__item .amount {
      font-size: 1rem;
      font-weight: 700;
      color: #668d2e; }
    .statistics_section__supply .details__item_wrapper .details__item + .details__item {
      margin-top: 12px; }
  @media (max-width: 575.98px) {
    .statistics_section__supply {
      padding: 16px;
      border-radius: 24px; } }

.statistics_section__item_partial.right {
  padding: 24px;
  background: #f7fbf2;
  border: 1px solid rgba(102, 141, 46, 0.2);
  border-radius: 32px;
  padding: 24px;
  min-height: 350px; }
  @media (max-width: 575.98px) {
    .statistics_section__item_partial.right {
      padding: 16px;
      border-radius: 24px; } }

.section__unbox {
  max-width: 250px;
  margin: 0 auto;
  margin-top: 24px;
  padding: 24px 48px;
  background-color: rgba(17, 17, 17, 0.1);
  border-radius: 24px; }
  .section__unbox p {
    color: #bf7f53;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin-top: 8px; }

.statistics_section__my_grbe {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px; }
  .statistics_section__my_grbe .statistics_section__wallet {
    background: #f7fbf2;
    border: 1px solid rgba(102, 141, 46, 0.2);
    border-radius: 32px;
    padding: 24px; }
    @media (max-width: 575.98px) {
      .statistics_section__my_grbe .statistics_section__wallet {
        padding: 16px;
        border-radius: 24px; } }
  .statistics_section__my_grbe .statistics_section__grbe_in_wallet {
    display: flex;
    align-items: center; }
    .statistics_section__my_grbe .statistics_section__grbe_in_wallet .icon {
      -ms-flex: 0 0 48px;
      flex: 0 0 48px;
      max-width: 48px;
      height: 48px;
      background-color: #ffffff;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.02);
      border-radius: 50%;
      margin-right: 12px; }
    .statistics_section__my_grbe .statistics_section__grbe_in_wallet + .statistics_section__grbe_in_wallet {
      margin-top: 16px; }
    .statistics_section__my_grbe .statistics_section__grbe_in_wallet .detail .title {
      margin-bottom: 4px; }
    .statistics_section__my_grbe .statistics_section__grbe_in_wallet .detail .value {
      display: flex;
      align-items: center; }
      .statistics_section__my_grbe .statistics_section__grbe_in_wallet .detail .value .amount {
        font-size: 1rem;
        font-weight: 700;
        margin-right: 8px;
        color: #668d2e; }
      .statistics_section__my_grbe .statistics_section__grbe_in_wallet .detail .value .usd-value {
        font-size: 0.75rem;
        font-weight: 500;
        color: #74a034; }
  .statistics_section__my_grbe .statistics_section__harvest_action {
    margin-top: 24px; }
  @media (max-width: 1024.98px) {
    .statistics_section__my_grbe {
      grid-template-columns: 1fr; } }

.top_farm_section {
  padding: 50px 0; }

.top_farm_section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px; }

.top_farm_section__heading {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase; }

.top_farm_section__see_all_farm a {
  font-size: 1rem;
  font-weight: 500;
  color: #668d2e; }

.top_farm_section__main_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px; }
  @media (max-width: 1024.98px) {
    .top_farm_section__main_content {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 767.98px) {
    .top_farm_section__main_content {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 16px; } }

.top_farm_section__item {
  background: #f7fbf2;
  border: 1px solid rgba(102, 141, 46, 0.2);
  box-sizing: border-box;
  border-radius: 32px; }
  @media (max-width: 575.98px) {
    .top_farm_section__item {
      border-radius: 24px; } }

.top_farm_section__content_top_item {
  padding: 24px;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid rgba(102, 141, 46, 0.1); }
  @media (max-width: 575.98px) {
    .top_farm_section__content_top_item {
      padding: 16px; } }

.top_farm_section__item_logos {
  width: 86px;
  height: 48px;
  position: relative;
  margin-right: 12px; }
  .top_farm_section__item_logos img {
    width: 48px;
    height: 48px;
    background: #ffffff;
    border-radius: 50%; }
  .top_farm_section__item_logos .top_farm_section__item_logo_left,
  .top_farm_section__item_logos .top_farm_section__item_logo_right {
    width: 48px;
    height: 48px; }
  .top_farm_section__item_logos .top_farm_section__item_logo_right {
    position: absolute;
    top: 0;
    left: 38px;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25)); }

.top_farm_section__item_details .token-name {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 4px; }

.top_farm_section__item_details .tvl {
  color: #74a034; }

.top_farm_section__item_multiplier {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #ffffff;
  background: linear-gradient(180deg, #bf7f53, #cd9b78);
  font-weight: 700;
  border-radius: 12px; }
  @media (max-width: 1199.98px) {
    .top_farm_section__item_multiplier {
      top: -15px;
      left: -15px;
      transform: none; } }
  @media (max-width: 1024.98px) {
    .top_farm_section__item_multiplier {
      top: 50%;
      left: unset;
      transform: translateY(-50%); } }

.top_farm_section__content_bottom_item {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .top_farm_section__content_bottom_item .apr .amount {
    font-size: 1.5rem;
    font-weight: 700;
    color: #668d2e; }
