.list_products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 32px; }
  @media (max-width: 1199.98px) {
    .list_products {
      grid-template-columns: repeat(4, 1fr); } }
  @media (max-width: 1024.98px) {
    .list_products {
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 850.98px) {
    .list_products {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 575.98px) {
    .list_products {
      grid-template-columns: repeat(1, 1fr); } }

.list_products__item_wrapper {
  position: relative;
  cursor: pointer;
  transition: 0.3s all ease-in-out; }
  .list_products__item_wrapper.opened .list_products__unbox {
    transform: translateY(-100%);
    opacity: 0; }
  .list_products__item_wrapper:hover {
    transform: translateY(-2px); }

.list_products__item {
  display: block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 400px;
  max-width: 280px;
  margin: 0 auto; }
  .list_products__item .character__image {
    height: 248px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px; }
    .list_products__item .character__image img {
      max-height: 220px;
      width: auto; }
      @media (max-width: 1199.98px) {
        .list_products__item .character__image img {
          max-height: 200px; } }
    @media (max-width: 1199.98px) {
      .list_products__item .character__image {
        height: 240px; } }
    @media (max-width: 1024.98px) {
      .list_products__item .character__image {
        height: 248px; } }
    @media (max-width: 850.98px) {
      .list_products__item .character__image {
        height: 244px; } }
  .list_products__item .character__name {
    display: block;
    width: fit-content; }
    .list_products__item .character__name h3 {
      font-size: 0.875rem;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .list_products__item .character__price {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #668d2e;
    padding-bottom: 16px; }
    .list_products__item .character__price h2 {
      display: flex;
      align-items: center; }
      .list_products__item .character__price h2 img {
        flex: 0 0 24px;
        max-width: 24px;
        height: 24px;
        background-color: #ffffff;
        border-radius: 50%;
        overflow: hidden; }
      .list_products__item .character__price h2 span {
        font-weight: 700;
        font-size: 1.5rem;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        margin-left: 8px; }
        @media (max-width: 767.98px) {
          .list_products__item .character__price h2 span {
            font-size: 1.125rem; } }
    .list_products__item .character__price p {
      color: #666666;
      margin-left: 4px;
      margin-top: 4px; }
      @media (max-width: 767.98px) {
        .list_products__item .character__price p {
          font-size: 0.75rem;
          margin-top: 2px; } }
  .list_products__item .character__rating {
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    color: #ffc700; }
    .list_products__item .character__rating i + i {
      margin-left: 4px; }
  .list_products__item .item_wrapper__bottom {
    color: #212121;
    max-width: 70%;
    padding: 5% 0;
    margin: 0 auto; }
  .list_products__item .character__information .information__item {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .list_products__item .character__information .information__item + .information__item {
      margin-top: 8px; }
  .list_products__item .item_wrapper__action {
    display: flex;
    justify-content: center;
    padding: 0 16px 16px 16px; }
  .list_products__item[rating="1"] {
    background-image: url("../images/bg_card_item_product_rate_1.png"); }
  .list_products__item[rating="2"] {
    background-image: url("../images/bg_card_item_product_rate_2.png"); }
  .list_products__item[rating="3"] {
    background-image: url("../images/bg_card_item_product_rate_3.png"); }
  .list_products__item[rating="4"] {
    background-image: url("../images/bg_card_item_product_rate_4.png"); }
  .list_products__item[rating="5"] {
    background-image: url("../images/bg_card_item_product_rate_5.png"); }
  .list_products__item[rating="6"] {
    background-image: url("../images/bg_card_item_product_rate_6.png"); }

.list_products__unbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #e0eecc;
  z-index: 10;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out, opacity 0.4s ease-in-out; }
  .list_products__unbox img {
    max-width: 120px;
    animation: tranformSeedUnbox 1.2s infinite ease-in-out; }

.shop__pagination {
  margin-top: 32px;
  text-align: center; }
  .shop__pagination .pagination-item {
    font-weight: 500;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center; }
    .shop__pagination .pagination-item > a {
      color: #212121; }
    .shop__pagination .pagination-item i {
      font-size: 1rem; }
    .shop__pagination .pagination-item.disable > a {
      color: #9da5a0; }
    .shop__pagination .pagination-item.active {
      background-color: #668d2e; }
      .shop__pagination .pagination-item.active > a {
        color: #ffffff; }

.nft_your_tree_page {
  background-color: #f4fff8; }

.your_tree_info_section {
  margin-top: 32px; }

.your_tree_info_section__wrapper {
  position: relative;
  padding: 32px 0; }
  .your_tree_info_section__wrapper .your_tree_info_decorate {
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 200px; }
    .your_tree_info_section__wrapper .your_tree_info_decorate--left {
      left: 0; }
      @media (max-width: 1024.98px) {
        .your_tree_info_section__wrapper .your_tree_info_decorate--left {
          display: none; } }
    .your_tree_info_section__wrapper .your_tree_info_decorate--right {
      right: 0; }
      @media (max-width: 767.98px) {
        .your_tree_info_section__wrapper .your_tree_info_decorate--right {
          display: none; } }
    @media (max-width: 1199.98px) {
      .your_tree_info_section__wrapper .your_tree_info_decorate {
        max-width: 200px; } }
  @media (max-width: 767.98px) {
    .your_tree_info_section__wrapper {
      padding: 0; } }

.your_tree_info_section__item {
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  background: #668d2e;
  box-shadow: 0px 3px 6px rgba(17, 17, 17, 0.08);
  border-radius: 0.22rem;
  padding: 16px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto; }
  .your_tree_info_section__item .block {
    text-align: center; }
    .your_tree_info_section__item .block h4 {
      margin-bottom: 8px; }
    .your_tree_info_section__item .block span {
      font-size: 1.5rem;
      font-weight: 700; }
      .your_tree_info_section__item .block span.usd-value {
        font-size: 1rem; }
      .your_tree_info_section__item .block span + span {
        opacity: 0.8;
        margin-left: 4px; }
    @media (max-width: 575.98px) {
      .your_tree_info_section__item .block:first-child {
        grid-column: span 2; } }
  .your_tree_info_section__item .action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px; }
  @media (max-width: 1024.98px) {
    .your_tree_info_section__item {
      margin-left: 0; } }
  @media (max-width: 767.98px) {
    .your_tree_info_section__item {
      margin-left: auto; } }
  @media (max-width: 575.98px) {
    .your_tree_info_section__item {
      grid-template-columns: repeat(2, 1fr); } }

.your_tree_section {
  padding-top: 48px;
  padding-bottom: 80px; }
  @media (max-width: 767.98px) {
    .your_tree_section {
      padding-top: 30px; } }

.your_tree__filter_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px; }
  .your_tree__filter_top .left_partial .bt-tab-name.active {
    background: #668d2e;
    color: #ffffff; }
  .your_tree__filter_top .left_partial .partial__item {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem; }
  @media (max-width: 1024.98px) {
    .your_tree__filter_top .left_partial {
      margin-bottom: 16px; } }
  .your_tree__filter_top .right_partial {
    display: flex;
    align-items: center; }
    .your_tree__filter_top .right_partial .input_group > span {
      font-weight: 500;
      margin-right: 8px; }
    .your_tree__filter_top .right_partial .select__custom {
      margin-left: 16px; }
  @media (max-width: 1024.98px) {
    .your_tree__filter_top {
      flex-direction: column;
      align-items: flex-start; } }
  @media (max-width: 575.98px) {
    .your_tree__filter_top {
      align-items: center; } }
