.list_products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 32px; }
  @media (max-width: 1199.98px) {
    .list_products {
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 900.98px) {
    .list_products {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 600.98px) {
    .list_products {
      grid-template-columns: repeat(1, 1fr); } }

.list_products__item_wrapper {
  position: relative;
  cursor: pointer; }
  .list_products__item_wrapper .item_wrapper__action {
    display: flex;
    justify-content: center; }
    .list_products__item_wrapper .item_wrapper__action .bt {
      font-size: 1rem;
      padding: 0.88rem 3.22rem; }

.list_products__item {
  display: block;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 410px;
  max-width: 280px;
  margin: 0 auto;
  transition: 0.3s all ease-in-out; }
  .list_products__item .item_wrapper__top {
    position: relative;
    padding: 28px 0 8px; }
  .list_products__item .character__image {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .list_products__item .character__image .image {
      display: flex;
      align-content: center;
      justify-content: center;
      border-radius: 0.44rem;
      height: 100%;
      max-width: 80%;
      width: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
    .list_products__item .character__image img {
      max-height: 220px;
      width: auto; }
  .list_products__item .character__name {
    display: block;
    width: fit-content; }
    .list_products__item .character__name h3 {
      font-size: 0.875rem;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .list_products__item .character__id {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 4px 8px;
    border-radius: 0.88rem;
    font-size: 0.75rem;
    font-weight: 600; }
  .list_products__item .character__class {
    position: relative;
    width: 24px;
    height: 24px; }
    .list_products__item .character__class:before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover; }
  .list_products__item .character__rating {
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    color: #ffc700; }
    .list_products__item .character__rating i + i {
      margin-left: 4px; }
  .list_products__item .item_wrapper__bottom {
    color: #212121;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    background-color: #f4f9f4;
    border-radius: 0.44rem; }
  .list_products__item .character__information {
    padding: 5%; }
    .list_products__item .character__information .information__item {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .list_products__item .character__information .information__item + .information__item {
        margin-top: 8px; }
    .list_products__item .character__information .color-rating {
      font-weight: 600; }
  .list_products__item .character__status {
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
    padding: 5%;
    border-top: 1px solid #d9d9d9; }
  .list_products__item .character__actions {
    display: flex;
    justify-content: center;
    padding: 5%;
    border-top: 1px solid #d9d9d9; }
    .list_products__item .character__actions .bt + .bt {
      margin-left: 8px; }
  .list_products__item .character__price {
    margin-top: 8px; }
    .list_products__item .character__price .price__wrapper {
      display: flex;
      justify-content: center;
      align-items: center; }
      .list_products__item .character__price .price__wrapper .icon {
        width: 32px;
        height: 32px;
        background-color: #ffffff;
        border-radius: 50%;
        overflow: hidden; }
      .list_products__item .character__price .price__wrapper .price {
        color: #668d2e;
        padding-left: 8px; }
        .list_products__item .character__price .price__wrapper .price span {
          display: block;
          font-size: 24px;
          font-weight: 700; }
    .list_products__item .character__price .price-usd {
      color: #666666;
      text-align: center; }
  .list_products__item:hover {
    transform: translateY(-2px); }
  .list_products__item[expired="true"] {
    filter: grayscale(100%); }
  .list_products__item[rating="1"] {
    background-image: url("../images/bg_card_item_product_rate_1.png"); }
    .list_products__item[rating="1"] .color-rating {
      color: #8b8b8b; }
  .list_products__item[rating="2"] {
    background-image: url("../images/bg_card_item_product_rate_2.png"); }
    .list_products__item[rating="2"] .color-rating {
      color: #9bc65f; }
  .list_products__item[rating="3"] {
    background-image: url("../images/bg_card_item_product_rate_3.png"); }
    .list_products__item[rating="3"] .color-rating {
      color: #40b3db; }
  .list_products__item[rating="4"] {
    background-image: url("../images/bg_card_item_product_rate_4.png"); }
    .list_products__item[rating="4"] .color-rating {
      color: #c073f0; }
  .list_products__item[rating="5"] {
    background-image: url("../images/bg_card_item_product_rate_5.png"); }
    .list_products__item[rating="5"] .color-rating {
      color: #e9524c; }
  .list_products__item[rating="6"] {
    background-image: url("../images/bg_card_item_product_rate_6.png"); }
    .list_products__item[rating="6"] .color-rating {
      color: #f59d26; }
  .list_products__item[character-class="fire"] .character__image .image {
    background-image: url("../images/bg_hero_fire.png"); }
  .list_products__item[character-class="fire"] .character__class:before {
    background-image: url("../icons/hero-class/fire.png"); }
  .list_products__item[character-class="water"] .character__image .image {
    background-image: url("../images/bg_hero_water.png"); }
  .list_products__item[character-class="water"] .character__class:before {
    background-image: url("../icons/hero-class/water.png"); }
  .list_products__item[character-class="metal"] .character__image .image {
    background-image: url("../images/bg_hero_metal.png"); }
  .list_products__item[character-class="metal"] .character__class:before {
    background-image: url("../icons/hero-class/metal.png"); }
  .list_products__item[character-class="wood"] .character__image .image {
    background-image: url("../images/bg_hero_wood.png"); }
  .list_products__item[character-class="wood"] .character__class:before {
    background-image: url("../icons/hero-class/wood.png"); }
  .list_products__item[character-class="earth"] .character__image .image {
    background-image: url("../images/bg_hero_earth.png"); }
  .list_products__item[character-class="earth"] .character__class:before {
    background-image: url("../icons/hero-class/earth.png"); }

.shop__pagination {
  margin-top: 32px;
  text-align: center; }
  .shop__pagination .pagination-item {
    font-weight: 500;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center; }
    .shop__pagination .pagination-item > a {
      color: #212121; }
    .shop__pagination .pagination-item i {
      font-size: 1rem; }
    .shop__pagination .pagination-item.disable > a {
      color: #9da5a0; }
    .shop__pagination .pagination-item.active {
      background-color: #668d2e; }
      .shop__pagination .pagination-item.active > a {
        color: #ffffff; }

.nft_your_tree_page {
  background-color: #f4fff8; }

.your_tree_info_section {
  margin-top: 32px; }

.your_tree_info_section__wrapper {
  position: relative; }

.your_tree_info_section__item {
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  background: #668d2e;
  box-shadow: 0px 3px 6px rgba(17, 17, 17, 0.08);
  border-radius: 1.22rem;
  padding: 16px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto; }
  .your_tree_info_section__item .block {
    text-align: center; }
    .your_tree_info_section__item .block h4 {
      margin-bottom: 8px; }
    .your_tree_info_section__item .block span {
      font-size: 1.5rem;
      font-weight: 700; }
      .your_tree_info_section__item .block span.usd-value {
        font-size: 1rem; }
      .your_tree_info_section__item .block span + span {
        opacity: 0.8;
        margin-left: 4px; }
    @media (max-width: 575.98px) {
      .your_tree_info_section__item .block:first-child {
        grid-column: span 2; } }
  .your_tree_info_section__item .action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px; }
  @media (max-width: 1024.98px) {
    .your_tree_info_section__item {
      margin-left: 0; } }
  @media (max-width: 767.98px) {
    .your_tree_info_section__item {
      margin-left: auto; } }
  @media (max-width: 575.98px) {
    .your_tree_info_section__item {
      grid-template-columns: repeat(2, 1fr); } }

.your_tree_section {
  padding-top: 48px;
  padding-bottom: 80px; }
  @media (max-width: 767.98px) {
    .your_tree_section {
      padding-top: 30px; } }

.your_tree__filter_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px; }
  .your_tree__filter_top .right_partial {
    display: flex;
    align-items: center; }
    .your_tree__filter_top .right_partial .input_group > span {
      font-weight: 500;
      margin-right: 8px; }
    .your_tree__filter_top .right_partial .select__custom {
      margin-left: 16px; }
  @media (max-width: 1024.98px) {
    .your_tree__filter_top {
      flex-direction: column;
      align-items: flex-start; } }
  @media (max-width: 575.98px) {
    .your_tree__filter_top {
      align-items: center; } }
