.shop_section {
  padding-top: 48px;
  padding-bottom: 80px; }

.shop__wrapper {
  display: grid;
  grid-template-columns: 262px auto;
  grid-column-gap: 32px; }

.shop__fiter_left .title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 18px; }

.shop__filter_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px; }
  .shop__filter_top .left_partial .tabs_row {
    background: rgba(102, 141, 46, 0.2);
    border-radius: 100px;
    margin-right: 24px; }
  .shop__filter_top .left_partial .bt-tab-name.active {
    background: #668d2e;
    color: #ffffff; }

.shop__filter_tabs_nav {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 32px; }
  .shop__filter_tabs_nav .tab_item {
    cursor: pointer;
    user-select: none;
    border: 1px solid rgba(102, 141, 46, 0.4);
    transition: color 0.3s ease-in-out; }
    .shop__filter_tabs_nav .tab_item:not(.active):hover {
      color: rgba(102, 141, 46, 0.8); }
    .shop__filter_tabs_nav .tab_item.active {
      color: #ffffff;
      background-color: #668d2e; }

.shop__filter_tabs_content .filter_block + .filter_block {
  margin-top: 32px; }

.shop__filter_tabs_content .filter_block__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px; }

.shop__filter_tabs_content .filter_block__title {
  color: #666666;
  font-weight: 500;
  margin-bottom: 12px; }

.shop__filter_tabs_content .filter_block__item {
  display: flex;
  align-items: center; }
  .shop__filter_tabs_content .filter_block__item .checkbox__custom {
    margin-right: 8px; }
  .shop__filter_tabs_content .filter_block__item img {
    margin-right: 4px; }
  .shop__filter_tabs_content .filter_block__item span {
    display: inline-block;
    text-overflow: ellipsis;
    max-width: 60px;
    overflow: hidden; }

.shop__main_content .total_rgbe {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 18px; }

.list_products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px; }

.list_products__item {
  background: #f7fbf2;
  background-clip: padding-box;
  border-radius: 16px;
  border: 2px solid transparent;
  position: relative;
  cursor: pointer; }
  .list_products__item .passive {
    position: absolute;
    top: 8px;
    left: 8px; }
    .list_products__item .passive span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      border-radius: 50%; }
      .list_products__item .passive span img {
        width: 75%; }
  .list_products__item .power {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 47px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f56a42;
    border-radius: 100px; }
    .list_products__item .power i {
      color: #ffffff;
      margin-right: 4px; }
    .list_products__item .power .value {
      font-size: 0.75rem;
      font-weight: 500;
      color: #ffffff; }
  .list_products__item--water .passive span {
    background-color: #00baff; }
  .list_products__item--water:after {
    background: linear-gradient(180deg, #00f0ff, #00baff); }
  .list_products__item--light .passive span {
    background-color: #eab232; }
  .list_products__item--light:after {
    background: linear-gradient(180deg, #fccda1, #e0a381); }
  .list_products__item--fire .passive span {
    background-color: #ff561e; }
  .list_products__item--fire:after {
    background: linear-gradient(180deg, #ffb660, #ff561e); }
  .list_products__item--dark .passive span {
    background-color: #b829ff; }
  .list_products__item--dark:after {
    background: linear-gradient(180deg, #ca8dff, #a96fee); }
  .list_products__item--grass .passive span {
    background-color: #4ddf23; }
  .list_products__item--grass:after {
    background: linear-gradient(180deg, #4ddf23, #43d51a); }
  .list_products__item:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    margin: -2px;
    border-radius: inherit; }

.list_products__thumbnail {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .list_products__thumbnail .lazyload-wrapper img {
    max-height: 180px; }

.list_products__info {
  padding: 12px 16px 16px; }
  .list_products__info .name {
    font-weight: 500;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .list_products__info .detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px; }
    .list_products__info .detail .code {
      font-size: 0.75rem; }
    .list_products__info .detail .rating {
      color: #ffc700; }
      .list_products__info .detail .rating i + i {
        margin-left: 4px; }
  .list_products__info .price {
    display: flex;
    align-items: center; }
    .list_products__info .price img {
      width: 20px;
      margin-right: 4px; }
    .list_products__info .price .value {
      font-weight: 500;
      color: #668d2e;
      margin-right: 4px; }
    .list_products__info .price .usd-value {
      font-size: 0.75rem;
      font-weight: 500;
      color: #666666; }

.shop__pagination {
  margin-top: 32px;
  text-align: center; }
  .shop__pagination .pagination-item {
    font-weight: 500;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center; }
    .shop__pagination .pagination-item > a {
      color: #212121; }
    .shop__pagination .pagination-item i {
      font-size: 1rem; }
    .shop__pagination .pagination-item.disable > a {
      color: #9da5a0; }
    .shop__pagination .pagination-item.active {
      background-color: #668d2e; }
      .shop__pagination .pagination-item.active > a {
        color: #ffffff; }
