.list_products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 32px; }
  @media (max-width: 1199.98px) {
    .list_products {
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 900.98px) {
    .list_products {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 600.98px) {
    .list_products {
      grid-template-columns: repeat(1, 1fr); } }

.list_products__item_wrapper {
  position: relative;
  cursor: pointer; }
  .list_products__item_wrapper .item_wrapper__action {
    display: flex;
    justify-content: center; }
    .list_products__item_wrapper .item_wrapper__action .bt {
      font-size: 1rem;
      padding: 0.88rem 3.22rem; }

.list_products__item {
  display: block;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 410px;
  max-width: 280px;
  margin: 0 auto;
  transition: 0.3s all ease-in-out; }
  .list_products__item .item_wrapper__top {
    position: relative;
    padding: 28px 0 8px; }
  .list_products__item .character__image {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .list_products__item .character__image .image {
      display: flex;
      align-content: center;
      justify-content: center;
      border-radius: 0.44rem;
      height: 100%;
      max-width: 80%;
      width: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
    .list_products__item .character__image img {
      max-height: 220px;
      width: auto; }
  .list_products__item .character__name {
    display: block;
    width: fit-content; }
    .list_products__item .character__name h3 {
      font-size: 0.875rem;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .list_products__item .character__id {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 4px 8px;
    border-radius: 0.88rem;
    font-size: 0.75rem;
    font-weight: 600; }
  .list_products__item .character__class {
    position: relative;
    width: 24px;
    height: 24px; }
    .list_products__item .character__class:before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover; }
  .list_products__item .character__rating {
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    color: #ffc700; }
    .list_products__item .character__rating i + i {
      margin-left: 4px; }
  .list_products__item .item_wrapper__bottom {
    color: #212121;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    background-color: #f4f9f4;
    border-radius: 0.44rem; }
  .list_products__item .character__information {
    padding: 5%; }
    .list_products__item .character__information .information__item {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .list_products__item .character__information .information__item + .information__item {
        margin-top: 8px; }
    .list_products__item .character__information .color-rating {
      font-weight: 600; }
  .list_products__item .character__status {
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
    padding: 5%;
    border-top: 1px solid #d9d9d9; }
  .list_products__item .character__actions {
    display: flex;
    justify-content: center;
    padding: 5%;
    border-top: 1px solid #d9d9d9; }
    .list_products__item .character__actions .bt + .bt {
      margin-left: 8px; }
  .list_products__item .character__price {
    margin-top: 8px; }
    .list_products__item .character__price .price__wrapper {
      display: flex;
      justify-content: center;
      align-items: center; }
      .list_products__item .character__price .price__wrapper .icon {
        width: 32px;
        height: 32px;
        background-color: #ffffff;
        border-radius: 50%;
        overflow: hidden; }
      .list_products__item .character__price .price__wrapper .price {
        color: #668d2e;
        padding-left: 8px; }
        .list_products__item .character__price .price__wrapper .price span {
          display: block;
          font-size: 24px;
          font-weight: 700; }
    .list_products__item .character__price .price-usd {
      color: #666666;
      text-align: center; }
  .list_products__item:hover {
    transform: translateY(-2px); }
  .list_products__item[rating="1"] {
    background-image: url("../images/bg_card_item_product_rate_1.png"); }
    .list_products__item[rating="1"] .color-rating {
      color: #8b8b8b; }
  .list_products__item[rating="2"] {
    background-image: url("../images/bg_card_item_product_rate_2.png"); }
    .list_products__item[rating="2"] .color-rating {
      color: #9bc65f; }
  .list_products__item[rating="3"] {
    background-image: url("../images/bg_card_item_product_rate_3.png"); }
    .list_products__item[rating="3"] .color-rating {
      color: #40b3db; }
  .list_products__item[rating="4"] {
    background-image: url("../images/bg_card_item_product_rate_4.png"); }
    .list_products__item[rating="4"] .color-rating {
      color: #c073f0; }
  .list_products__item[rating="5"] {
    background-image: url("../images/bg_card_item_product_rate_5.png"); }
    .list_products__item[rating="5"] .color-rating {
      color: #e9524c; }
  .list_products__item[rating="6"] {
    background-image: url("../images/bg_card_item_product_rate_6.png"); }
    .list_products__item[rating="6"] .color-rating {
      color: #f59d26; }
  .list_products__item[character-class="fire"] .character__image .image {
    background-image: url("../images/bg_hero_fire.png"); }
  .list_products__item[character-class="fire"] .character__class:before {
    background-image: url("../icons/hero-class/fire.png"); }
  .list_products__item[character-class="water"] .character__image .image {
    background-image: url("../images/bg_hero_water.png"); }
  .list_products__item[character-class="water"] .character__class:before {
    background-image: url("../icons/hero-class/water.png"); }
  .list_products__item[character-class="metal"] .character__image .image {
    background-image: url("../images/bg_hero_metal.png"); }
  .list_products__item[character-class="metal"] .character__class:before {
    background-image: url("../icons/hero-class/metal.png"); }
  .list_products__item[character-class="wood"] .character__image .image {
    background-image: url("../images/bg_hero_wood.png"); }
  .list_products__item[character-class="wood"] .character__class:before {
    background-image: url("../icons/hero-class/wood.png"); }
  .list_products__item[character-class="earth"] .character__image .image {
    background-image: url("../images/bg_hero_earth.png"); }
  .list_products__item[character-class="earth"] .character__class:before {
    background-image: url("../icons/hero-class/earth.png"); }

.shop__pagination {
  margin-top: 32px;
  text-align: center; }
  .shop__pagination .pagination-item {
    font-weight: 500;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center; }
    .shop__pagination .pagination-item > a {
      color: #212121; }
    .shop__pagination .pagination-item i {
      font-size: 1rem; }
    .shop__pagination .pagination-item.disable > a {
      color: #9da5a0; }
    .shop__pagination .pagination-item.active {
      background-color: #668d2e; }
      .shop__pagination .pagination-item.active > a {
        color: #ffffff; }

.nft_market_page {
  background-color: #f4fff8; }

.shop_section {
  padding-top: 48px;
  padding-bottom: 80px; }
  @media (max-width: 767.98px) {
    .shop_section {
      padding-top: 30px; } }

.shop__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px; }
  @media (max-width: 1024.98px) {
    .shop__wrapper {
      grid-template-columns: 1fr; } }
  .shop__wrapper .button-mobile {
    display: none;
    justify-content: center; }
    @media (max-width: 575.98px) {
      .shop__wrapper .button-mobile {
        display: flex; } }
  @media (max-width: 575.98px) {
    .shop__wrapper {
      grid-gap: 16px; } }

.shop__filter {
  background: #ecf5df;
  padding: 16px;
  border-radius: 1.22rem;
  box-shadow: 0px 3px 6px rgba(17, 17, 17, 0.08);
  border: 2px solid rgba(102, 141, 46, 0.2); }
  .shop__filter .filter__top {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .shop__filter .filter__top h3 {
      font-size: 1rem;
      font-weight: 700; }
  .shop__filter .filter__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin-top: 24px; }
    @media (max-width: 767.98px) {
      .shop__filter .filter__items {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 575.98px) {
      .shop__filter .filter__items {
        grid-template-columns: repeat(1, 1fr); } }
  .shop__filter .filter_block {
    background: #d5e8b9;
    border-radius: 8px;
    overflow: hidden; }
    .shop__filter .filter_block h4 {
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      background: #c9e2a5;
      padding: 8px;
      margin-bottom: 16px; }
  .shop__filter .filter_block_checkbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    padding: 0px 16px 16px 16px; }
    .shop__filter .filter_block_checkbox .input_group_checkbox .checkbox__custom {
      -ms-flex: 0 0 24px;
      flex: 0 0 24px;
      max-width: 24px;
      margin-right: 4px; }
    .shop__filter .filter_block_checkbox .input_group_checkbox .icon-star {
      color: #ffc700; }
    .shop__filter .filter_block_checkbox .input_group_checkbox .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      -ms-flex: 0 0 24px;
      flex: 0 0 24px;
      max-width: 24px;
      height: 24px; }
    .shop__filter .filter_block_checkbox .input_group_checkbox label[rarity] {
      cursor: pointer;
      color: #ffffff;
      justify-content: center;
      height: 32px;
      background-color: #849c61;
      width: 100%;
      border-radius: 4px;
      transition: 0.3s all ease-in-out; }
    .shop__filter .filter_block_checkbox .input_group_checkbox label[rarity="common"].checked {
      background-color: #8e8e8e; }
    .shop__filter .filter_block_checkbox .input_group_checkbox label[rarity="uncommon"].checked {
      background-color: #25b503; }
    .shop__filter .filter_block_checkbox .input_group_checkbox label[rarity="rare"].checked {
      background-color: #3c78d8; }
    .shop__filter .filter_block_checkbox .input_group_checkbox label[rarity="epic"].checked {
      background-color: #9900ff; }
    .shop__filter .filter_block_checkbox .input_group_checkbox label[rarity="legendary"].checked {
      background-color: #ff0000; }
    .shop__filter .filter_block_checkbox .input_group_checkbox label[rarity="mythical"].checked {
      background-color: #e69138; }
    @media (max-width: 1199.98px) {
      .shop__filter .filter_block_checkbox {
        grid-template-columns: repeat(2, 1fr); } }
  .shop__filter .close-filter-mobile {
    margin-bottom: 16px;
    display: none; }
    @media (max-width: 575.98px) {
      .shop__filter .close-filter-mobile {
        display: block; } }
  .shop__filter .bt-close-filter-mobile {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-left: auto;
    background-color: #668d2e;
    border-radius: 50%; }
  .shop__filter .shop__filter_container {
    margin-top: 24px; }
    .shop__filter .shop__filter_container .tabs_row {
      background-color: rgba(102, 141, 46, 0.2);
      border-radius: 1.22rem;
      display: inline-flex; }
      .shop__filter .shop__filter_container .tabs_row .bt.active {
        color: #ffffff;
        background-color: #668d2e; }
  @media (max-width: 575.98px) {
    .shop__filter {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 400;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      max-height: 80vh;
      height: 100%;
      overflow-y: auto;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s all ease-in-out; } }
  .shop__filter.active {
    opacity: 1;
    visibility: visible; }

.shop__main_content .shop__main_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px; }
  .shop__main_content .shop__main_top .right {
    display: flex;
    align-items: center; }
    .shop__main_content .shop__main_top .right .input_group {
      width: auto; }
      .shop__main_content .shop__main_top .right .input_group span {
        padding-right: 4px; }
  @media (max-width: 575.98px) {
    .shop__main_content .shop__main_top {
      flex-direction: column; } }

.shop__main_content .total-green-hero {
  font-size: 1rem; }
  @media (max-width: 575.98px) {
    .shop__main_content .total-green-hero {
      margin-bottom: 24px; } }

.shop__main_content .sort_block {
  display: flex;
  align-items: center;
  margin-right: 16px; }
  .shop__main_content .sort_block label {
    margin-right: 8px; }

.shop__main_content .list_products {
  grid-template-columns: repeat(4, 1fr); }
  @media (max-width: 1199.98px) {
    .shop__main_content .list_products {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 1024.98px) {
    .shop__main_content .list_products {
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 850.98px) {
    .shop__main_content .list_products {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 575.98px) {
    .shop__main_content .list_products {
      grid-template-columns: repeat(1, 1fr); } }
