.list_products {
  display: grid; }

.list_products__item {
  border-radius: 0.22rem;
  position: relative;
  cursor: pointer;
  border: 2px solid rgba(102, 141, 46, 0.2);
  box-shadow: 0px 3px 6px rgba(17, 17, 17, 0.08);
  transition: 0.3s all ease-in-out; }
  .list_products__item .item_wrapper__top {
    background: #e0eecc; }
  .list_products__item .character__image {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .list_products__item .character__image img {
      max-height: 180px; }
  .list_products__item .character__name {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 4px 0; }
    .list_products__item .character__name h3 {
      text-align: center;
      font-size: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .list_products__item .character__rating {
    display: flex;
    justify-content: center;
    color: #ffc700;
    padding-bottom: 8px; }
    .list_products__item .character__rating i + i {
      margin-left: 4px; }
  .list_products__item .item_wrapper__bottom {
    padding: 16px;
    color: #212121;
    background-color: #ffffff; }
  .list_products__item .character__information .information__item {
    display: flex;
    justify-content: space-between; }
    .list_products__item .character__information .information__item + .information__item {
      margin-top: 8px; }
  .list_products__item .item_wrapper__action {
    padding: 0 16px 16px 16px;
    background-color: #ffffff; }
  .list_products__item:hover {
    box-shadow: 0px 3px 6px rgba(17, 17, 17, 0.16);
    border: 2px solid rgba(102, 141, 46, 0.5);
    transform: translateY(-2px); }

.shop_section {
  padding-top: 48px;
  padding-bottom: 80px; }
  @media (max-width: 767.98px) {
    .shop_section {
      padding-top: 30px; } }

.shop__wrapper {
  display: grid;
  grid-template-columns: 262px auto;
  grid-column-gap: 32px; }
  @media (max-width: 767.98px) {
    .shop__wrapper {
      grid-template-columns: 1fr; } }

.shop__fiter_left .title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 18px; }

@media (max-width: 767.98px) {
  .shop__fiter_left {
    max-width: 262px;
    margin-bottom: 32px; } }

.shop__filter_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px; }
  .shop__filter_top .left_partial .bt-tab-name.active {
    background: #668d2e;
    color: #ffffff; }
  .shop__filter_top .left_partial .total_rgbe {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: 500; }
  @media (max-width: 1024.98px) {
    .shop__filter_top .left_partial {
      margin-bottom: 16px; } }
  .shop__filter_top .right_partial {
    display: flex;
    align-items: center; }
    .shop__filter_top .right_partial .input_group > span {
      font-weight: 500;
      margin-right: 8px; }
    .shop__filter_top .right_partial .select__custom {
      margin-left: 16px; }
  @media (max-width: 1024.98px) {
    .shop__filter_top {
      flex-direction: column;
      align-items: flex-start; } }

.shop__filter_tabs_nav {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 32px; }
  .shop__filter_tabs_nav .tab_item {
    cursor: pointer;
    user-select: none;
    border: 1px solid rgba(102, 141, 46, 0.4);
    transition: color 0.3s ease-in-out; }
    .shop__filter_tabs_nav .tab_item:not(.active):hover {
      color: rgba(102, 141, 46, 0.8); }
    .shop__filter_tabs_nav .tab_item.active {
      color: #ffffff;
      background-color: #668d2e; }

.shop__filter_tabs_content .filter_block + .filter_block {
  margin-top: 32px; }

.shop__filter_tabs_content .filter_block__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px; }

.shop__filter_tabs_content .filter_block__title {
  color: #666666;
  font-weight: 500;
  margin-bottom: 12px; }

.shop__filter_tabs_content .filter_block__item {
  display: flex;
  align-items: center; }
  .shop__filter_tabs_content .filter_block__item .checkbox__custom {
    margin-right: 8px; }
  .shop__filter_tabs_content .filter_block__item img {
    margin-right: 4px;
    width: 24px;
    height: 24px; }
  .shop__filter_tabs_content .filter_block__item span {
    display: inline-block;
    text-overflow: ellipsis;
    max-width: 60px;
    overflow: hidden;
    font-weight: 400; }

.list_products {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px; }
  @media (max-width: 1199.98px) {
    .list_products {
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 1024.98px) {
    .list_products {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 575.98px) {
    .list_products {
      grid-template-columns: repeat(1, 1fr); } }

.shop__pagination {
  margin-top: 32px;
  text-align: center; }
  .shop__pagination .pagination-item {
    font-weight: 500;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center; }
    .shop__pagination .pagination-item > a {
      color: #212121; }
    .shop__pagination .pagination-item i {
      font-size: 1rem; }
    .shop__pagination .pagination-item.disable > a {
      color: #9da5a0; }
    .shop__pagination .pagination-item.active {
      background-color: #668d2e; }
      .shop__pagination .pagination-item.active > a {
        color: #ffffff; }
