.list_products {
  display: grid; }

.list_products__item {
  border-radius: 0.22rem;
  position: relative;
  cursor: pointer;
  border: 2px solid rgba(102, 141, 46, 0.2);
  box-shadow: 0px 3px 6px rgba(17, 17, 17, 0.08);
  transition: 0.3s all ease-in-out; }
  .list_products__item .item_wrapper__top {
    background: #e0eecc; }
  .list_products__item .character__image {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .list_products__item .character__image img {
      max-height: 180px; }
  .list_products__item .character__name {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 4px 0; }
    .list_products__item .character__name h3 {
      text-align: center;
      font-size: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .list_products__item .character__rating {
    display: flex;
    justify-content: center;
    color: #ffc700;
    padding-bottom: 16px; }
    .list_products__item .character__rating i + i {
      margin-left: 4px; }
  .list_products__item .item_wrapper__bottom {
    padding: 16px;
    color: #212121;
    background-color: #ffffff; }
  .list_products__item .character__information .information__item {
    display: flex;
    justify-content: space-between; }
    .list_products__item .character__information .information__item + .information__item {
      margin-top: 8px; }
  .list_products__item .item_wrapper__action {
    padding: 0 16px 16px 16px;
    background-color: #ffffff; }
  .list_products__item:hover {
    box-shadow: 0px 3px 6px rgba(17, 17, 17, 0.16);
    border: 2px solid rgba(102, 141, 46, 0.5);
    transform: translateY(-2px); }

.shop_section {
  padding-top: 48px;
  padding-bottom: 80px; }
  @media (max-width: 767.98px) {
    .shop_section {
      padding-top: 30px; } }

.shop__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px; }

.shop__filter {
  background: #ecf5df;
  padding: 16px;
  border-radius: 0.22rem;
  box-shadow: 0px 3px 6px rgba(17, 17, 17, 0.08);
  border: 2px solid rgba(102, 141, 46, 0.2); }
  .shop__filter .filter__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px; }
    .shop__filter .filter__top .left_partial .partial__item {
      display: flex;
      justify-content: space-between;
      font-size: 1.25rem; }
      @media (max-width: 575.98px) {
        .shop__filter .filter__top .left_partial .partial__item {
          font-size: 1rem; } }
    .shop__filter .filter__top .right_partial {
      display: flex;
      align-items: center; }
      .shop__filter .filter__top .right_partial .input_group > span {
        margin-right: 8px; }
      @media (max-width: 767.98px) {
        .shop__filter .filter__top .right_partial {
          margin-top: 16px; } }
    @media (max-width: 767.98px) {
      .shop__filter .filter__top {
        flex-direction: column;
        align-items: flex-start; } }
  .shop__filter .filter__main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px; }
    .shop__filter .filter__main .filter_block__label {
      color: #00332c;
      font-weight: 500;
      margin-bottom: 8px; }
    @media (max-width: 767.98px) {
      .shop__filter .filter__main {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 575.98px) {
      .shop__filter .filter__main {
        grid-template-columns: repeat(1, 1fr); } }

.list_products {
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px; }
  @media (max-width: 1199.98px) {
    .list_products {
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 1024.98px) {
    .list_products {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 575.98px) {
    .list_products {
      grid-template-columns: repeat(1, 1fr); } }

.shop__pagination {
  margin-top: 32px;
  text-align: center; }
  .shop__pagination .pagination-item {
    font-weight: 500;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center; }
    .shop__pagination .pagination-item > a {
      color: #212121; }
    .shop__pagination .pagination-item i {
      font-size: 1rem; }
    .shop__pagination .pagination-item.disable > a {
      color: #9da5a0; }
    .shop__pagination .pagination-item.active {
      background-color: #668d2e; }
      .shop__pagination .pagination-item.active > a {
        color: #ffffff; }
