.list_products {
  display: grid; }

.list_products__item {
  background-clip: padding-box;
  border-radius: 0.22rem;
  border: 2px solid transparent;
  position: relative;
  cursor: pointer; }
  .list_products__item .passive {
    position: absolute;
    top: 8px;
    left: 8px; }
    .list_products__item .passive span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #3d3e40; }
      .list_products__item .passive span img {
        width: 75%; }
  .list_products__item .power {
    position: absolute;
    top: 8px;
    right: 8px;
    min-width: 48px;
    height: 24px;
    display: flex;
    padding: 0 8px;
    align-items: center;
    justify-content: center;
    background: #f56a42;
    border-radius: 100px; }
    .list_products__item .power i {
      color: #ffffff;
      margin-right: 4px; }
    .list_products__item .power .value {
      font-size: 0.75rem;
      font-weight: 500;
      color: #ffffff; }
  .list_products__item--metal {
    background-color: #fff9e6; }
    .list_products__item--metal:after {
      background: linear-gradient(180deg, #ffe999, #ffc700); }
  .list_products__item--wood {
    background-color: #efffeb; }
    .list_products__item--wood:after {
      background: linear-gradient(180deg, #75fc55, #25b503); }
  .list_products__item--water {
    background-color: #e3fbff; }
    .list_products__item--water:after {
      background: linear-gradient(180deg, #7deeff, #00c6e3); }
  .list_products__item--fire {
    background-color: #fef7f6; }
    .list_products__item--fire:after {
      background: linear-gradient(180deg, #f9a195, #f67665); }
  .list_products__item--earth {
    background-color: #f6f2f0; }
    .list_products__item--earth:after {
      background: linear-gradient(180deg, #baa193, #8d6c5a); }
  .list_products__item:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    margin: -2px;
    border-radius: inherit; }

.list_products__thumbnail {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .list_products__thumbnail .lazyload-wrapper img {
    max-height: 180px; }

.list_products__info {
  color: #212121;
  padding: 12px 16px 16px; }
  .list_products__info .name {
    font-weight: 500;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .list_products__info .detail {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .list_products__info .detail .code {
      font-size: 0.75rem;
      font-weight: 400; }
    .list_products__info .detail .rating {
      color: #ffc700; }
      .list_products__info .detail .rating i + i {
        margin-left: 4px; }
    .list_products__info .detail .status {
      color: #3397e2;
      font-weight: 500; }
    .list_products__info .detail + .detail {
      margin-top: 12px; }
  .list_products__info .price {
    display: flex;
    align-items: center;
    margin-top: 12px; }
    .list_products__info .price img {
      width: 32px;
      margin-right: 4px; }
    .list_products__info .price .value {
      font-weight: 500;
      color: #668d2e;
      margin-right: 4px; }
    .list_products__info .price .usd-value {
      font-size: 0.75rem;
      font-weight: 500;
      color: #666666; }

.list_products__action {
  padding: 0 16px 16px; }

.shop_section {
  padding-top: 48px;
  padding-bottom: 80px; }
  @media (max-width: 767.98px) {
    .shop_section {
      padding-top: 30px; } }

.shop__wrapper {
  display: grid;
  grid-template-columns: 262px auto;
  grid-column-gap: 32px; }
  @media (max-width: 767.98px) {
    .shop__wrapper {
      grid-template-columns: 1fr; } }

.shop__fiter_left .title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 18px; }

@media (max-width: 767.98px) {
  .shop__fiter_left {
    max-width: 262px;
    margin-bottom: 32px; } }

.shop__filter_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px; }
  .shop__filter_top .left_partial .bt-tab-name.active {
    background: #668d2e;
    color: #ffffff; }
  .shop__filter_top .left_partial .total_rgbe {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: 500; }
  @media (max-width: 1024.98px) {
    .shop__filter_top .left_partial {
      margin-bottom: 16px; } }
  .shop__filter_top .right_partial {
    display: flex;
    align-items: center; }
    .shop__filter_top .right_partial .input_group > span {
      font-weight: 500;
      margin-right: 8px; }
    .shop__filter_top .right_partial .select__custom {
      margin-left: 16px; }
  @media (max-width: 1024.98px) {
    .shop__filter_top {
      flex-direction: column;
      align-items: flex-start; } }

.shop__filter_tabs_nav {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 32px; }
  .shop__filter_tabs_nav .tab_item {
    cursor: pointer;
    user-select: none;
    border: 1px solid rgba(102, 141, 46, 0.4);
    transition: color 0.3s ease-in-out; }
    .shop__filter_tabs_nav .tab_item:not(.active):hover {
      color: rgba(102, 141, 46, 0.8); }
    .shop__filter_tabs_nav .tab_item.active {
      color: #ffffff;
      background-color: #668d2e; }

.shop__filter_tabs_content .filter_block + .filter_block {
  margin-top: 32px; }

.shop__filter_tabs_content .filter_block__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px; }

.shop__filter_tabs_content .filter_block__title {
  color: #666666;
  font-weight: 500;
  margin-bottom: 12px; }

.shop__filter_tabs_content .filter_block__item {
  display: flex;
  align-items: center; }
  .shop__filter_tabs_content .filter_block__item .checkbox__custom {
    margin-right: 8px; }
  .shop__filter_tabs_content .filter_block__item img {
    margin-right: 4px;
    width: 24px;
    height: 24px; }
  .shop__filter_tabs_content .filter_block__item span {
    display: inline-block;
    text-overflow: ellipsis;
    max-width: 60px;
    overflow: hidden;
    font-weight: 400; }

.list_products {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px; }
  @media (max-width: 1199.98px) {
    .list_products {
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 1024.98px) {
    .list_products {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 575.98px) {
    .list_products {
      grid-template-columns: repeat(1, 1fr); } }

.shop__pagination {
  margin-top: 32px;
  text-align: center; }
  .shop__pagination .pagination-item {
    font-weight: 500;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center; }
    .shop__pagination .pagination-item > a {
      color: #212121; }
    .shop__pagination .pagination-item i {
      font-size: 1rem; }
    .shop__pagination .pagination-item.disable > a {
      color: #9da5a0; }
    .shop__pagination .pagination-item.active {
      background-color: #668d2e; }
      .shop__pagination .pagination-item.active > a {
        color: #ffffff; }
