.list_products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 32px; }
  @media (max-width: 1199.98px) {
    .list_products {
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 900.98px) {
    .list_products {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 600.98px) {
    .list_products {
      grid-template-columns: repeat(1, 1fr); } }

.list_products__item_wrapper {
  position: relative;
  cursor: pointer; }
  .list_products__item_wrapper .item_wrapper__action {
    display: flex;
    justify-content: center; }
    .list_products__item_wrapper .item_wrapper__action .bt {
      font-size: 1rem;
      padding: 0.88rem 3.22rem; }

.list_products__item {
  display: block;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 410px;
  max-width: 280px;
  margin: 0 auto;
  transition: 0.3s all ease-in-out; }
  .list_products__item .item_wrapper__top {
    position: relative;
    padding: 28px 0 8px; }
  .list_products__item .character__image {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .list_products__item .character__image .image {
      display: flex;
      align-content: center;
      justify-content: center;
      border-radius: 0.44rem;
      height: 100%;
      max-width: 80%;
      width: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
    .list_products__item .character__image img {
      max-height: 220px;
      width: auto; }
  .list_products__item .character__name {
    display: block;
    width: fit-content; }
    .list_products__item .character__name h3 {
      font-size: 0.875rem;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .list_products__item .character__id {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 4px 8px;
    border-radius: 0.88rem;
    font-size: 0.75rem;
    font-weight: 600; }
  .list_products__item .character__class {
    position: relative;
    width: 24px;
    height: 24px; }
    .list_products__item .character__class:before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover; }
  .list_products__item .character__rating {
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    color: #ffc700; }
    .list_products__item .character__rating i + i {
      margin-left: 4px; }
  .list_products__item .item_wrapper__bottom {
    color: #212121;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    background-color: #f4f9f4;
    border-radius: 0.44rem; }
  .list_products__item .character__information {
    padding: 5%; }
    .list_products__item .character__information .information__item {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .list_products__item .character__information .information__item + .information__item {
        margin-top: 8px; }
    .list_products__item .character__information .color-rating {
      font-weight: 600; }
  .list_products__item .character__status {
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
    padding: 5%;
    border-top: 1px solid #d9d9d9; }
  .list_products__item .character__actions {
    display: flex;
    justify-content: center;
    padding: 5%;
    border-top: 1px solid #d9d9d9; }
    .list_products__item .character__actions .bt + .bt {
      margin-left: 8px; }
  .list_products__item .character__price {
    color: #668d2e;
    display: flex;
    align-items: center; }
    .list_products__item .character__price .price__wrapper {
      display: flex;
      align-items: center;
      padding-left: 4px; }
      .list_products__item .character__price .price__wrapper .icon {
        width: 24px;
        height: 24px;
        background-color: #ffffff;
        border-radius: 50%;
        overflow: hidden; }
      .list_products__item .character__price .price__wrapper .price {
        padding-left: 4px; }
        .list_products__item .character__price .price__wrapper .price span {
          display: block; }
          .list_products__item .character__price .price__wrapper .price span:not(.usd) {
            font-weight: 700;
            margin-bottom: 2px; }
          .list_products__item .character__price .price__wrapper .price span.usd {
            font-size: 0.625rem; }
  .list_products__item:hover {
    transform: translateY(-2px); }
  .list_products__item[rating="1"] {
    background-image: url("../images/bg_card_item_product_rate_1.png"); }
    .list_products__item[rating="1"] .color-rating {
      color: #8b8b8b; }
  .list_products__item[rating="2"] {
    background-image: url("../images/bg_card_item_product_rate_2.png"); }
    .list_products__item[rating="2"] .color-rating {
      color: #9bc65f; }
  .list_products__item[rating="3"] {
    background-image: url("../images/bg_card_item_product_rate_3.png"); }
    .list_products__item[rating="3"] .color-rating {
      color: #40b3db; }
  .list_products__item[rating="4"] {
    background-image: url("../images/bg_card_item_product_rate_4.png"); }
    .list_products__item[rating="4"] .color-rating {
      color: #c073f0; }
  .list_products__item[rating="5"] {
    background-image: url("../images/bg_card_item_product_rate_5.png"); }
    .list_products__item[rating="5"] .color-rating {
      color: #e9524c; }
  .list_products__item[rating="6"] {
    background-image: url("../images/bg_card_item_product_rate_6.png"); }
    .list_products__item[rating="6"] .color-rating {
      color: #f59d26; }
  .list_products__item[character-class="fire"] .character__image .image {
    background-image: url("../images/bg_hero_fire.png"); }
  .list_products__item[character-class="fire"] .character__class:before {
    background-image: url("../icons/hero-class/fire.png"); }
  .list_products__item[character-class="water"] .character__image .image {
    background-image: url("../images/bg_hero_water.png"); }
  .list_products__item[character-class="water"] .character__class:before {
    background-image: url("../icons/hero-class/water.png"); }
  .list_products__item[character-class="metal"] .character__image .image {
    background-image: url("../images/bg_hero_metal.png"); }
  .list_products__item[character-class="metal"] .character__class:before {
    background-image: url("../icons/hero-class/metal.png"); }
  .list_products__item[character-class="wood"] .character__image .image {
    background-image: url("../images/bg_hero_wood.png"); }
  .list_products__item[character-class="wood"] .character__class:before {
    background-image: url("../icons/hero-class/wood.png"); }
  .list_products__item[character-class="earth"] .character__image .image {
    background-image: url("../images/bg_hero_earth.png"); }
  .list_products__item[character-class="earth"] .character__class:before {
    background-image: url("../icons/hero-class/earth.png"); }

.shop__pagination {
  margin-top: 32px;
  text-align: center; }
  .shop__pagination .pagination-item {
    font-weight: 500;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center; }
    .shop__pagination .pagination-item > a {
      color: #212121; }
    .shop__pagination .pagination-item i {
      font-size: 1rem; }
    .shop__pagination .pagination-item.disable > a {
      color: #9da5a0; }
    .shop__pagination .pagination-item.active {
      background-color: #668d2e; }
      .shop__pagination .pagination-item.active > a {
        color: #ffffff; }

.nft_market_page {
  background-color: #f4fff8; }

.shop_section {
  padding-top: 48px;
  padding-bottom: 80px; }
  @media (max-width: 767.98px) {
    .shop_section {
      padding-top: 30px; } }

.shop__wrapper {
  display: grid;
  grid-template-columns: 300px auto;
  grid-gap: 24px; }
  @media (max-width: 1024.98px) {
    .shop__wrapper {
      grid-template-columns: 1fr; } }

.shop__filter {
  background: #ecf5df;
  padding: 16px;
  border-radius: 1.22rem;
  box-shadow: 0px 3px 6px rgba(17, 17, 17, 0.08);
  border: 2px solid rgba(102, 141, 46, 0.2);
  max-height: 500px; }
  .shop__filter .filter__top,
  .shop__filter .filter__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .shop__filter .filter__top {
    margin-bottom: 16px; }
    .shop__filter .filter__top .left_partial .partial__item {
      display: flex;
      justify-content: space-between;
      font-size: 1.25rem; }
      @media (max-width: 575.98px) {
        .shop__filter .filter__top .left_partial .partial__item {
          font-size: 1rem; } }
    .shop__filter .filter__top .right_partial {
      display: flex;
      align-items: center; }
      .shop__filter .filter__top .right_partial .input_group > span {
        margin-right: 8px; }
    @media (max-width: 767.98px) {
      .shop__filter .filter__top {
        align-items: flex-start; } }
  .shop__filter .filter__bottom {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 2px solid rgba(102, 141, 46, 0.2); }
  .shop__filter .filter__main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    margin-top: 24px; }
    @media (max-width: 767.98px) {
      .shop__filter .filter__main {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 575.98px) {
      .shop__filter .filter__main {
        grid-template-columns: repeat(1, 1fr); } }
  .shop__filter .filter__tabs .tabs_nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(102, 141, 46, 0.2);
    border-radius: 1.22rem; }
  .shop__filter .filter__tabs .tabs_nav__item {
    cursor: pointer;
    user-select: none;
    padding: 8px 16px;
    border-radius: 1.22rem;
    transition: 0.2s all linear; }
    .shop__filter .filter__tabs .tabs_nav__item.active {
      color: #ffffff;
      background-color: #668d2e; }
  .shop__filter .filter_block_checkbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px; }
  .shop__filter .filter__history {
    margin-top: 24px; }
  .shop__filter .filter_block_history {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px; }
    .shop__filter .filter_block_history .history_item {
      display: flex;
      justify-content: space-between;
      background-color: rgba(102, 141, 46, 0.2);
      padding: 8px 8px 8px 16px;
      border-radius: 1.22rem; }
      .shop__filter .filter_block_history .history_item .bt-remove-filter {
        color: #f3420c; }

.shop__main_content .shop__main_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px; }
  @media (max-width: 575.98px) {
    .shop__main_content .shop__main_top {
      flex-direction: column; } }

.shop__main_content .total-green-hero {
  font-size: 1rem; }
  @media (max-width: 575.98px) {
    .shop__main_content .total-green-hero {
      margin-bottom: 24px; } }

.shop__main_content .sort_block {
  display: flex;
  align-items: center; }
  .shop__main_content .sort_block label {
    margin-right: 8px; }

.shop__main_content .list_products__item {
  min-height: 390px; }
  .shop__main_content .list_products__item .character__image {
    height: 140px; }

.shop__main_content .list_products {
  grid-template-columns: repeat(3, 1fr); }
  @media (max-width: 1199.98px) {
    .shop__main_content .list_products {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 1024.98px) {
    .shop__main_content .list_products {
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 850.98px) {
    .shop__main_content .list_products {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 575.98px) {
    .shop__main_content .list_products {
      grid-template-columns: repeat(1, 1fr); } }
