.simular_page {
  background-color: #f4fff8; }

.simular_section {
  padding: 48px 0; }

.mint_probabily {
  background: #ecf5df;
  padding: 16px;
  border-radius: 1.22rem;
  box-shadow: 0px 3px 6px rgba(17, 17, 17, 0.08);
  border: 2px solid rgba(102, 141, 46, 0.2); }

.probabily_title {
  font-size: 1rem;
  font-weight: 700; }

.probabily_items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 8px;
  margin-top: 24px; }
  .probabily_items .probabily {
    background: #d5e8b9;
    border-radius: 8px;
    overflow: hidden; }
    .probabily_items .probabily h4 {
      font-size: 0.875rem;
      text-align: center;
      background: #c9e2a5;
      padding: 8px;
      font-weight: 400; }
    .probabily_items .probabily .probabily_value {
      padding: 16px; }
      .probabily_items .probabily .probabily_value input {
        width: 100%;
        text-align: center;
        background-color: transparent;
        border: 0;
        font-size: 1rem;
        font-weight: 700; }

.calculate_build_team {
  background: #ecf5df;
  padding: 16px;
  border-radius: 1.22rem;
  box-shadow: 0px 3px 6px rgba(17, 17, 17, 0.08);
  border: 2px solid rgba(102, 141, 46, 0.2);
  margin-top: 24px; }

.calculate_build_team_title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 24px; }

.calculate_build_team_wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 16px; }
  .calculate_build_team_wrapper .hero_information_form_group_top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px; }
  .calculate_build_team_wrapper .total_hero {
    font-size: 0.75rem;
    margin-bottom: 16px;
    text-align: right; }
  .calculate_build_team_wrapper .hero_information_form_group_bottom {
    margin-top: 16px;
    grid-gap: 16px;
    display: grid;
    grid-template-columns: 1.5fr 1fr; }
    .calculate_build_team_wrapper .hero_information_form_group_bottom .table_bodypart table {
      width: 100%;
      height: 100%;
      background: #e0eecc; }
      .calculate_build_team_wrapper .hero_information_form_group_bottom .table_bodypart table th,
      .calculate_build_team_wrapper .hero_information_form_group_bottom .table_bodypart table td {
        font-size: 12px;
        width: 33.33333%;
        padding: 8px;
        border: 1px solid #c9e2a5; }
      .calculate_build_team_wrapper .hero_information_form_group_bottom .table_bodypart table .select__custom:after {
        right: 8px; }
      .calculate_build_team_wrapper .hero_information_form_group_bottom .table_bodypart table .select__custom select {
        cursor: pointer;
        border: 0;
        width: 100%;
        padding: 0px 8px;
        height: 24px; }
      .calculate_build_team_wrapper .hero_information_form_group_bottom .table_bodypart table input {
        width: 100%;
        background-color: #ffffff;
        padding: 0px 8px;
        height: 24px;
        border: 0;
        border-radius: 1.22rem; }
    .calculate_build_team_wrapper .hero_information_form_group_bottom .stats {
      display: grid;
      grid-gap: 16px;
      grid-template-columns: 1fr 1fr;
      height: fit-content; }
    .calculate_build_team_wrapper .hero_information_form_group_bottom .stat__item label {
      margin-bottom: 8px; }
    .calculate_build_team_wrapper .hero_information_form_group_bottom .stat__item .content {
      display: flex;
      align-items: center; }
      .calculate_build_team_wrapper .hero_information_form_group_bottom .stat__item .content .icon {
        -ms-flex: 0 0 24px;
        flex: 0 0 24px;
        max-width: 24px;
        height: 24px; }
      .calculate_build_team_wrapper .hero_information_form_group_bottom .stat__item .content .value {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        padding-left: 8px; }
        .calculate_build_team_wrapper .hero_information_form_group_bottom .stat__item .content .value input {
          width: 100%;
          background-color: transparent;
          padding: 0;
          border: 0;
          border-radius: 4px; }
    .calculate_build_team_wrapper .hero_information_form_group_bottom .results {
      display: grid;
      grid-gap: 16px;
      grid-template-columns: 1fr 1fr;
      margin-top: 16px; }
      .calculate_build_team_wrapper .hero_information_form_group_bottom .results .result__item {
        background: #d5e8b9;
        border-radius: 8px;
        overflow: hidden; }
        .calculate_build_team_wrapper .hero_information_form_group_bottom .results .result__item .head {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px;
          background: #c9e2a5; }
        .calculate_build_team_wrapper .hero_information_form_group_bottom .results .result__item label {
          padding-left: 4px; }
        .calculate_build_team_wrapper .hero_information_form_group_bottom .results .result__item .icon {
          -ms-flex: 0 0 24px;
          flex: 0 0 24px;
          max-width: 24px;
          height: 24px; }
        .calculate_build_team_wrapper .hero_information_form_group_bottom .results .result__item .value {
          -ms-flex-preferred-size: 0;
          flex-basis: 0;
          -ms-flex-positive: 1;
          flex-grow: 1;
          max-width: 100%;
          padding: 8px; }
          .calculate_build_team_wrapper .hero_information_form_group_bottom .results .result__item .value input {
            font-size: 1.125rem;
            width: 100%;
            padding: 4px 8px;
            border: 0;
            border-radius: 4px;
            text-align: center;
            background-color: transparent; }
  .calculate_build_team_wrapper .singleHero {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background: #c9e2a5;
    border: 1px solid #c9e2a5;
    opacity: 0.8;
    transition: 0.3s all ease-in-out;
    border-radius: 32px; }
    .calculate_build_team_wrapper .singleHero .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      -ms-flex: 0 0 16px;
      flex: 0 0 16px;
      max-width: 16px;
      height: 16px; }
    .calculate_build_team_wrapper .singleHero input {
      width: fit-content;
      background-color: transparent;
      border: 0; }
    .calculate_build_team_wrapper .singleHero .hero__image {
      max-width: 24px;
      margin-right: 8px; }
    .calculate_build_team_wrapper .singleHero .hero__id {
      padding-right: 8px; }
    .calculate_build_team_wrapper .singleHero .hero__stats {
      display: flex;
      align-items: center; }
    .calculate_build_team_wrapper .singleHero .stat__item {
      display: flex;
      align-items: center; }
      .calculate_build_team_wrapper .singleHero .stat__item .value {
        padding-left: 4px; }
      .calculate_build_team_wrapper .singleHero .stat__item + .stat__item {
        padding-left: 16px; }
    .calculate_build_team_wrapper .singleHero + .singleHero {
      margin-top: 16px; }
    .calculate_build_team_wrapper .singleHero .hero__status {
      font-size: 0.75rem;
      margin-left: auto;
      padding: 4px 8px;
      border-radius: 16px;
      background: #fab39e;
      border: 1px solid #f77b55; }
    .calculate_build_team_wrapper .singleHero .hero__remove {
      font-size: 0.75rem;
      padding: 4px 8px;
      border-radius: 16px;
      color: #f9a186;
      background: #fdd9ce;
      border: 1px solid #f9a186;
      margin-left: 16px;
      transition: 0.3s all ease-in-out; }
      .calculate_build_team_wrapper .singleHero .hero__remove:hover {
        color: #f5683d;
        background: #fbc6b6; }
    .calculate_build_team_wrapper .singleHero:first-child .hero__status {
      background: #b2d57f;
      border-color: #8fc245; }
    .calculate_build_team_wrapper .singleHero:nth-child(2) .hero__status, .calculate_build_team_wrapper .singleHero:nth-child(3) .hero__status {
      background: #b9dbf5;
      border-color: #76b9ec; }
    .calculate_build_team_wrapper .singleHero.active {
      opacity: 1;
      border: 1px solid rgba(102, 141, 46, 0.5);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
    .calculate_build_team_wrapper .singleHero:hover {
      opacity: 1; }
  .calculate_build_team_wrapper .listing {
    padding: 16px;
    background: #e0eecc;
    border-radius: 16px;
    border: 1px solid #c9e2a5; }
    .calculate_build_team_wrapper .listing .calculate_build_team_title {
      display: flex;
      align-items: center;
      justify-content: space-between; }
  .calculate_build_team_wrapper .listing__actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px; }
    .calculate_build_team_wrapper .listing__actions .bt + .bt {
      margin-left: 16px; }

.calculate_your_roi {
  background: #ecf5df;
  padding: 16px;
  border-radius: 1.22rem;
  box-shadow: 0px 3px 6px rgba(17, 17, 17, 0.08);
  border: 2px solid rgba(102, 141, 46, 0.2);
  margin-top: 24px; }

.calculate_your_roi_tables {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 16px;
  margin-top: 24px; }
  .calculate_your_roi_tables .table__item table {
    width: 100%;
    height: 100%;
    background: #e0eecc;
    border: 1px solid #c9e2a5; }
    .calculate_your_roi_tables .table__item table th,
    .calculate_your_roi_tables .table__item table td {
      font-size: 12px;
      width: 33.33333%;
      padding: 8px;
      border: 1px solid #c9e2a5; }

.calculate_your_roi_title {
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 24px; }

.calculate_your_roi_total h3 {
  color: red;
  font-size: 0.875rem;
  text-align: center;
  background: #d4a88b;
  padding: 8px;
  font-weight: 400;
  border-bottom: 1px solid #c68d66; }

.calculate_your_roi_total .total_form {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  background: #dbb69d;
  border: 1px solid #c68d66;
  border-radius: 8px;
  overflow: hidden; }
  .calculate_your_roi_total .total_form .form-wrapper {
    padding: 16px; }
    .calculate_your_roi_total .total_form .form-wrapper .input_group .form-control {
      padding: 0 72px 0 16px; }
    .calculate_your_roi_total .total_form .form-wrapper .input_group > span {
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      font-weight: 700; }
    .calculate_your_roi_total .total_form .form-wrapper .input_group + .input_group {
      margin-top: 16px; }

.calculate_your_roi_total .total_table {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background: #dbb69d;
  margin-top: 16px; }
  .calculate_your_roi_total .total_table table {
    width: 100%;
    height: 100%; }
    .calculate_your_roi_total .total_table table th,
    .calculate_your_roi_total .total_table table td {
      font-size: 12px;
      width: 33.33333%;
      padding: 8px;
      border: 1px solid rgba(191, 127, 83, 0.5); }
