.banner__container {
  position: relative;
  padding: 80px 64px;
  border-radius: 24px;
  overflow: hidden;
  background-image: url(../images/background_banner.png);
  box-shadow: inset 0 4px 8px rgba(126, 47, 255, 0.2);
  background-size: cover; }
  @media (max-width: 1024.98px) {
    .banner__container {
      padding: 64px 24px; } }
  @media (max-width: 575.98px) {
    .banner__container {
      border-radius: 16px; } }

.banner__wrap {
  max-width: 80%; }

.banner__title {
  font-size: 2.4rem;
  margin-bottom: 4px; }
  @media (max-width: 575.98px) {
    .banner__title {
      font-size: 1.6rem; } }

@media (max-width: 575.98px) {
  .banner__text {
    font-size: 0.77rem; } }

.banner_preview {
  position: absolute;
  top: 16px;
  right: 0;
  font-size: 0;
  height: calc(100% - 16px);
  animation: slidein 3s infinite;
  animation-direction: alternate; }
  .banner_preview img {
    height: 100%;
    width: auto; }

.warriors [class*="col-"] {
  margin-bottom: 36px; }
  @media (max-width: 767.98px) {
    .warriors [class*="col-"] {
      margin-bottom: 16px; } }

.call-to-action-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 24px; }
  .call-to-action-right .bt + .bt {
    margin-left: 16px; }
  @media (max-width: 767.98px) {
    .call-to-action-right {
      justify-content: flex-start;
      margin-bottom: 16px; } }
