.bt {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.44rem 1.22rem;
    border-radius: 1.22rem;
    transition: 0.3s all ease-in-out;
    span {
        font-weight: 600;
        display: inline-block;
        position: relative;
    }
    &--primary {
        color: map-get($map: $theme-colors, $key: neutral-white);
        background-color: map-get($map: $theme-colors, $key: primary);
        &.bt--shadow {
            box-shadow: 0 6px
                darken(
                    $color: map-get($map: $theme-colors, $key: primary),
                    $amount: 5%
                );
            &:active {
                box-shadow: 0 4px
                    darken(
                        $color: map-get($map: $theme-colors, $key: primary),
                        $amount: 10%
                    );
            }
        }
        &.bt--outline {
            color: map-get($map: $theme-colors, $key: primary);
            border: 1px solid map-get($map: $theme-colors, $key: primary);
        }
    }
    &--primary-light {
        color: map-get($map: $theme-colors, $key: neutral-white);
        background-color: map-get($map: $theme-colors, $key: primary-light);
        &.bt--shadow {
            box-shadow: 0 6px
                darken(
                    $color: map-get($map: $theme-colors, $key: primary-light),
                    $amount: 5%
                );
            &:active {
                box-shadow: 0 4px
                    darken(
                        $color:
                            map-get($map: $theme-colors, $key: primary-light),
                        $amount: 10%
                    );
            }
        }
        &.bt--outline {
            color: map-get($map: $theme-colors, $key: primary);
            border: 1px solid map-get($map: $theme-colors, $key: primary);
        }
    }
    &--secondary {
        color: map-get($map: $theme-colors, $key: neutral-white);
        background-color: map-get($map: $theme-colors, $key: secondary);
        &.bt--shadow {
            box-shadow: 0 6px
                darken(
                    $color: map-get($map: $theme-colors, $key: secondary),
                    $amount: 5%
                );
            &:active {
                box-shadow: 0 4px
                    darken(
                        $color: map-get($map: $theme-colors, $key: secondary),
                        $amount: 10%
                    );
            }
        }
        &.bt--outline {
            color: map-get($map: $theme-colors, $key: secondary);
            border: 1px solid map-get($map: $theme-colors, $key: secondary);
        }
    }
    &--red {
        color: map-get($map: $theme-colors, $key: neutral-white);
        background-color: map-get($map: $theme-colors, $key: additional-red);
        &.bt--shadow {
            box-shadow: 0 6px
                darken(
                    $color: map-get($map: $theme-colors, $key: additional-red),
                    $amount: 5%
                );
            &:active {
                box-shadow: 0 4px
                    darken(
                        $color:
                            map-get($map: $theme-colors, $key: additional-red),
                        $amount: 10%
                    );
            }
        }
        &.bt--outline {
            color: map-get($map: $theme-colors, $key: additional-red);
            border: 1px solid map-get($map: $theme-colors, $key: additional-red);
        }
    }
    &--orange {
        color: map-get($map: $theme-colors, $key: neutral-white);
        background-color: map-get($map: $theme-colors, $key: additional-orange);
        &.bt--shadow {
            box-shadow: 0 6px
                darken(
                    $color:
                        map-get($map: $theme-colors, $key: additional-orange),
                    $amount: 5%
                );
            &:active {
                box-shadow: 0 4px
                    darken(
                        $color:
                            map-get(
                                $map: $theme-colors,
                                $key: additional-orange
                            ),
                        $amount: 10%
                    );
            }
        }
        &.bt--outline {
            color: map-get($map: $theme-colors, $key: additional-orange);
            border: 1px solid
                map-get($map: $theme-colors, $key: additional-orange);
        }
    }
    &--shadow {
        margin-bottom: 6px;
        &:active {
            transform: translateY(4px);
        }
    }
    &--md {
        font-size: 1rem;
        padding: 0.88rem 1.88rem;
        @media (max-width: 575.98px) {
            font-size: 1rem;
            padding: 1rem 1.4rem;
        }
        @media (max-width: 320.98px) {
            font-size: 0.875rem;
        }
    }
    &--lg {
        font-size: 1.125rem;
        padding: 1.2rem 2rem;
        @media (max-width: 575.98px) {
            font-size: 1rem;
            padding: 1rem 1.4rem;
        }
        @media (max-width: 320.98px) {
            font-size: 0.875rem;
        }
    }
    &--block {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    &--outline {
        background-color: transparent;
    }
    &[disable] {
        cursor: not-allowed;
        background-color: map-get($map: $theme-colors, $key: disable);
        &.bt--shadow {
            box-shadow: 0 6px
                darken(
                    $color: map-get($map: $theme-colors, $key: disable),
                    $amount: 5%
                );
        }
    }
    &:not(.bt--shadow) {
        &:hover {
            opacity: 0.9;
        }
        &:active {
            opacity: 0.7;
            transform: translateY(2px);
        }
    }
}
