.buy_seed_section {
    height: 90vh;
    background-image: url("../images/bg_seed.jpg");
    background-size: cover;
    background-position: center center;
    .block-seed-content-top {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 90%;
        width: 100%;
        h1,
        h3,
        p {
            display: inline-block;
            position: relative;
            &:before {
                content: attr(data-text);
                text-shadow: 0 2px 20px #234141;
                background: linear-gradient(
                    to bottom,
                    #76b0df 0%,
                    #465b7c 100%
                );
                -webkit-text-stroke: 2px transparent;
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }
            &::after {
                content: attr(data-text);
                left: 0;
                top: 0;
                position: absolute;
                background-image: linear-gradient(
                    178deg,
                    #ffff80 5%,
                    #ff9a00 100%
                );
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }
        }
        h1 {
            font-size: 3.5rem;
            font-weight: 900;
            @media (max-width: 1024.98px) {
                font-size: 3rem;
            }
            @media (max-width: 767.98px) {
            }
            @media (max-width: 575.98px) {
                font-size: 2rem;
            }
        }
        h3 {
            font-size: 3rem;
            font-weight: 700;
            margin-top: 8px;
            @media (max-width: 1024.98px) {
                font-size: 1.75rem;
            }
            @media (max-width: 575.98px) {
                font-size: 1.125rem;
            }
        }
    }
    .block-seed {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 240px;
        img {
            animation: tranformItemBuySeed 6s ease-in-out infinite;
        }
        .text-call-to-action {
            text-align: center;
            p {
                font-size: 1.125rem;
                font-weight: 600;
                display: inline-block;
                position: relative;
                &:before {
                    content: attr(data-text);
                    text-shadow: 0 2px 20px #517baa;
                    background: linear-gradient(
                        to bottom,
                        #122426 0%,
                        #415e70 100%
                    );
                    -webkit-text-stroke: 1px transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }
                &::after {
                    content: attr(data-text);
                    left: 0;
                    top: 0;
                    position: absolute;
                    background-image: linear-gradient(
                        178deg,
                        #ffffff 5%,
                        #ba7d1f 100%
                    );
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }
            }
        }
        @media (max-width: 1599.98px) {
            top: 45%;
        }
    }
}
