.buy_seed_section {
    height: 90vh;
    background-color: map-get($map: $theme-colors, $key: primary);
    .block-seed {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 150px;
    }
}
