header.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    height: 56px;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
    background-color: map-get($map: $theme-colors, $key: neutral-white);
    @media (max-width: 1439.98px) {
        display: flex;
        flex-direction: column;
        height: unset;
    }
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    @media (max-width: 1439.98px) {
        height: 56px;
        padding: 8px 0;
    }
}

.header__logo {
    max-width: 120px;
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
    .bt-close {
        cursor: pointer;
        font-size: 1.125rem;
        position: absolute;
        right: 16px;
        top: 16px;
        @media (min-width: 1440px) {
            display: none;
        }
    }
    @media (max-width: 1439.98px) {
        position: fixed;
        left: -100%;
        top: 0;
        max-width: 300px;
        width: 100%;
        height: 100%;
        background-color: map-get($map: $theme-colors, $key: neutral-white);
        padding: 2.5em 1.5em 0;
        overflow-y: auto;
        transition: left 0.3s ease-in-out;
        ul {
            display: flex;
            flex-direction: column;
        }
        &.show {
            left: 0;
        }
    }
    @media (max-width: 575.98px) {
        flex-direction: column;
    }
}

.header_menu__item {
    display: inline-block;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    > a {
        position: relative;
        color: map-get($map: $theme-colors, $key: txt-body);
        padding: 18px 16px;
        transition: color 0.3s ease-in-out;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            opacity: 0;
            background-color: map-get($map: $theme-colors, $key: primary);
        }
        &:hover {
            color: map-get($map: $theme-colors, $key: primary);
        }
        @media (max-width: 1439.98px) {
            padding: 0 0 8px 0;
        }
    }

    &.active {
        > a {
            &:after {
                opacity: 1;
            }
        }
    }
    @media (max-width: 1439.98px) {
        padding: 18px 16px;
    }
}

.header__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .bt {
        + .bt {
            margin-left: 8px;
        }
    }
    @media (max-width: 1439.98px) {
        margin-left: auto;
    }
}

.header_info__items {
    display: flex;
    flex-wrap: wrap;
    margin-right: 24px;
    @media (max-width: 1439.98px) {
        margin-right: 0;
        padding: 8px 24px;
        background-color: darken(
            $color: map-get($map: $theme-colors, $key: primary),
            $amount: 30%
        );
    }
    @media (max-width: 1024.98px) {
        padding: 8px 16px;
    }
}

.header_info__item {
    background: rgba($color: map-get($theme-colors, primary), $alpha: 0.1);
    border: 1px solid map-get($theme-colors, primary);
    border-radius: 100px;
    padding: 8px 20px;
    height: 36px;
    font-weight: 500;
    span {
        + span {
            font-weight: 700;
            margin-left: 4px;
            color: map-get($theme-colors, primary);
        }
        @media (max-width: 1439.98px) {
            color: map-get($map: $theme-colors, $key: neutral-white);
        }
    }
    + .header_info__item {
        margin-left: 8px;
    }
}

.bt-burger {
    cursor: pointer;
    font-size: 1rem;
    margin-right: 16px;
    @media (min-width: 1440px) {
        display: none;
    }
}
