.list_products {
    display: grid;
}

.list_products__item {
    background-clip: padding-box;
    border-radius: 16px;
    border: 2px solid transparent;
    position: relative;
    cursor: pointer;
    .passive {
        position: absolute;
        top: 8px;
        left: 8px;
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: map-get(
                $map: $theme-colors,
                $key: neutral-background-dark
            );
            img {
                width: 75%;
            }
        }
    }
    .power {
        position: absolute;
        top: 8px;
        right: 8px;
        min-width: 48px;
        height: 24px;
        display: flex;
        padding: 0 8px;
        align-items: center;
        justify-content: center;
        background: #f56a42;
        border-radius: 100px;
        i {
            color: map-get($map: $theme-colors, $key: neutral-white);
            margin-right: 4px;
        }
        .value {
            font-size: 0.75rem;
            font-weight: 500;
            color: map-get($map: $theme-colors, $key: neutral-white);
        }
    }
    &--metal {
        background-color: lighten(
            $color: map-get($map: $theme-colors, $key: additional-yellow),
            $amount: 45%
        );
        &:after {
            background: linear-gradient(
                180deg,
                lighten(
                    $color:
                        map-get($map: $theme-colors, $key: additional-yellow),
                    $amount: 30%
                ),
                map-get($map: $theme-colors, $key: additional-yellow)
            );
        }
    }
    &--wood {
        background-color: lighten(
            $color: map-get($map: $theme-colors, $key: additional-green),
            $amount: 60%
        );
        &:after {
            background: linear-gradient(
                180deg,
                lighten(
                    $color: map-get($map: $theme-colors, $key: additional-green),
                    $amount: 30%
                ),
                map-get($map: $theme-colors, $key: additional-green)
            );
        }
    }
    &--water {
        background-color: lighten(
            $color: map-get($theme-colors, additional-blue),
            $amount: 50%
        );
        &:after {
            background: linear-gradient(
                180deg,
                lighten(
                    $color: map-get($theme-colors, additional-blue),
                    $amount: 30%
                ),
                map-get($theme-colors, additional-blue)
            );
        }
    }
    &--fire {
        background-color: lighten(
            $color: map-get($map: $theme-colors, $key: additional-red),
            $amount: 50%
        );
        &:after {
            background: linear-gradient(
                180deg,
                lighten(
                    $color: map-get($theme-colors, additional-red),
                    $amount: 30%
                ),
                lighten(
                    $color: map-get($theme-colors, additional-red),
                    $amount: 20%
                )
            );
        }
    }
    &--earth {
        background-color: lighten(
            $color: map-get($theme-colors, additional-brown),
            $amount: 50%
        );
        &:after {
            background: linear-gradient(
                180deg,
                lighten(
                    $color: map-get($theme-colors, additional-brown),
                    $amount: 20%
                ),
                map-get($theme-colors, additional-brown)
            );
        }
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -2;
        margin: -2px;
        border-radius: inherit;
    }
}

.list_products__thumbnail {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    .lazyload-wrapper {
        img {
            max-height: 180px;
        }
    }
}

.list_products__info {
    color: map-get($map: $theme-colors, $key: txt-body);
    padding: 12px 16px 16px;
    .name {
        font-weight: 500;
        margin-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .code {
            font-size: 0.75rem;
            font-weight: 400;
        }
        .rating {
            color: map-get($map: $theme-colors, $key: additional-yellow);
            i + i {
                margin-left: 4px;
            }
        }
        .status {
            color: map-get($map: $theme-colors, $key: primary-2-light);
            font-weight: 500;
        }
        + .detail {
            margin-top: 12px;
        }
    }
    .price {
        display: flex;
        align-items: center;
        margin-top: 12px;
        img {
            width: 32px;
            margin-right: 4px;
        }
        .value {
            font-weight: 500;
            color: map-get($map: $theme-colors, $key: primary);
            margin-right: 4px;
        }

        .usd-value {
            font-size: 0.75rem;
            font-weight: 500;
            color: map-get($map: $theme-colors, $key: gray-text);
        }
    }
}

.list_products__action {
    padding: 0 16px 16px;
}
