.list_products {
    display: grid;
}

.list_products__item {
    border-radius: 0.22rem;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 3px 6px
        rgba($color: map-get($theme-colors, neutral-black), $alpha: 0.08);
    transition: 0.3s all ease-in-out;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid rgba($color: map-get($theme-colors, primary), $alpha: 0.2);
    .item_wrapper__top {
        background: lighten(
            $color: map-get($theme-colors, primary),
            $amount: 50%
        );
    }
    .character__image {
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-height: 180px;
        }
    }
    .character__name {
        display: block;
        width: fit-content;
        margin: 0 auto;
        padding: 4px 0;
        h3 {
            text-align: center;
            font-size: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .character__price {
        display: flex;
        justify-content: center;
        align-items: center;
        color: map-get($map: $theme-colors, $key: primary);
        padding-bottom: 16px;
        h2 {
            display: flex;
            align-items: center;
            img {
                flex: 0 0 24px;
                max-width: 24px;
                height: 24px;
                background-color: map-get(
                    $map: $theme-colors,
                    $key: neutral-white
                );
                border-radius: 50%;
                overflow: hidden;
            }
            span {
                font-weight: 700;
                font-size: 1.5rem;
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
                margin-left: 8px;
                @media (max-width: 767.98px) {
                    font-size: 1.125rem;
                }
            }
        }
        p {
            color: map-get($map: $theme-colors, $key: gray-text);
            margin-left: 4px;
            margin-top: 4px;
            @media (max-width: 767.98px) {
                font-size: 0.75rem;
                margin-top: 2px;
            }
        }
    }
    .character__rating {
        display: flex;
        justify-content: center;
        color: map-get($map: $theme-colors, $key: additional-yellow);
        padding-bottom: 8px;
        i + i {
            margin-left: 4px;
        }
    }
    .item_wrapper__bottom {
        color: map-get($map: $theme-colors, $key: txt-body);
        background-color: map-get($map: $theme-colors, $key: neutral-white);
        padding: 16px;
    }
    .character__information {
        .information__item {
            display: flex;
            justify-content: space-between;
            + .information__item {
                margin-top: 8px;
            }
        }
    }
    .item_wrapper__action {
        display: flex;
        justify-content: center;
        padding: 0 16px 16px 16px;
        background-color: map-get($map: $theme-colors, $key: neutral-white);
    }
    &:hover {
        box-shadow: 0px 3px 6px
            rgba($color: map-get($theme-colors, neutral-black), $alpha: 0.16);
        transform: translateY(-2px);
    }
    &[rating="1"] {
        background-image: url("./images/bg_card_item_product_rate_1.png");
    }
    &[rating="2"] {
        background-image: url("./images/bg_card_item_product_rate_2.png");
    }
    &[rating="3"] {
        background-image: url("./images/bg_card_item_product_rate_3.png");
    }
    &[rating="4"] {
        background-image: url("./images/bg_card_item_product_rate_4.png");
    }
    &[rating="5"] {
        background-image: url("./images/bg_card_item_product_rate_5.png");
    }
    &[rating="6"] {
        background-image: url("./images/bg_card_item_product_rate_6.png");
    }
}
