.list_products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 32px;
    @media (max-width: 1199.98px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 900.98px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600.98px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.list_products__item_wrapper {
    position: relative;
    cursor: pointer;
    .item_wrapper__action {
        display: flex;
        justify-content: center;
        .bt {
            font-size: 1rem;
            padding: 0.88rem 3.22rem;
        }
    }
}

.list_products__item {
    display: block;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 410px;
    max-width: 280px;
    margin: 0 auto;
    transition: 0.3s all ease-in-out;
    .item_wrapper__top {
        position: relative;
        padding: 28px 0 8px;
    }
    .character__image {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        .image {
            display: flex;
            align-content: center;
            justify-content: center;
            border-radius: 0.44rem;
            height: 100%;
            max-width: 80%;
            width: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        img {
            max-height: 220px;
            width: auto;
        }
    }
    .character__name {
        display: block;
        width: fit-content;
        h3 {
            font-size: 0.875rem;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .character__id {
        color: map-get($map: $theme-colors, $key: neutral-white);
        background-color: rgba(
            $color: map-get($map: $theme-colors, $key: neutral-white),
            $alpha: 0.3
        );
        position: absolute;
        top: 8px;
        left: 8px;
        padding: 4px 8px;
        border-radius: 0.88rem;
        font-size: 0.75rem;
        font-weight: 600;
    }
    .character__class {
        position: relative;
        width: 24px;
        height: 24px;
        &:before {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
        }
    }
    .character__rating {
        font-size: 0.75rem;
        display: flex;
        justify-content: center;
        color: map-get($map: $theme-colors, $key: additional-yellow);
        i + i {
            margin-left: 4px;
        }
    }
    .item_wrapper__bottom {
        color: map-get($map: $theme-colors, $key: txt-body);
        max-width: 80%;
        width: 100%;
        margin: 0 auto;
        background-color: #f4f9f4;
        border-radius: 0.44rem;
    }
    .character__information {
        padding: 5%;
        .information__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            + .information__item {
                margin-top: 8px;
            }
        }
        .color-rating {
            font-weight: 600;
        }
    }
    .character__status {
        text-transform: uppercase;
        text-align: center;
        font-size: 1rem;
        font-weight: 900;
        padding: 5%;
        border-top: 1px solid map-get($map: $theme-colors, $key: gray-border);
    }
    .character__actions {
        display: flex;
        justify-content: center;
        padding: 5%;
        border-top: 1px solid map-get($map: $theme-colors, $key: gray-border);
        .bt {
            + .bt {
                margin-left: 8px;
            }
        }
    }
    .character__price {
        margin-top: 8px;
        .price__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            .icon {
                width: 32px;
                height: 32px;
                background-color: map-get(
                    $map: $theme-colors,
                    $key: neutral-white
                );
                border-radius: 50%;
                overflow: hidden;
            }
            .price {
                color: map-get($map: $theme-colors, $key: primary);
                padding-left: 8px;
                span {
                    display: block;
                    font-size: 24px;
                    font-weight: 700;
                }
            }
        }
        .price-usd {
            color: map-get($map: $theme-colors, $key: gray-text);
            text-align: center;
        }
    }
    &:hover {
        transform: translateY(-2px);
    }
    &[rating="1"] {
        background-image: url("../images/bg_card_item_product_rate_1.png");
        .color-rating {
            color: #8b8b8b;
        }
    }
    &[rating="2"] {
        background-image: url("../images/bg_card_item_product_rate_2.png");
        .color-rating {
            color: #9bc65f;
        }
    }
    &[rating="3"] {
        background-image: url("../images/bg_card_item_product_rate_3.png");
        .color-rating {
            color: #40b3db;
        }
    }
    &[rating="4"] {
        background-image: url("../images/bg_card_item_product_rate_4.png");
        .color-rating {
            color: #c073f0;
        }
    }
    &[rating="5"] {
        background-image: url("../images/bg_card_item_product_rate_5.png");
        .color-rating {
            color: #e9524c;
        }
    }
    &[rating="6"] {
        background-image: url("../images/bg_card_item_product_rate_6.png");
        .color-rating {
            color: #f59d26;
        }
    }
    &[character-class="fire"] {
        .character__image {
            .image {
                background-image: url("../images/bg_hero_fire.png");
            }
        }
        .character__class {
            &:before {
                background-image: url("../icons/hero-class/fire.png");
            }
        }
    }
    &[character-class="water"] {
        .character__image {
            .image {
                background-image: url("../images/bg_hero_water.png");
            }
        }
        .character__class {
            &:before {
                background-image: url("../icons/hero-class/water.png");
            }
        }
    }
    &[character-class="metal"] {
        .character__image {
            .image {
                background-image: url("../images/bg_hero_metal.png");
            }
        }
        .character__class {
            &:before {
                background-image: url("../icons/hero-class/metal.png");
            }
        }
    }
    &[character-class="wood"] {
        .character__image {
            .image {
                background-image: url("../images/bg_hero_wood.png");
            }
        }
        .character__class {
            &:before {
                background-image: url("../icons/hero-class/wood.png");
            }
        }
    }
    &[character-class="earth"] {
        .character__image {
            .image {
                background-image: url("../images/bg_hero_earth.png");
            }
        }
        .character__class {
            &:before {
                background-image: url("../icons/hero-class/earth.png");
            }
        }
    }
}

.shop__pagination {
    margin-top: 32px;
    text-align: center;
    .pagination-item {
        font-weight: 500;
        border: none;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        > a {
            color: map-get($map: $theme-colors, $key: txt-body);
        }
        i {
            font-size: 1rem;
        }
        &.disable {
            > a {
                color: map-get($map: $theme-colors, $key: disable);
            }
        }
        &.active {
            > a {
                color: map-get($map: $theme-colors, $key: neutral-white);
            }
            background-color: map-get($map: $theme-colors, $key: primary);
        }
    }
}
