@import "./variable";

.fancybox-content {
    background-color: map-get($map: $theme-colors, $key: neutral-background);
    border-radius: 1.22rem;
    padding: 0;
    background-size: cover;
}

.fancybox-slide--html {
    .fancybox-close-small {
        top: 12px;
        right: 12px;
        border-radius: 50%;
        transition: 0.3s all ease-in-out;
    }
}

.fancybox-close-small {
    &:hover {
        color: map-get($map: $theme-colors, $key: neutral-white);
        background-color: map-get($map: $theme-colors, $key: primary);
        box-shadow: 0 5px 20px
            rgba(
                $color: map-get($map: $theme-colors, $key: primary),
                $alpha: 0.3
            );
    }
}

.popup__header {
    padding: 24px 120px 24px 24px;
    &.center {
        padding: 24px;
        @media (max-width: 575.98px) {
            padding: 16px;
        }
    }
    @media (max-width: 575.98px) {
        padding: 16px 120px 16px 16px;
    }
}

.popup__title {
    font-size: 1.4rem;
}

.popup__body {
    padding: 24px;
    @media (max-width: 575.98px) {
        padding: 16px;
    }
}

.popup__footer {
    background-color: rgba(
        $color: map-get($map: $theme-colors, $key: primary),
        $alpha: 0.1
    );
    border-top: 1px solid
        rgba($color: map-get($map: $theme-colors, $key: primary), $alpha: 0.2);
    padding: 24px;
    display: flex;
    justify-content: center;
    > .bt {
        + .bt {
            margin-left: 16px;
        }
    }
    &.center {
        justify-content: center;
    }
    &.left {
        justify-content: flex-start;
    }
    @media (max-width: 575.98px) {
        padding: 16px;
    }
}

.wallet_connect_popup {
    max-width: 400px;
    width: 100%;
    .list_option_wallet_connect {
        display: flex;
        flex-wrap: wrap;
        margin-right: -8px;
        margin-left: -8px;
    }
    .item_option_wallet_connect {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 8px;
        padding-left: 8px;
        margin-bottom: 16px;
        .bt {
            cursor: not-allowed;
            border-radius: 8px;
            align-items: center;
            flex-direction: column;
            height: 100px;
            background-color: rgba(
                $color: map-get($map: $theme-colors, $key: primary),
                $alpha: 1
            );
            color: map-get($map: $theme-colors, $key: neutral-white);
            transition: background-color 0.3s ease-in-out;
            opacity: 0.5;
            &:hover {
                background-color: rgba(
                    $color: map-get($map: $theme-colors, $key: primary),
                    $alpha: 0.8
                );
            }
        }
        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 8px;
        }
        &:not([disable]) {
            .bt {
                opacity: 1;
                cursor: pointer;
                sup {
                    display: none;
                }
            }
        }
    }
    .support-document {
        color: rgba(
            $color: map-get($map: $theme-colors, $key: secondary),
            $alpha: 0.8
        );
        font-weight: 600;
        transition: 0.3s all ease-in-out;
        > i {
            margin-right: 8px;
        }
        &:hover {
            color: rgba(
                $color: map-get($map: $theme-colors, $key: secondary),
                $alpha: 1
            );
        }
    }
}

.character_detail_popup {
    max-width: 650px;

    width: 100%;
    overflow: visible;
    border-width: 4px;
    border-style: solid;
    border-radius: 1.22rem;
    .popup_wrapper {
        max-height: 80vh;
        overflow-y: auto;
    }
    .detail_top {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: 1fr 1fr;
        .top_right {
            background-color: #f4f9f4;
            border-radius: 1.22rem;
            border-width: 2px;
            border-style: solid;
            .character__information {
                padding: 16px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 16px;
                .information__item {
                    label {
                        margin-bottom: 8px;
                    }
                    .icon {
                        flex: 0 0 24px;
                        max-width: 24px;
                        height: 24px;
                    }
                    .content {
                        display: flex;
                        align-items: center;
                    }
                    span {
                        font-size: 1.125rem;
                        padding-left: 4px;
                    }
                    &[rarity="common"] {
                        color: map-get(
                            $map: $theme-colors,
                            $key: rarity-common
                        );
                    }
                    &[rarity="uncommon"] {
                        color: map-get(
                            $map: $theme-colors,
                            $key: rarity-uncommon
                        );
                    }
                    &[rarity="rare"] {
                        color: map-get($map: $theme-colors, $key: rarity-rare);
                    }
                    &[rarity="epic"] {
                        color: map-get($map: $theme-colors, $key: rarity-epic);
                    }
                    &[rarity="legendary"] {
                        color: map-get(
                            $map: $theme-colors,
                            $key: rarity-legendary
                        );
                    }
                    &[rarity="mythical"] {
                        color: map-get(
                            $map: $theme-colors,
                            $key: rarity-mythical
                        );
                    }
                }
                @media (max-width: 575.98px) {
                    color: map-get($map: $theme-colors, $key: txt-body);
                }
            }
        }
        @media (max-width: 767.98px) {
            grid-template-columns: 1fr;
        }
    }
    .list_products__item {
        background-image: unset;
        min-height: unset;
        max-width: unset;
        .item_wrapper__top,
        .item_wrapper__bottom {
            border-width: 2px;
            border-style: solid;
            border-radius: 1.22rem;
            overflow: hidden;
        }
        .item_wrapper__top {
            padding: 0;
            margin-bottom: 16px;
        }
        .item_wrapper__bottom {
            max-width: 100%;
        }
        .character__name {
            h3 {
                font-size: 1.125rem;
            }
        }
        .character__rating {
            font-size: 1rem;
        }
        .character__image {
            height: unset;
            .image {
                max-width: 100%;
            }
            img {
                max-height: 100%;
            }
        }
        &:hover {
            transform: unset;
        }
    }
    .left_detail {
        .block_action {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid map-get($map: $theme-colors, $key: gray-border);
            box-sizing: border-box;
            border-radius: 16px;
            margin-top: 12px;
            padding: 16px;
            .title {
                margin-bottom: 12px;
                font-weight: 400;
            }
            .price {
                display: flex;
                align-items: center;
                img {
                    width: 32px;
                    height: 32px;
                    flex-basis: 15%;
                    max-width: 32px;
                }
                .txt {
                    font-size: 1.25rem;
                    color: map-get($map: $theme-colors, $key: primary);
                    font-weight: 700;
                    margin-left: 8px;
                    span {
                        font-size: 12px;
                        color: map-get($map: $theme-colors, $key: gray-text);
                        margin-left: 8px;
                        font-weight: 500;
                    }
                }
            }
            @media (max-width: 1024.98px) {
                display: block;
                .price {
                    margin-bottom: 24px;
                }
            }
        }
    }
    .detail_bottom {
        margin-top: 16px;
        .bottom_item {
            padding: 16px;
            border-width: 2px;
            border-style: solid;
            border-radius: 1.22rem;
            background-color: #f4f9f4;
            + .bottom_item {
                margin-top: 16px;
            }
        }
        .title_block {
            text-align: center;
            font-size: 1.25rem;
            color: map-get($map: $theme-colors, $key: primary);
            padding-bottom: 16px;
        }
    }
    .character__skin {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
        .skin__item {
            display: flex;
            align-items: center;
            > div {
                margin-left: 8px;
                p {
                    font-size: 1.125rem;
                    max-width: 124px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    + p {
                        font-size: 0.875rem;
                        color: map-get($map: $theme-colors, $key: txt-body);
                        font-weight: 400;
                        margin-top: 4px;
                    }
                    @media (max-width: 575.98px) {
                        font-size: 0.75rem;
                    }
                }
            }
            .skin__icon {
                position: relative;
                width: 24px;
                height: 24px;
                &:before {
                    content: "";
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                }
            }
            &[body-part-name="face"] {
                &[body-part-class="fire"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/face/fire.png");
                        }
                    }
                }
                &[body-part-class="metal"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/face/metal.png");
                        }
                    }
                }
                &[body-part-class="earth"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/face/earth.png");
                        }
                    }
                }
                &[body-part-class="wood"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/face/wood.png");
                        }
                    }
                }
                &[body-part-class="water"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/face/water.png");
                        }
                    }
                }
            }
            &[body-part-name="hair"] {
                &[body-part-class="fire"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/hair/fire.png");
                        }
                    }
                }
                &[body-part-class="metal"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/hair/metal.png");
                        }
                    }
                }
                &[body-part-class="earth"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/hair/earth.png");
                        }
                    }
                }
                &[body-part-class="wood"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/hair/wood.png");
                        }
                    }
                }
                &[body-part-class="water"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/hair/water.png");
                        }
                    }
                }
            }
            &[body-part-name="body"] {
                &[body-part-class="fire"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/body/fire.png");
                        }
                    }
                }
                &[body-part-class="metal"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/body/metal.png");
                        }
                    }
                }
                &[body-part-class="earth"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/body/earth.png");
                        }
                    }
                }
                &[body-part-class="wood"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/body/wood.png");
                        }
                    }
                }
                &[body-part-class="water"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/body/water.png");
                        }
                    }
                }
            }
            &[body-part-name="hand"] {
                &[body-part-class="fire"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/hand/fire.png");
                        }
                    }
                }
                &[body-part-class="metal"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/hand/metal.png");
                        }
                    }
                }
                &[body-part-class="earth"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/hand/earth.png");
                        }
                    }
                }
                &[body-part-class="wood"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/hand/wood.png");
                        }
                    }
                }
                &[body-part-class="water"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/hand/water.png");
                        }
                    }
                }
            }
            &[body-part-name="leg"] {
                &[body-part-class="fire"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/leg/fire.png");
                        }
                    }
                }
                &[body-part-class="metal"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/leg/metal.png");
                        }
                    }
                }
                &[body-part-class="earth"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/leg/earth.png");
                        }
                    }
                }
                &[body-part-class="wood"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/leg/wood.png");
                        }
                    }
                }
                &[body-part-class="water"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/leg/water.png");
                        }
                    }
                }
            }
            &[body-part-name="decor"] {
                &[body-part-class="fire"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/decor/fire.png");
                        }
                    }
                }
                &[body-part-class="metal"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/decor/metal.png");
                        }
                    }
                }
                &[body-part-class="earth"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/decor/earth.png");
                        }
                    }
                }
                &[body-part-class="wood"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/decor/wood.png");
                        }
                    }
                }
                &[body-part-class="water"] {
                    .skin__icon {
                        &:before {
                            background-image: url("../icons/decor/water.png");
                        }
                    }
                }
            }
            &[rarity="common"] {
                color: map-get($map: $theme-colors, $key: rarity-common);
            }
            &[rarity="uncommon"] {
                color: map-get($map: $theme-colors, $key: rarity-uncommon);
            }
            &[rarity="rare"] {
                color: map-get($map: $theme-colors, $key: rarity-rare);
            }
            &[rarity="epic"] {
                color: map-get($map: $theme-colors, $key: rarity-epic);
            }
            &[rarity="legendary"] {
                color: map-get($map: $theme-colors, $key: rarity-legendary);
            }
            &[rarity="mythical"] {
                color: map-get($map: $theme-colors, $key: rarity-mythical);
            }
        }
    }
    .character__transaction-history {
        max-height: 150px;
        overflow-y: auto;
        table {
            font-size: 0.75rem;
            width: 100%;
            th,
            td {
                padding: 8px;
            }
        }
        @media (max-width: 575.98px) {
            overflow-x: auto;
        }
    }
    .fancybox-close-small {
        color: map-get($map: $theme-colors, $key: neutral-white);
        top: -22px;
        right: -22px;
        background-color: lighten(
            $color: map-get($theme-colors, primary),
            $amount: 50%
        );
        &:hover {
            background-color: lighten(
                $color: map-get($theme-colors, primary),
                $amount: 40%
            );
        }
        @media (max-width: 575.98px) {
            top: unset;
            right: unset;
            left: 50%;
            bottom: -22px;
            transform: translateX(-50%);
        }
    }
    @media (max-width: 767.98px) {
        max-width: 550px;
    }
    @media (max-width: 575.98px) {
        .popup__body {
            padding: 16px 16px 44px 16px;
        }
    }
    &[rating="1"] {
        border-color: #696969;
        background-color: rgba(
            $color: darken($color: #696969, $amount: 20%),
            $alpha: 0.5
        );
        .border-rating {
            border-color: #696969;
        }
        .color-rating {
            color: #696969;
        }
        .fancybox-close-small {
            background-color: #696969;
            &:hover {
                opacity: 1;
                box-shadow: 0 5px 20px rgba($color: #696969, $alpha: 0.3);
            }
        }
    }
    &[rating="2"] {
        border-color: #92c156;
        background-color: rgba(
            $color: darken($color: #92c156, $amount: 20%),
            $alpha: 0.5
        );
        .border-rating {
            border-color: #92c156;
        }
        .color-rating {
            color: #92c156;
        }
        .fancybox-close-small {
            background-color: #92c156;
            &:hover {
                opacity: 1;
                box-shadow: 0 5px 20px rgba($color: #92c156, $alpha: 0.3);
            }
        }
    }
    &[rating="3"] {
        border-color: #4dbbe5;
        background-color: rgba(
            $color: darken($color: #4dbbe5, $amount: 20%),
            $alpha: 0.5
        );
        .border-rating {
            border-color: #4dbbe5;
        }
        .color-rating {
            color: #4dbbe5;
        }
        .fancybox-close-small {
            background-color: #4dbbe5;
            &:hover {
                opacity: 1;
                box-shadow: 0 5px 20px rgba($color: #4dbbe5, $alpha: 0.3);
            }
        }
    }
    &[rating="4"] {
        border-color: #c55af0;
        background-color: rgba(
            $color: darken($color: #c55af0, $amount: 20%),
            $alpha: 0.5
        );
        .border-rating {
            border-color: #c55af0;
        }
        .color-rating {
            color: #c55af0;
        }
        .fancybox-close-small {
            background-color: #c55af0;
            &:hover {
                opacity: 1;
                box-shadow: 0 5px 20px rgba($color: #c55af0, $alpha: 0.3);
            }
        }
    }
    &[rating="5"] {
        border-color: #e74836;
        background-color: rgba(
            $color: darken($color: #e74836, $amount: 20%),
            $alpha: 0.5
        );
        .border-rating {
            border-color: #e74836;
        }
        .color-rating {
            color: #e74836;
        }
        .fancybox-close-small {
            background-color: #e74836;
            &:hover {
                opacity: 1;
                box-shadow: 0 5px 20px rgba($color: #e74836, $alpha: 0.3);
            }
        }
    }
    &[rating="6"] {
        border-color: #fcbb21;
        background-color: rgba(
            $color: darken($color: #fcbb21, $amount: 20%),
            $alpha: 0.5
        );
        .border-rating {
            border-color: #fcbb21;
        }
        .color-rating {
            color: #fcbb21;
        }
        .fancybox-close-small {
            background-color: #fcbb21;
            &:hover {
                opacity: 1;
                box-shadow: 0 5px 20px rgba($color: #fcbb21, $alpha: 0.3);
            }
        }
    }
    &[character-class="fire"] {
        .character__image {
            .image {
                background-image: url("../images/bg_hero_fire.png");
            }
        }
        .character__class {
            &:before {
                background-image: url("../icons/hero-class/fire.png");
            }
        }
    }
    &[character-class="water"] {
        .character__image {
            .image {
                background-image: url("../images/bg_hero_water.png");
            }
        }
        .character__class {
            &:before {
                background-image: url("../icons/hero-class/water.png");
            }
        }
    }
    &[character-class="metal"] {
        .character__image {
            .image {
                background-image: url("../images/bg_hero_metal.png");
            }
        }
        .character__class {
            &:before {
                background-image: url("../icons/hero-class/metal.png");
            }
        }
    }
    &[character-class="wood"] {
        .character__image {
            .image {
                background-image: url("../images/bg_hero_wood.png");
            }
        }
        .character__class {
            &:before {
                background-image: url("../icons/hero-class/wood.png");
            }
        }
    }
    &[character-class="earth"] {
        .character__image {
            .image {
                background-image: url("../images/bg_hero_earth.png");
            }
        }
        .character__class {
            &:before {
                background-image: url("../icons/hero-class/earth.png");
            }
        }
    }
}

.stake_your_grbe_popup {
    max-width: 636px;
    width: 100%;
    margin: 0 auto;
    .your_grbe__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 16px;
        @media (max-width: 575.98px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .your_grbe__item {
        cursor: pointer;
        .item__img {
            border: 2px solid map-get($map: $theme-colors, $key: gray-border);
            border-radius: 1.22rem;
            transition: 0.3s all ease-in-out;
        }
        .item__id {
            font-weight: 500;
            color: map-get($map: $theme-colors, $key: gray-text);
            text-align: center;
            margin-top: 8px;
        }
        .item__power {
            color: map-get($map: $theme-colors, $key: additional-orange);
            text-align: center;
            margin-top: 4px;
            > i {
                margin-right: 4px;
            }
            span {
                font-weight: 700;
            }
        }
        &.checked {
            .item__img {
                background: lighten(
                    $color: map-get($theme-colors, primary),
                    $amount: 50%
                );
                border-color: rgba(
                    $color: map-get($theme-colors, primary),
                    $alpha: 0.2
                );
            }
        }
    }
    .popup__body {
        max-height: 50vh;
        overflow-y: auto;
    }
}

.unbox_popup {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    background-color: lighten(
        $color: map-get($map: $theme-colors, $key: primary),
        $amount: 50%
    );
    .unbox_popup__desc {
        margin-bottom: 16px;
        p {
            text-align: center;
            font-size: 1rem;
            @media (max-width: 575.98px) {
                font-size: 0.875rem;
            }
            &:last-child {
                margin-top: 8px;
            }
        }
    }
    .unbox_popup__heading {
        text-align: center;
        margin-bottom: 16px;
        h4 {
            color: map-get($map: $theme-colors, $key: secondary);
            font-size: 1.5rem;
            font-weight: 700;
            @media (max-width: 575.98px) {
                font-size: 1rem;
            }
        }
        p {
            text-align: center;
        }
    }
    .unbox_popup__input {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        .input-main {
            input {
                font-size: 1.375rem;
                text-align: center;
            }
        }
        .input-percent {
            margin-top: 16px;
            .percent {
                display: flex;
                justify-content: space-between;
                p {
                    font-size: 1rem;
                    font-weight: 500;
                    @media (max-width: 575.98px) {
                        font-size: 0.875rem;
                    }
                }
            }
            .invalid-feedback {
                margin-top: 8px;
            }
        }
    }
    .token-name {
        margin: 8px 0;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        background-color: lighten(
            $color: map-get($map: $theme-colors, $key: primary),
            $amount: 30%
        );
        padding: 8px;
        border-radius: 1.22rem;
        max-width: 400px;
        width: 100%;
        margin: 24px auto;
        &:not(.show) {
            display: none;
        }
    }
    .loading {
        color: map-get($map: $theme-colors, $key: primary);
        text-align: center;
        font-size: 1.5rem;
        &:not(.show) {
            display: none;
        }
    }
    .successful-content {
        color: map-get($map: $theme-colors, $key: primary);
        text-align: center;
        font-size: 1.5rem;
        &:not(.show) {
            display: none;
        }
    }
    .popup__footer {
        .bt {
            min-width: 150px;
            + .bt {
                @media (max-width: 575.98px) {
                    margin-left: 0;
                    margin-top: 8px;
                }
            }
        }
        @media (max-width: 575.98px) {
            flex-direction: column;
        }
    }
}

.claim_airdrop_popup {
    max-width: 500px;
    width: 100%;
    .claim_airdrop_content_popup {
        p {
            text-align: center;
            + p {
                margin-top: 8px;
            }
        }
    }
    .fancybox-close-small {
        display: none;
    }
}

.buy_character_popup {
    max-width: 500px;
    width: 100%;
    .buy_character_content_popup {
        .content__item {
            padding: 16px;
            border: 1px solid map-get($map: $theme-colors, $key: gray-border);
            border-radius: 1.22rem;
            + .content__item {
                margin-top: 16px;
            }
        }
        .note {
            font-size: 0.625rem;
            margin-top: 4px;
        }
        .content {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            label {
                margin-bottom: 16px;
            }
            h3 {
                font-size: 1.5rem;
            }
            .price-token {
                display: flex;
                align-items: center;
                span {
                    font-size: 1rem;
                    padding-left: 4px;
                }
            }
            .icon {
                width: 32px;
                height: 32px;
                overflow: hidden;
                border-radius: 50%;
                background-color: map-get(
                    $map: $theme-colors,
                    $key: neutral-white
                );
            }
        }
        .error {
            display: flex;
            align-items: center;
            color: map-get($map: $theme-colors, $key: danger);
            margin-top: 24px;
            > i {
                margin-right: 4px;
            }
        }
    }
}

.sell_character_popup {
    max-width: 500px;
    width: 100%;
    .popup__body {
        max-height: 80vh;
        overflow-y: auto;
    }
    .sell_character_form {
        .form__item {
            + .form__item {
                margin-top: 24px;
            }
        }
        label {
            margin-bottom: 8px;
        }
        .form-control {
            &:not([type="date"]):not([type="datetime-local"]) {
                padding: 0 100px 0 16px;
            }
        }
        .input_group {
            .price-token {
                position: absolute;
                top: 50%;
                right: 16px;
                transform: translateY(-50%);
                display: flex;
                align-items: center;
                .icon {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    overflow: hidden;
                    background-color: map-get(
                        $map: $theme-colors,
                        $key: neutral-white
                    );
                }
            }
        }
        .select_grbe {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;
            margin: 0 auto;
            background-color: rgba($color: #dfdfdf, $alpha: 1);
            border-radius: 1.22rem;
            .thumbnail {
                cursor: pointer;
                max-width: 130px;
                margin: 0 auto;
                &:not(.active) {
                    filter: grayscale(100%);
                }
            }
            p {
                text-align: center;
                font-size: 0.75rem;
                color: map-get($map: $theme-colors, $key: gray-text);
                margin-top: 4px;
            }
        }
        .note {
            color: map-get($map: $theme-colors, $key: gray-text);
            font-size: 0.625rem;
            margin-top: 8px;
        }
        .group-label {
            display: flex;
            justify-content: space-between;
        }
    }
}

.nofication_popup {
    max-width: 400px;
    width: 100%;
    .nofication_content_popup {
        .error {
            display: flex;
            align-items: center;
            color: map-get($map: $theme-colors, $key: danger);
            > i {
                margin-right: 4px;
            }
        }
        .success {
            color: map-get($map: $theme-colors, $key: primary);
            text-align: center;
        }
    }

    &.nofication_success_popup {
        .fancybox-close-small {
            display: none;
        }
    }
}
