@import "./variable";

.fancybox-content {
    background-color: map-get($map: $theme-colors, $key: neutral-background);
    border-radius: 0.22rem;
    padding: 0;
    background-size: cover;
}

.fancybox-slide--html {
    .fancybox-close-small {
        top: 12px;
        right: 12px;
        border-radius: 50%;
        transition: 0.3s all ease-in-out;
    }
}

.fancybox-close-small {
    &:hover {
        color: map-get($map: $theme-colors, $key: neutral-white);
        background-color: map-get($map: $theme-colors, $key: primary);
        box-shadow: 0 5px 20px
            rgba(
                $color: map-get($map: $theme-colors, $key: primary),
                $alpha: 0.3
            );
    }
}

.popup__header {
    border-bottom: 1px solid map-get($map: $theme-colors, $key: gray-border);
    padding: 24px 120px 24px 24px;
    &.center {
        padding: 24px;
        @media (max-width: 575.98px) {
            padding: 16px;
        }
    }
    @media (max-width: 575.98px) {
        padding: 16px 120px 16px 16px;
    }
}

.popup__title {
    font-size: 1.4rem;
}

.popup__body {
    padding: 24px;
    @media (max-width: 575.98px) {
        padding: 16px;
    }
}

.popup__footer {
    background-color: rgba(
        $color: map-get($map: $theme-colors, $key: primary),
        $alpha: 0.1
    );
    border-top: 1px solid
        rgba($color: map-get($map: $theme-colors, $key: primary), $alpha: 0.2);
    padding: 24px;
    display: flex;
    justify-content: flex-end;
    > .bt {
        + .bt {
            margin-left: 16px;
        }
    }
    &.center {
        justify-content: center;
    }
    &.left {
        justify-content: flex-start;
    }
    @media (max-width: 575.98px) {
        padding: 16px;
    }
}

.wallet_connect_popup {
    max-width: 400px;
    width: 100%;
    .list_option_wallet_connect {
        display: flex;
        flex-wrap: wrap;
        margin-right: -8px;
        margin-left: -8px;
    }
    .item_option_wallet_connect {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 8px;
        padding-left: 8px;
        margin-bottom: 16px;
        .bt {
            cursor: not-allowed;
            border-radius: 8px;
            align-items: center;
            flex-direction: column;
            height: 100px;
            background-color: rgba(
                $color: map-get($map: $theme-colors, $key: primary),
                $alpha: 1
            );
            color: map-get($map: $theme-colors, $key: neutral-white);
            transition: background-color 0.3s ease-in-out;
            opacity: 0.5;
            &:hover {
                background-color: rgba(
                    $color: map-get($map: $theme-colors, $key: primary),
                    $alpha: 0.8
                );
            }
        }
        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 8px;
        }
        &:not([disable]) {
            .bt {
                opacity: 1;
                cursor: pointer;
                sup {
                    display: none;
                }
            }
        }
    }
    .support-document {
        color: rgba(
            $color: map-get($map: $theme-colors, $key: secondary),
            $alpha: 0.8
        );
        font-weight: 600;
        transition: 0.3s all ease-in-out;
        > i {
            margin-right: 8px;
        }
        &:hover {
            color: rgba(
                $color: map-get($map: $theme-colors, $key: secondary),
                $alpha: 1
            );
        }
    }
}

.character_detail_popup {
    max-width: 650px;
    width: 100%;
    overflow: visible;
    background-color: rgba(
        $color: lighten($color: map-get($theme-colors, primary), $amount: 50%),
        $alpha: 0.5
    );
    .detail_top {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: 1fr 1fr;
        .top_left {
            position: relative;
            border-radius: 0.22rem;
            box-shadow: 0px 3px 6px
                rgba(
                    $color: map-get($theme-colors, neutral-black),
                    $alpha: 0.08
                );
            background-color: lighten(
                $color: map-get($theme-colors, primary),
                $amount: 50%
            );
            .left_bottom {
                padding: 16px;
            }
        }
        .top_right {
            padding: 16px 16px 16px 0;
            @media (max-width: 575.98px) {
                padding: 16px;
                background-color: lighten(
                    $color: map-get($theme-colors, primary),
                    $amount: 50%
                );
                border-radius: 0.22rem;
                box-shadow: 0px 3px 6px
                    rgba(
                        $color: map-get($theme-colors, neutral-black),
                        $alpha: 0.08
                    );
            }
        }
        @media (max-width: 575.98px) {
            grid-template-columns: 1fr;
        }
    }
    .character__id {
        font-size: 0.75rem;
        position: absolute;
        left: 8px;
        top: 8px;
        cursor: pointer;
        color: map-get($map: $theme-colors, $key: neutral-white);
        display: flex;
        justify-content: center;
        padding: 4px 8px;
        width: fit-content;
        border-radius: 0.22rem;
        background-color: rgba(
            $color: map-get($map: $theme-colors, $key: primary),
            $alpha: 0.8
        );
        transition: 0.3s all ease-in-out;
        span + span {
            margin-left: 4px;
        }
        &:hover {
            background-color: rgba(
                $color: map-get($map: $theme-colors, $key: primary),
                $alpha: 1
            );
        }
        &:active {
            transform: translateY(2px);
        }
    }
    .character__breed-count {
        color: map-get($map: $theme-colors, $key: neutral-white);
        font-size: 0.75rem;
        position: absolute;
        right: 8px;
        top: 8px;
        padding: 4px 8px;
        width: fit-content;
        background-color: rgba(
            $color: map-get($map: $theme-colors, $key: primary),
            $alpha: 0.8
        );
        border-radius: 0.22rem;
    }
    .character__image {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        @media (max-width: 575.98px) {
            max-width: 150px;
            margin: 0 auto;
        }
        &[rating="1"] {
            background-image: url("./images/bg_card_item_detail_product_rate_1.png");
        }
        &[rating="2"] {
            background-image: url("./images/bg_card_item_detail_product_rate_2.png");
        }
        &[rating="3"] {
            background-image: url("./images/bg_card_item_detail_product_rate_3.png");
        }
        &[rating="4"] {
            background-image: url("./images/bg_card_item_detail_product_rate_4.png");
        }
        &[rating="5"] {
            background-image: url("./images/bg_card_item_detail_product_rate_5.png");
        }
        &[rating="6"] {
            background-image: url("./images/bg_card_item_detail_product_rate_6.png");
        }
    }
    .character__information {
        color: map-get($map: $theme-colors, $key: neutral-white);
        .information__item {
            display: flex;
            justify-content: space-between;
            + .information__item {
                margin-top: 8px;
            }
        }
        @media (max-width: 575.98px) {
            color: map-get($map: $theme-colors, $key: txt-body);
        }
    }
    .character__rating {
        display: flex;
        color: map-get($map: $theme-colors, $key: additional-yellow);
        i + i {
            margin-left: 4px;
        }
    }
    .character__price {
        display: flex;
        justify-content: center;
        align-items: center;
        color: map-get($map: $theme-colors, $key: primary);
        h2 {
            display: flex;
            align-items: center;
            .icon {
                flex: 0 0 44px;
                max-width: 44px;
                background-color: map-get(
                    $map: $theme-colors,
                    $key: neutral-white
                );
                border-radius: 50%;
                overflow: hidden;
            }
            span {
                font-weight: 700;
                font-size: 2rem;
                margin-left: 8px;
                @media (max-width: 767.98px) {
                    font-size: 1.5rem;
                }
            }
        }
        p {
            color: map-get($map: $theme-colors, $key: gray-text);
            font-size: 1.125rem;
            padding-left: 8px;
            padding-top: 8px;
            @media (max-width: 767.98px) {
                font-size: 1rem;
                padding-left: 4px;
                padding-top: 4px;
            }
        }
    }
    .character__actions {
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }
    .left_detail {
        .block_action {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid map-get($map: $theme-colors, $key: gray-border);
            box-sizing: border-box;
            border-radius: 16px;
            margin-top: 12px;
            padding: 16px;
            .title {
                margin-bottom: 12px;
                font-weight: 400;
            }
            .price {
                display: flex;
                align-items: center;
                img {
                    width: 32px;
                    height: 32px;
                    flex-basis: 15%;
                    max-width: 32px;
                }
                .txt {
                    font-size: 1.25rem;
                    color: map-get($map: $theme-colors, $key: primary);
                    font-weight: 700;
                    margin-left: 8px;
                    span {
                        font-size: 12px;
                        color: map-get($map: $theme-colors, $key: gray-text);
                        margin-left: 8px;
                        font-weight: 500;
                    }
                }
            }
            @media (max-width: 1024.98px) {
                display: block;
                .price {
                    margin-bottom: 24px;
                }
            }
        }
    }
    .detail_bottom {
        margin-top: 16px;
        .bottom_item {
            padding: 16px;
            border: 2px solid
                lighten($color: map-get($theme-colors, primary), $amount: 50%);
            border-radius: 0.22rem;
            background-color: map-get($map: $theme-colors, $key: neutral-white);
            + .bottom_item {
                margin-top: 16px;
            }
        }
        .title_block {
            text-align: center;
            font-size: 1.125rem;
            color: map-get($map: $theme-colors, $key: primary);
            padding-bottom: 16px;
        }
    }
    .character__skin {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
        .skin__item {
            display: flex;
            align-items: center;
            > div {
                margin-left: 8px;
                p {
                    max-width: 124px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    + p {
                        font-size: 0.75rem;
                        color: map-get($map: $theme-colors, $key: txt-body);
                        font-weight: 400;
                        margin-top: 4px;
                    }
                    @media (max-width: 575.98px) {
                        font-size: 0.75rem;
                    }
                }
            }
            &[rarity="common"] {
                color: map-get($map: $theme-colors, $key: rarity-common);
            }
            &[rarity="uncommon"] {
                color: map-get($map: $theme-colors, $key: rarity-uncommon);
            }
            &[rarity="rare"] {
                color: map-get($map: $theme-colors, $key: rarity-rare);
            }
            &[rarity="epic"] {
                color: map-get($map: $theme-colors, $key: rarity-epic);
            }
            &[rarity="legendary"] {
                color: map-get($map: $theme-colors, $key: rarity-legendary);
            }
            &[rarity="mythical"] {
                color: map-get($map: $theme-colors, $key: rarity-mythical);
            }
        }
    }
    .character__transaction-history {
        max-height: 150px;
        overflow-y: auto;
        table {
            font-size: 0.75rem;
            width: 100%;
            th,
            td {
                padding: 8px;
            }
        }
        @media (max-width: 575.98px) {
            overflow-x: auto;
        }
    }
    .fancybox-close-small {
        color: map-get($map: $theme-colors, $key: txt-body);
        top: -22px;
        right: -22px;
        background-color: lighten(
            $color: map-get($theme-colors, primary),
            $amount: 50%
        );
        &:hover {
            background-color: lighten(
                $color: map-get($theme-colors, primary),
                $amount: 40%
            );
        }
        @media (max-width: 575.98px) {
            top: unset;
            right: unset;
            left: 50%;
            bottom: -22px;
            transform: translateX(-50%);
        }
    }
    @media (max-width: 767.98px) {
        max-width: 550px;
    }
    @media (max-width: 575.98px) {
        margin: 56px 0;
        .popup__body {
            padding: 16px 16px 44px 16px;
        }
    }
}

.stake_your_grbe_popup {
    max-width: 636px;
    width: 100%;
    margin: 0 auto;
    .your_grbe__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 16px;
        @media (max-width: 575.98px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .your_grbe__item {
        cursor: pointer;
        .item__img {
            border: 2px solid map-get($map: $theme-colors, $key: gray-border);
            border-radius: 0.22rem;
            transition: 0.3s all ease-in-out;
        }
        .item__id {
            font-weight: 500;
            color: map-get($map: $theme-colors, $key: gray-text);
            text-align: center;
            margin-top: 8px;
        }
        .item__power {
            color: map-get($map: $theme-colors, $key: additional-orange);
            text-align: center;
            margin-top: 4px;
            > i {
                margin-right: 4px;
            }
            span {
                font-weight: 700;
            }
        }
        &.checked {
            .item__img {
                background: lighten(
                    $color: map-get($theme-colors, primary),
                    $amount: 50%
                );
                border-color: rgba(
                    $color: map-get($theme-colors, primary),
                    $alpha: 0.2
                );
            }
        }
    }
}

.unbox_popup {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    background-color: lighten(
        $color: map-get($map: $theme-colors, $key: primary),
        $amount: 50%
    );
    .popup__header {
        border-bottom: 1px solid
            rgba(
                $color: map-get($map: $theme-colors, $key: primary),
                $alpha: 0.2
            );
    }
    .unbox_popup__desc {
        margin-bottom: 16px;
        p {
            text-align: center;
            font-size: 1rem;
            @media (max-width: 575.98px) {
                font-size: 0.875rem;
            }
            &:last-child {
                margin-top: 8px;
            }
        }
    }
    .unbox_popup__heading {
        text-align: center;
        margin-bottom: 16px;
        h4 {
            color: map-get($map: $theme-colors, $key: secondary);
            font-size: 1.5rem;
            font-weight: 700;
            @media (max-width: 575.98px) {
                font-size: 1rem;
            }
        }
        p {
            text-align: center;
        }
    }
    .unbox_popup__input {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        .input-main {
            input {
                font-size: 1.375rem;
                text-align: center;
            }
        }
        .input-percent {
            margin-top: 16px;
            .percent {
                display: flex;
                justify-content: space-between;
                p {
                    font-size: 1rem;
                    font-weight: 500;
                    @media (max-width: 575.98px) {
                        font-size: 0.875rem;
                    }
                }
            }
            .invalid-feedback {
                margin-top: 8px;
            }
        }
    }
    .token-name {
        margin: 8px 0;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        background-color: lighten(
            $color: map-get($map: $theme-colors, $key: primary),
            $amount: 30%
        );
        padding: 8px;
        border-radius: 0.22rem;
        max-width: 400px;
        width: 100%;
        margin: 24px auto;
        &:not(.show) {
            display: none;
        }
    }
    .loading {
        color: map-get($map: $theme-colors, $key: primary);
        text-align: center;
        font-size: 1.5rem;
        &:not(.show) {
            display: none;
        }
    }
    .successful-content {
        color: map-get($map: $theme-colors, $key: primary);
        text-align: center;
        font-size: 1.5rem;
        &:not(.show) {
            display: none;
        }
    }
    .popup__footer {
        .bt {
            min-width: 150px;
        }
    }
}
