.activity__sorting {
	display: flex;
	margin-bottom: 48px;
}

.activity__tags {
	display: flex;
	flex-wrap: wrap;
	align-self: flex-start;
	.activity__link {
		display: flex;
		align-items: center;
		text-align: center;
		padding: 0 16px;
		border-radius: 24px;
		height: 40px;
		font-weight: 600;
		color: map-get($map: $theme-colors, $key: disable);
		transition: map-get($map: $theme-transition, $key: all);
		&.active {
			color: map-get($map: $theme-colors, $key: primary);
			background-color: rgba(
				$color: map-get($map: $theme-colors, $key: primary),
				$alpha: 0.1
			);
		}
	}
}

.tabs {
	.tabs__link {
		&.active {
			color: map-get($map: $theme-colors, $key: primary);
			background-color: rgba(
				$color: map-get($map: $theme-colors, $key: primary),
				$alpha: 0.1
			);
		}
	}
	&.primary {
		.tabs__content {
			background-color: map-get($map: $theme-colors, $key: primary);
			box-shadow: inset 0px -4px 4px rgba($color:
						lighten(
							$color: map-get($map: $theme-colors, $key: primary),
							$amount: 10%
						), $alpha: 0.2);
		}
		.tabs__content__header {
			border-bottom: 2px solid
				rgba(
					$color:
						lighten(
							$color: map-get($map: $theme-colors, $key: primary),
							$amount: 10%
						),
					$alpha: 0.2
				);
		}
	}
	&.secondary {
		.tabs__content {
			background-color: map-get($map: $theme-colors, $key: secondary);
			box-shadow: inset 0px -4px 4px rgba($color:
						lighten(
							$color:
								map-get($map: $theme-colors, $key: secondary),
							$amount: 10%
						), $alpha: 0.8);
		}
		.tabs__content__header {
			border-bottom: 2px solid
				rgba(
					$color:
						lighten(
							$color:
								map-get($map: $theme-colors, $key: secondary),
							$amount: 10%
						),
					$alpha: 0.5
				);
		}
	}
	&.neutral-background-lighter {
		.tabs__content {
			background-color: map-get(
				$map: $theme-colors,
				$key: neutral-background-lighter
			);
			box-shadow: inset 0px -4px 4px rgba($color:
						lighten(
							$color:
								map-get(
									$map: $theme-colors,
									$key: neutral-background-lighter
								),
							$amount: 10%
						), $alpha: 0.8);
		}
		.tabs__content__header {
			border-bottom: 2px solid
				rgba(
					$color:
						lighten(
							$color:
								map-get(
									$map: $theme-colors,
									$key: neutral-background-lighter
								),
							$amount: 10%
						),
					$alpha: 0.5
				);
		}
	}
}

.tabs__nav {
	display: flex;
	padding: 8px;
	border-radius: 16px;
	border: 2px solid map-get($map: $theme-colors, $key: gray-border);
}

.tabs__link {
	padding: 8px;
	border-radius: 8px;
	font-weight: 500;
	color: map-get($map: $theme-colors, $key: disable);
	transition: map-get($map: $theme-transition, $key: all);
	text-align: center;
	&:hover {
		color: map-get($map: $theme-colors, $key: neutral-white);
	}
}

.tabs__content {
	margin-top: 24px;
	border-radius: 24px;
}

.tabs__icon {
	font-size: 1.2rem;
}

.tabs__text {
	margin-top: 8px;
	@media (max-width: 575.98px) {
		display: none;
	}
}

.badge {
	font-size: 80%;
	display: inline-block;
	padding: 6px 12px;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 10rem;
	border: 1px solid transparent;
	> i {
		margin-right: 4px;
	}
	&.primary {
		background-color: map-get($map: $theme-colors, $key: primary);
		box-shadow: inset 0px -4px 4px darken($color:
					map-get($map: $theme-colors, $key: primary), $amount: 10%);
	}
	&.secondary {
		color: map-get($map: $theme-colors, $key: neutral-black);
		background-color: map-get($map: $theme-colors, $key: secondary);
		box-shadow: inset 0px -4px 4px darken($color:
					map-get($map: $theme-colors, $key: secondary), $amount: 10%);
	}
	&.outline {
		background-color: transparent;
		&.primary {
			color: lighten(
				$color: map-get($map: $theme-colors, $key: primary),
				$amount: 10%
			);
			border-color: lighten(
				$color: map-get($map: $theme-colors, $key: primary),
				$amount: 10%
			);
		}
	}
}

.token__item {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 16px;
	height: 48px;
	color: map-get($map: $theme-colors, $key: neutral-white);
	border-radius: 24px;
	transition: map-get($map: $theme-transition, $key: all);
	&.primary {
		background-color: rgba(
			$color: map-get($map: $theme-colors, $key: primary),
			$alpha: 0.2
		);
		&:hover {
			background-color: rgba(
				$color: map-get($map: $theme-colors, $key: primary),
				$alpha: 0.8
			);
		}
	}
	&.secondary {
		background-color: rgba(
			$color: map-get($map: $theme-colors, $key: secondary),
			$alpha: 0.2
		);
		&:hover {
			background-color: rgba(
				$color: map-get($map: $theme-colors, $key: secondary),
				$alpha: 0.8
			);
		}
	}
	&--block {
		@media (max-width: 767.98px) {
			.token__name,
			.pool_token__name {
				display: block;
			}
		}
	}
	&:active {
		&:not([disabled]) {
			opacity: 0.85;
			transform: translateY(2px);
			box-shadow: none;
		}
	}
	@media (max-width: 767.98px) {
		padding: 0 8px;
		height: 36px;
		border-radius: 16px;
	}
}

.token__label_select {
	font-weight: 600;
	@media (max-width: 767.98px) {
		font-size: 0;
		&:after {
			content: "\f51e";
			display: inline-flex;
			width: 24px;
			height: 24px;
			justify-content: center;
			align-items: center;
			font-size: 1rem;
			font-family: "Font Awesome 5 Pro";
		}
	}
}

.pool_token__item {
	cursor: pointer;
	padding: 16px;
	color: map-get($map: $theme-colors, $key: neutral-white);
	border-radius: 24px;
	transition: map-get($map: $theme-transition, $key: all);
	&.primary {
		background-color: rgba(
			$color: map-get($map: $theme-colors, $key: primary),
			$alpha: 0.2
		);
	}
	&.secondary {
		background-color: rgba(
			$color: map-get($map: $theme-colors, $key: secondary),
			$alpha: 0.2
		);
	}
	&.active {
		.js-show-pool-token-item-hidden {
			> div {
				> i {
					transform: rotate(180deg);
				}
			}
		}
		.pool_token__item__hidden {
			display: block;
			opacity: 1;
			animation: slide-down 0.5s ease-out;
		}
	}
}

.token__information,
.pool_token__information {
	display: flex;
	align-items: center;
	~ i {
		margin-left: 8px;
	}
	.token__icon {
		~ .pool_token__name,
		~ .token__name,
		~ .token__price {
			margin-left: 8px;
		}
	}
	+ .token__information,
	+ .pool_token__information {
		margin-top: 8px;
	}
}

.token__name,
.token__price,
.pool_token__name,
.pool_token__price {
	font-weight: 600;
	&--2xl {
		font-size: 3.2rem;
	}
	&--xl {
		font-size: 2.4rem;
	}
	&--lg {
		font-size: 1.4rem;
	}
	&--mr-0 {
		margin-right: 0;
	}
}

.token__name,
.pool_token__name {
	@media (max-width: 767.98px) {
		display: none;
	}
}

.token__icon {
	width: 24px;
	height: 24px;
	&--md {
		width: 32px;
		height: 32px;
	}
	&--lg {
		width: 44px;
		height: 44px;
	}
	+ .token__icon {
		margin-left: 8px;
	}
}

.pool_token__item__hidden {
	display: none;
	opacity: 0;
	margin-top: 32px;
	> .flex-between-alc {
		+ .flex-between-alc {
			margin-top: 16px;
		}
	}
	> .bt {
		margin-top: 24px;
	}
}

.js-show-pool-token-item-hidden {
	> div {
		> i {
			transition: map-get($map: $theme-transition, $key: all);
		}
	}
}

.pool_token__item__action {
	@media (max-width: 767.98px) {
		flex-direction: column;
		.bt {
			width: 100%;
			+ .bt {
				margin-top: 16px;
			}
		}
	}
}

.language-wrapper {
	position: relative;
	&:hover {
		.select-language {
			opacity: 1;
			visibility: visible;
		}
	}
}

.select-language {
	position: absolute;
	bottom: 100%;
	left: 0;
	width: max-content;
	padding: 16px 24px;
	background-color: map-get($map: $theme-colors, $key: primary);
	box-shadow: inset 0px -4px 4px rgba($color:
				darken(
					$color: map-get($map: $theme-colors, $key: primary),
					$amount: 10%
				), $alpha: 0.5);
	max-height: 350px;
	overflow-y: auto;
	border-radius: 24px;
	opacity: 0;
	visibility: hidden;
	transition: map-get($map: $theme-transition, $key: all);
	&::-webkit-scrollbar {
		display: none;
	}
	.item-language {
		+ .item-language {
			margin-top: 16px;
		}
		button {
			color: map-get($map: $theme-colors, $key: neutral-white);
			font-weight: 600;
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(
		$color: map-get($map: $theme-colors, $key: neutral-black),
		$alpha: 0.8
	);
	opacity: 0;
	visibility: hidden;
	z-index: 300;
	transition: map-get($map: $theme-transition, $key: all);
	&.active {
		opacity: 1;
		visibility: visible;
	}
}
