.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(
		$color: map-get($map: $theme-colors, $key: neutral-black),
		$alpha: 0.8
	);
	opacity: 0;
	visibility: hidden;
	z-index: 300;
	transition: 0.3s all ease-in-out;
	&.active {
		opacity: 1;
		visibility: visible;
	}
}

