@import "_variable";

.banner_section {
    padding: 24px 0;
    background: lighten($color: map-get($theme-colors, primary), $amount: 60%);
    background-image: url("../images/background-banner.png");
    background-size: cover;
    background-position: center center;
}

.banner_section__wrapper {
    max-width: 500px;
    margin: 0 auto;
    min-height: 450px;
}

.banner_section__title {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    h1 {
        font-size: 2rem;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        color: #ffd75f;
        text-shadow: -2px 4px 6px rgba($color: #000000, $alpha: 0.5);
        @media (max-width: 575.98px) {
            font-size: 1.5rem;
            top: 42%;
        }
    }
}

.banner_section__content {
    margin-top: 24px;
    img {
        display: block;
        margin: 0 auto;
        animation: tranformItemImageBanner 8s ease-in-out infinite;
    }
    h2,
    p {
        color: map-get($map: $theme-colors, $key: neutral-white);
        text-align: center;
    }
    h2 {
        font-size: 1.5rem;
        margin-top: 24px;
    }
    p {
        margin-top: 4px;
        font-weight: 500;
    }
}

.nft_farmer_page,
.nft_compensation_page,
.nft_claim_page {
    .banner_section__content {
        img {
            max-width: 300px;
        }
    }
}

.nft_market_page {
    .banner_section__content {
        img {
            max-width: 200px;
        }
    }
}

.nft_your_tree_page {
    .banner_section__content {
        img {
            max-width: 150px;
        }
    }
}

.nft_your_tree_page {
    .banner_section {
        background-image: url("../images/bg_inventory.png");
        background-position: center bottom;
    }
}
