@import "_variable";

.claim_section {
    padding: 44px 0;
    @media (max-width: 767.98px) {
        padding: 16px 0;
    }
}

.claim_block {
    background: lighten($color: map-get($theme-colors, primary), $amount: 60%);
    border: 1px solid rgba($color: map-get($theme-colors, primary), $alpha: 0.2);
    border-radius: 0.22rem;
    .tabs_nav {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid
            rgba($color: map-get($theme-colors, primary), $alpha: 0.1);
    }
    .tabs_nav__item {
        cursor: pointer;
        padding: 24px;
        position: relative;
        h2 {
            font-size: 1.125rem;
            @media (max-width: 575.98px) {
                font-size: 1rem;
            }
        }
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: map-get($map: $theme-colors, $key: primary);
        }
        &:not(.active) {
            &:after {
                opacity: 0;
                visibility: hidden;
            }
        }
        @media (max-width: 575.98px) {
            padding: 16px;
        }
    }
    .block_content {
        padding: 24px;
        ul {
            margin-top: 16px;
            margin-bottom: 16px;
        }
        li {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            span {
                display: inline-block;
                + span {
                    color: map-get($map: $theme-colors, $key: primary-light);
                    margin-left: 8px;
                    font-weight: 500;
                }
                a {
                    color: inherit;
                    text-decoration: underline;
                    ~ i {
                        margin-left: 4px;
                    }
                }
                &:first-child {
                    flex: 0 0 150px;
                    max-width: 150px;
                }
                &:last-child {
                    flex-basis: 0;
                    flex-grow: 1;
                    max-width: 100%;
                }
            }
            + li {
                margin-top: 8px;
            }
        }
        b {
            font-weight: 600;
            span {
                color: map-get($map: $theme-colors, $key: secondary);
            }
        }
        .actions {
            .bt {
                + .bt {
                    margin-left: 16px;
                }
            }
        }
        @media (max-width: 575.98px) {
            padding: 16px;
        }
    }
    + .compensation_block {
        margin-top: 24px;
    }
    @media (max-width: 575.98px) {
        border-radius: 16px;
    }
}
