@import "_variable";

.nft_farmer_page {
    background-color: map-get($map: $theme-colors, $key: bg-lighten);
}

.farm_info_section {
    margin-top: 32px;
}

.farm_info_section__wrapper {
    position: relative;
    padding: 32px 0;
    .farm_info_decorate {
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-width: 250px;
        &--left {
            left: 0;
            @media (max-width: 1024.98px) {
                display: none;
            }
        }
        &--right {
            right: 0;
            @media (max-width: 767.98px) {
                display: none;
            }
        }
        @media (max-width: 1199.98px) {
            max-width: 200px;
        }
    }
    @media (max-width: 767.98px) {
        padding: 0;
    }
}

.farm_info_section__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    border: 2px solid rgba($color: map-get($theme-colors, primary), $alpha: 0.2);
    background: lighten($color: map-get($theme-colors, primary), $amount: 55%);
    border-radius: 0.22rem;
    padding: 16px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    .block {
        text-align: center;
        h4 {
            margin-bottom: 8px;
        }
        span {
            font-size: 1.5rem;
            font-weight: 700;
            &.usd-value {
                font-size: 1rem;
            }
            + span {
                opacity: 0.8;
                margin-left: 4px;
            }
        }
        @media (max-width: 575.98px) {
            &:first-child {
                grid-column: span 2;
            }
        }
    }
    .action {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
    }
    @media (max-width: 1024.98px) {
        margin-left: 0;
    }
    @media (max-width: 767.98px) {
        margin-left: auto;
    }
    @media (max-width: 575.98px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.farm_filter_section {
    margin-top: 32px;
}

.farm_filter_section__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 767.98px) {
        align-items: unset;
        flex-direction: column;
    }
}

.information_lock {
    text-align: center;
    margin-top: 16px;
    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }
    h3 {
        font-size: 1rem;
        font-weight: 500;
        margin-right: 8px;
        span {
            font-weight: 700;
            color: map-get($map: $theme-colors, $key: primary);
        }
    }
    p {
        font-weight: 500;
        span {
            font-weight: 700;
            color: map-get($map: $theme-colors, $key: primary);
        }
    }
}

.filter_section__left_partial {
    display: flex;
    align-items: center;
    .tabs_row {
        background-color: rgba(
            $color: map-get($theme-colors, primary),
            $alpha: 0.2
        );
        border-radius: 0.22rem;
        margin-right: 24px;
        .tab-active {
            color: map-get($map: $theme-colors, $key: neutral-white);
            background-color: map-get($map: $theme-colors, $key: primary);
        }
    }
    .staked {
        .input_group {
            > span {
                font-weight: 500;
                margin-left: 8px;
            }
        }
    }
    @media (max-width: 767.98px) {
        justify-content: space-between;
        margin-bottom: 16px;
    }
    @media (max-width: 575.98px) {
        .tabs_row {
            margin-right: 0;
        }
    }
    @media (max-width: 375.98px) {
        display: block;
        .tabs_row {
            margin-bottom: 16px;
        }
    }
}

.filter_section__right_partial {
    .search_block {
        position: relative;
        .form-control {
            padding-left: 36px;
        }
        > i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 16px;
        }
        @media (max-width: 767.98px) {
            width: 100%;
        }
    }
}

.farming_section {
    padding-top: 16px;
    padding-bottom: 80px;
}

.farming__list {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 1024.98px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.farming__item {
    border: 2px solid rgba($color: map-get($theme-colors, primary), $alpha: 0.2);
    background: lighten($color: map-get($theme-colors, primary), $amount: 50%);
    border-radius: 0.22rem;
    height: fit-content;
    &.active {
        .panel_header__expand {
            transform: translateX(-50%) rotate(180deg);
        }
    }
    &:not(.active) {
        .collapse_content {
            display: none;
        }
    }
    .collapse_header {
        position: relative;
        cursor: pointer;
    }
    .panel__header {
        height: 100%;
        padding: 16px 16px 24px;
    }
    .panel_header__expand {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 100;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
        width: 24px;
        height: 24px;
        color: map-get($map: $theme-colors, $key: neutral-white);
        background: map-get($theme-colors, $key: primary);
        border-radius: 0.22rem;
        transition: transform 0.3s ease-in-out;
    }
    .panel_header__content--top {
        display: flex;
        justify-content: space-between;
        .content--top__infomation {
            display: flex;
            align-items: center;
        }
        .content--top__multiplier {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 40px;
            color: map-get($map: $theme-colors, $key: neutral-white);
            background: linear-gradient(
                180deg,
                map-get($theme-colors, secondary),
                lighten($color: map-get($theme-colors, secondary), $amount: 10%)
            );
            font-weight: 700;
            border-radius: 0.22rem;
        }
        .infomation__logos {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 60px;
            height: 60px;
            margin-right: 16px;
            .logo--left {
                position: absolute;
                top: 0;
                left: 0;
                &.staked-only {
                    position: static;
                }
            }
            .logo--right {
                position: absolute;
                right: 0;
                bottom: 0;
                filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.16));
            }
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: map-get($map: $theme-colors, $key: neutral-white);
            }
        }
        .infomation__content {
            h4 {
                color: map-get($map: $theme-colors, $key: primary);
                font-size: 1.5rem;
                font-weight: 700;
                margin-bottom: 4px;
                display: flex;
                align-items: center;
            }
            > div {
                p + p {
                    margin-top: 4px;
                }
            }
        }
    }
    .panel_header__content--bottom {
        padding-left: 76px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 8px;
        align-items: center;
        margin-top: 8px;
        .content--bottom__item {
            label {
                display: block;
                margin-bottom: 4px;
            }
            span {
                font-size: 1rem;
                font-weight: 700;
                color: map-get($map: $theme-colors, $key: primary);
                word-break: break-word;
                &.usd-value {
                    color: map-get($map: $theme-colors, $key: txt-body);
                    font-size: 0.75rem;
                    font-weight: 500;
                    margin-left: 4px;
                    opacity: 0.7;
                }
                &.fire,
                &.txt-orange {
                    color: map-get(
                        $map: $theme-colors,
                        $key: additional-orange
                    );
                    font-size: 0.875rem;
                }
                + span {
                    margin-left: 8px;
                }
            }
            .values {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        }
        @media (max-width: 1024.98px) {
            grid-template-columns: repeat(4, 1fr);
        }
        @media (max-width: 767.98px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 575.98px) {
            grid-template-columns: repeat(2, 1fr);
            padding-left: 0;
        }
    }
    .collapse_content {
        padding: 24px 16px 16px 16px;
        position: relative;
        border-top: 1px solid
            rgba(
                $color: map-get($map: $theme-colors, $key: primary),
                $alpha: 0.2
            );
    }
    .expand_details {
        color: map-get($map: $theme-colors, $key: txt-body);
    }
    .expand_details__item {
        > [class*="item__"] {
            background: map-get($map: $theme-colors, $key: neutral-white);
            padding: 16px;
            box-shadow: 0 0 10px -2px rgba($color: #000000, $alpha: 0.16);
            border-radius: 0.22rem;
        }
        .item__liquidity {
            .available {
                font-size: 1rem;
                text-align: center;
                color: map-get($map: $theme-colors, $key: primary-dark);
                margin-bottom: 16px;
            }
            .tabs_nav {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: fit-content;
                margin: 0 auto 16px;
                background-color: rgba(
                    $color: map-get($theme-colors, primary),
                    $alpha: 0.2
                );
                border-radius: 0.22rem;
            }
            .tabs_nav__item {
                cursor: pointer;
                position: relative;
                display: inline-flex;
                align-items: center;
                padding: 8px 16px;
                border-radius: 0.22rem;
                &.active {
                    color: map-get($map: $theme-colors, $key: neutral-white);
                    background-color: map-get(
                        $map: $theme-colors,
                        $key: primary
                    );
                }
            }
            .tabs_content {
                display: flex;
                width: 100%;
            }
            .tabs_content_holder {
                position: relative;
                flex: auto;
                min-width: 0;
                min-height: 0;
            }
            .tabs_tabpane {
                flex: none;
                width: 100%;
                outline: none;
            }
            .form_wrapper {
                .block-input-action {
                    display: flex;
                    align-items: center;
                    grid-gap: 16px;
                }
                .input_group {
                    position: relative;
                    .form-control {
                        padding: 0 56px 0 16px;
                    }
                    > span {
                        position: absolute;
                        right: 16px;
                        top: 50%;
                        transform: translateY(-50%);
                        font-weight: 700;
                    }
                }
                .actions {
                    > .bt {
                        height: 48px;
                    }
                }
            }
            .liquidity {
                display: flex;
                justify-content: center;
                margin-top: 24px;
                > a {
                    font-weight: 500;
                    + a {
                        margin-left: 24px;
                    }
                }
            }
        }
        .item__stake_grbe {
            label {
                text-align: center;
                font-size: 1rem;
                margin-bottom: 8px;
                display: block;
            }
            .description {
                font-size: 0.75rem;
                text-align: center;
                opacity: 0.5;
                margin-bottom: 8px;
            }
            .select_rgbe {
                .thumbnail {
                    cursor: pointer;
                    max-width: 130px;
                    margin: 0 auto;
                    &:not(.active) {
                        filter: grayscale(100%);
                    }
                }
                p {
                    text-align: center;
                    font-size: 0.75rem;
                    color: map-get($map: $theme-colors, $key: gray-text);
                    margin-top: 4px;
                }
            }
        }
        .item__earned {
            label {
                text-align: center;
                font-size: 1rem;
                margin-bottom: 8px;
                display: block;
            }
            .amount {
                margin-bottom: 8px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                img {
                    width: 30px;
                    margin-left: 8px;
                }
                span {
                    &:not(.usd-value) {
                        color: map-get($map: $theme-colors, $key: primary);
                        font-size: 2rem;
                        font-weight: 700;
                    }
                }
                .usd-value {
                    text-align: center;
                    font-size: 0.75rem;
                    color: map-get($map: $theme-colors, $key: gray-text);
                    margin-left: 4px;
                }
            }
            .grbe-icon {
                img {
                    max-width: 120px;
                    display: block;
                    margin: 0 auto;
                }
            }
            .actions {
                display: flex;
                justify-content: center;
                margin-top: 16px;
                .bt {
                    + .bt {
                        margin-left: 8px;
                    }
                }
            }
        }
        + .expand_details__item {
            margin-top: 16px;
        }
        &:nth-child(2) {
            display: grid;
            grid-gap: 16px;
            grid-template-columns: 1fr 1fr;
            @media (max-width: 575.98px) {
                grid-template-columns: 1fr;
            }
        }
    }
}
