@import "_variable";

.farm_info_section {
	margin-top: 32px;
}

.farm_info_section__wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 32px;
}

.farm_info_section__item {
	display: grid;
	color: map-get($theme-colors, $key: neutral-white);
	background: linear-gradient(
		180deg,
		map-get($theme-colors, primary),
		lighten($color: map-get($theme-colors, primary), $amount: 10%)
	);
	border-radius: 24px;
	padding: 24px;
	&.deposited {
		grid-template-columns: auto auto;
		grid-column-gap: 24px;
		h4 {
			margin-bottom: 18px;
			font-weight: 500;
		}
		span {
			font-size: 1.5rem;
			font-weight: 700;
		}
		.harvest {
			display: flex;
			align-items: center;
		}
		.harvest__action {
			margin-left: 16px;
		}
	}
	&.wallet {
		.wallet__title {
			margin-bottom: 18px;
			display: flex;
			align-items: center;
			height: fit-content;
			h4 {
				font-weight: 500;
				margin-right: 8px;
			}
			> a {
				font-size: 1rem;
				color: map-get($map: $theme-colors, $key: neutral-white);
			}
			.add-metamask {
				cursor: pointer;
				margin-left: 16px;
			}
		}
		.wallet__balance {
			display: flex;
			align-items: center;
			span {
				font-size: 1.5rem;
				font-weight: 700;
				&.usd-value {
					font-size: 0.75rem;
					opacity: 0.7;
					font-weight: 500;
					margin-left: 8px;
				}
			}
			.buy_grbe {
				margin-left: 24px;
			}
		}
	}
}

.farm_filter_section {
	margin-top: 32px;
}

.farm_filter_section__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.filter_section__left_partial {
	display: flex;
	align-items: center;
	.tabs_row {
		background-color: rgba(
			$color: map-get($theme-colors, primary),
			$alpha: 0.2
		);
		border-radius: 100px;
		margin-right: 24px;
		.tab-active {
			color: map-get($map: $theme-colors, $key: neutral-white);
			background-color: map-get($map: $theme-colors, $key: primary);
		}
	}
	.staked {
		.input_group {
			> span {
				font-weight: 500;
				margin-left: 8px;
			}
		}
	}
}

.filter_section__right_partial {
	.search_block {
		position: relative;
		.form-control {
			padding-left: 36px;
		}
		> i {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 16px;
		}
	}
}

.farming_section {
	padding-top: 16px;
}

.farming__item {
	border: 1px solid
		rgba($color: map-get($map: $theme-colors, $key: primary), $alpha: 0.2);
	background: lighten(
		$color: map-get($map: $theme-colors, $key: primary),
		$amount: 50%
	);
	border-radius: 32px;
	+ .farming__item {
		margin-top: 32px;
	}
	.collapse_header {
		position: relative;
		cursor: pointer;
	}
	.panel__header {
		height: 100%;
		display: flex;
		justify-content: space-between;
		padding: 16px 110px 16px 40px;
	}
	.panel_header__multiplier,
	.panel_header__expand {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.panel_header__multiplier {
		width: 40px;
		height: 40px;
		color: map-get($map: $theme-colors, $key: neutral-white);
		background: linear-gradient(
			180deg,
			map-get($theme-colors, secondary),
			lighten($color: map-get($theme-colors, secondary), $amount: 10%)
		);
		font-weight: 700;
		left: -20px;
		border-radius: 12px;
	}
	.panel_header__logos {
		position: relative;
		width: 60px;
		height: 60px;
		margin-right: 16px;
		.panel_header__logo--left {
			position: absolute;
			top: 0;
			left: 0;
		}
		.panel_header__logo--right {
			position: absolute;
			right: 0;
			bottom: 0;
			filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.16));
		}
		img {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background: map-get($map: $theme-colors, $key: neutral-white);
		}
	}
	.panel_header__content--left {
		display: flex;
		align-items: center;
	}
	.panel_header__token_info,
	.wrapper {
		display: flex;
		flex-direction: column;
	}
	.wrapper {
		span {
			font-weight: 400;
			+ span {
				margin-top: 4px;
			}
		}
	}
	.panel_header__token_name {
		font-size: 1rem;
		font-weight: 700;
		margin-bottom: 4px;
		display: flex;
		align-items: center;
	}
	.panel_header__content--right {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 700px;
	}
	.panel_header__info_item {
		width: 20%;
		label {
			display: block;
			font-weight: 400;
			margin-bottom: 4px;
		}
		span {
			font-size: 1rem;
			font-weight: 700;
			&.usd-value {
				font-size: 0.75rem;
				font-weight: 500;
				color: map-get($map: $theme-colors, $key: gray-text);
				margin-left: 4px;
			}
			&.fire,
			&.txt-orange {
				font-size: 0.875rem;
			}
			+ span {
				margin-left: 8px;
			}
		}
		.values {
			display: flex;
			align-items: center;
		}
	}
	.panel_header__expand {
		right: 40px;
		width: 24px;
		height: 24px;
		color: map-get($map: $theme-colors, $key: primary);
		background: rgba(
			$color: map-get($theme-colors, $key: primary),
			$alpha: 0.2
		);
		border-radius: 5px;
	}
}
