@import "_variable";

.farm_info_section {
	margin-top: 32px;
}

.farm_info_section__wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 32px;
}

.farm_info_section__item {
	display: grid;
	color: map-get($theme-colors, $key: neutral-white);
	background: linear-gradient(
		180deg,
		lighten($color: map-get($theme-colors, primary), $amount: 10%),
		map-get($theme-colors, primary)
	);
	border-radius: 24px;
	padding: 24px;
	&.deposited {
		grid-template-columns: auto auto;
		grid-column-gap: 24px;
		h4 {
			margin-bottom: 18px;
			font-weight: 500;
		}
		span {
			font-size: 1.5rem;
			font-weight: 700;
		}
		.harvest {
			display: flex;
			align-items: center;
		}
		.harvest__action {
			margin-left: 16px;
		}
	}
	&.wallet {
		.wallet__title {
			margin-bottom: 18px;
			display: flex;
			align-items: center;
			height: fit-content;
			h4 {
				font-weight: 500;
				margin-right: 8px;
			}
			> a {
				font-size: 1rem;
				color: map-get($map: $theme-colors, $key: neutral-white);
			}
			.add-metamask {
				cursor: pointer;
				margin-left: 16px;
			}
		}
		.wallet__balance {
			display: flex;
			align-items: center;
			span {
				font-size: 1.5rem;
				font-weight: 700;
				&.usd-value {
					font-size: 0.75rem;
					opacity: 0.7;
					font-weight: 500;
					margin-left: 8px;
				}
			}
			.buy_grbe {
				margin-left: 24px;
			}
		}
	}
}

.farm_filter_section {
	margin-top: 32px;
}

.filter_section__wrapper {
	display: flex;
	justify-content: space-between;
}

.filter_section__left_partial {
	display: flex;
	align-items: center;
	.tabs_row {
		background: #d2e2ee;
		border-radius: 100px;
		margin-right: 24px;
	}
}
