@import "_variable";

.my_asset__currency {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 56px;
	.currency__current {
		display: flex;
		align-items: center;
		flex: 0 0 250px;
		max-width: 250px;
		width: 50%;
		padding: 0px 12px 0px 24px;
		border: 1px solid
			rgba(
				$color: map-get($map: $theme-colors, $key: primary),
				$alpha: 0.5
			);
		background-color: transparent;
		border-radius: 20px;
		line-height: 50px;
		p {
			flex-grow: 1;
		}
		+ .currency__current {
			margin-left: 56px;
			@media (max-width: 575.98px) {
				margin-left: 0;
				margin-top: 24px;
			}
		}
		@media (max-width: 575.98px) {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
	.currency__current__block {
		display: flex;
		align-items: center;
		background-color: rgba(
			$color: map-get($map: $theme-colors, $key: primary),
			$alpha: 0.5
		);
		height: 40px;
		border-radius: 50px;
		padding: 0px 10px;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		img {
			width: 24px;
			height: 24px;
			object-fit: cover;
			margin-right: 10px;
		}
	}
}

.my_asset__tab {
	background-color: map-get(
		$map: $theme-colors,
		$key: neutral-background-lighter
	);
	border-radius: 16px;
	overflow: hidden;
	.tab__header {
		position: relative;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		&:after {
			content: "";
			position: absolute;
			height: 2px;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: map-get($map: $theme-colors, $key: gray-border);
		}
	}
	.tab__content {
		min-height: 500px;
		padding: 32px;
		@media (max-width: 767.98px) {
			padding: 16px;
		}
	}
	.tab__menuItem {
		position: relative;
		font-size: 1rem;
		display: inline-flex;
		column-gap: 16px;
		align-items: center;
		justify-content: center;
		height: 70px;
		padding: 0 32px;
		user-select: none;
		&:after {
			content: "";
			position: absolute;
			height: 2px;
			bottom: 0;
			width: 0;
			background-color: rgba(
				$color: map-get($map: $theme-colors, $key: primary),
				$alpha: 0.5
			);
			z-index: 10;
			left: 50%;
			transform: translateX(-50%);
			transition: map-get($map: $theme-transition, $key: all);
		}
		&.active {
			&:after {
				width: 100%;
			}
		}
		@media (max-width: 767.98px) {
			flex: 0 0 50%;
			max-width: 50%;
			font-size: 0.875rem;
			padding: 0 16px;
		}
	}
	.not_content {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 436px;
		img {
			max-width: 200px;
			margin: 0 auto;
		}
	}
}

.warriors {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 24px;
	@media (max-width: 1199.98px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 575.98px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.warrior__item {
	border-radius: 16px;
	overflow: hidden;
	height: 100%;
	background-color: map-get($map: $theme-colors, $key: neutral-background);
	&:hover {
		.warrior__character {
			&:after {
				opacity: 1;
				top: -30%;
				left: -30%;
			}
		}
	}
}

.warrior__character {
	position: relative;
	overflow: hidden;
	padding: 24px;
	background-image: url(../images/background_warrior_item.png);
	background-size: cover;
	@media (max-width: 767.98px) {
		padding: 16px;
	}
	&:after {
		content: "";
		position: absolute;
		pointer-events: none;
		top: -110%;
		left: -210%;
		width: 200%;
		height: 200%;
		opacity: 0;
		background: linear-gradient(
			to right,
			rgba(255, 255, 255, 0.13) 0%,
			rgba(255, 255, 255, 0.13) 77%,
			rgba(255, 255, 255, 0.5) 92%,
			rgba(255, 255, 255, 0) 100%
		);
		transition-property: left, top, opacity;
		transition-duration: 1s, 1s, 0.15s;
		transition-timing-function: ease;
	}
}

.warrior__information {
	border-top: 1px solid
		rgba($color: map-get($map: $theme-colors, $key: primary), $alpha: 0.2);
	padding: 16px 24px;
	.box-row {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;
	}
	.box-left {
		-ms-flex: 0 0 40%;
		flex: 0 0 40%;
		max-width: 40%;
		padding-right: 10px;
		padding-left: 10px;
	}
	.box-right {
		-ms-flex: 0 0 60%;
		flex: 0 0 60%;
		max-width: 60%;
		padding-right: 10px;
		padding-left: 10px;
		font-size: 0.77rem;
		.flex-between-alc {
			+ .flex-between-alc {
				margin-top: 8px;
			}
		}
	}
	@media (max-width: 767.98px) {
		padding: 16px;
	}
}

.warrior__character {
	img {
		position: relative;
		display: block;
		margin: 0 auto;
		width: auto;
	}
}

.warrior__name {
	margin-bottom: 4px;
}

.warrior__id {
	display: inline-block;
	font-size: 0.77rem;
	margin-bottom: 8px;
}

.warrior__actions {
	padding: 16px 24px;
	border-top: 1px solid
		rgba($color: map-get($map: $theme-colors, $key: primary), $alpha: 0.2);
	@media (max-width: 767.98px) {
		padding: 16px;
	}
}
