@import "_variable";

.shop_section {
	padding-top: 48px;
	padding-bottom: 80px;
	@media (max-width: 767.98px) {
		padding-top: 30px;
	}
}

.shop__wrapper {
	display: grid;
	grid-template-columns: 262px auto;
	grid-column-gap: 32px;
	@media (max-width: 767.98px) {
		grid-template-columns: 1fr;
	}
}

.shop__fiter_left {
	.title {
		font-size: 1.25rem;
		font-weight: 500;
		margin-bottom: 18px;
	}
	@media (max-width: 767.98px) {
		max-width: 262px;
		margin-bottom: 32px;
	}
}

.shop__filter_top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 32px;
	.left_partial {
		.tabs_row {
			background-color: rgba(
				$color: map-get($theme-colors, primary),
				$alpha: 0.2
			);
			border-radius: 18px;
		}
		.bt-tab-name {
			&.active {
				background: map-get($map: $theme-colors, $key: primary);
				color: map-get($map: $theme-colors, $key: neutral-white);
			}
		}
		@media (max-width: 1024.98px) {
			margin-bottom: 16px;
		}
	}
	.right_partial {
		display: flex;
		align-items: center;
		.input_group {
			> span {
				font-weight: 500;
				margin-right: 8px;
			}
		}
		.select__custom {
			margin-left: 16px;
		}
	}
	@media (max-width: 1024.98px) {
		flex-direction: column;
		align-items: flex-start;
	}
}

.shop__filter_tabs_nav {
	display: grid;
	grid-gap: 16px;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 32px;
	.tab_item {
		cursor: pointer;
		user-select: none;
		border: 1px solid
			rgba($color: map-get($theme-colors, primary), $alpha: 0.4);
		transition: color 0.3s ease-in-out;
		&:not(.active) {
			&:hover {
				color: rgba(
					$color: map-get($theme-colors, primary),
					$alpha: 0.8
				);
			}
		}
		&.active {
			color: map-get($map: $theme-colors, $key: neutral-white);
			background-color: map-get($map: $theme-colors, $key: primary);
		}
	}
}

.shop__filter_tabs_content {
	.filter_block {
		+ .filter_block {
			margin-top: 32px;
		}
	}
	.filter_block__wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 16px;
	}
	.filter_block__title {
		color: map-get($map: $theme-colors, $key: gray-text);
		font-weight: 500;
		margin-bottom: 12px;
	}
	.filter_block__item {
		display: flex;
		align-items: center;
		.checkbox__custom {
			margin-right: 8px;
		}
		img {
			margin-right: 4px;
			width: 24px;
			height: 24px;
		}
		span {
			display: inline-block;
			text-overflow: ellipsis;
			max-width: 60px;
			overflow: hidden;
			font-weight: 400;
		}
	}
}

.shop__main_content {
	.total_rgbe {
		display: flex;
		justify-content: space-between;
		font-size: 1.25rem;
		font-weight: 500;
		margin-bottom: 18px;
	}
}

.list_products {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 16px;
	@media (max-width: 1199.98px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media (max-width: 1024.98px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 575.98px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.list_products__item {
	background-clip: padding-box;
	border-radius: 16px;
	border: 2px solid transparent;
	position: relative;
	cursor: pointer;
	.passive {
		position: absolute;
		top: 8px;
		left: 8px;
		span {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: map-get(
				$map: $theme-colors,
				$key: neutral-background-dark
			);
			img {
				width: 75%;
			}
		}
	}
	.power {
		position: absolute;
		top: 8px;
		right: 8px;
		min-width: 48px;
		height: 24px;
		display: flex;
		padding: 0 8px;
		align-items: center;
		justify-content: center;
		background: #f56a42;
		border-radius: 100px;
		i {
			color: map-get($map: $theme-colors, $key: neutral-white);
			margin-right: 4px;
		}
		.value {
			font-size: 0.75rem;
			font-weight: 500;
			color: map-get($map: $theme-colors, $key: neutral-white);
		}
	}
	&--metal {
		background-color: lighten(
			$color: map-get($map: $theme-colors, $key: additional-yellow),
			$amount: 45%
		);
		&:after {
			background: linear-gradient(
				180deg,
				lighten(
					$color:
						map-get($map: $theme-colors, $key: additional-yellow),
					$amount: 30%
				),
				map-get($map: $theme-colors, $key: additional-yellow)
			);
		}
	}
	&--wood {
		background-color: lighten(
			$color: map-get($map: $theme-colors, $key: additional-green),
			$amount: 60%
		);
		&:after {
			background: linear-gradient(
				180deg,
				lighten(
					$color: map-get($map: $theme-colors, $key: additional-green),
					$amount: 30%
				),
				map-get($map: $theme-colors, $key: additional-green)
			);
		}
	}
	&--water {
		background-color: lighten(
			$color: map-get($theme-colors, additional-blue),
			$amount: 50%
		);
		&:after {
			background: linear-gradient(
				180deg,
				lighten(
					$color: map-get($theme-colors, additional-blue),
					$amount: 30%
				),
				map-get($theme-colors, additional-blue)
			);
		}
	}
	&--fire {
		background-color: lighten(
			$color: map-get($map: $theme-colors, $key: additional-red),
			$amount: 50%
		);
		&:after {
			background: linear-gradient(
				180deg,
				lighten(
					$color: map-get($theme-colors, additional-red),
					$amount: 30%
				),
				lighten(
					$color: map-get($theme-colors, additional-red),
					$amount: 20%
				)
			);
		}
	}
	&--earth {
		background-color: lighten(
			$color: map-get($theme-colors, additional-brown),
			$amount: 50%
		);
		&:after {
			background: linear-gradient(
				180deg,
				lighten(
					$color: map-get($theme-colors, additional-brown),
					$amount: 20%
				),
				map-get($theme-colors, additional-brown)
			);
		}
	}
	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -2;
		margin: -2px;
		border-radius: inherit;
	}
}

.list_products__thumbnail {
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	.lazyload-wrapper {
		img {
			max-height: 180px;
		}
	}
}

.list_products__info {
	color: map-get($map: $theme-colors, $key: txt-body);
	padding: 12px 16px 16px;
	.name {
		font-weight: 500;
		margin-bottom: 4px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.detail {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 12px;
		.code {
			font-size: 0.75rem;
			font-weight: 400;
		}
		.rating {
			color: map-get($map: $theme-colors, $key: additional-yellow);
			i + i {
				margin-left: 4px;
			}
		}
	}
	.price {
		display: flex;
		align-items: center;
		img {
			width: 32px;
			margin-right: 4px;
		}
		.value {
			font-weight: 500;
			color: map-get($map: $theme-colors, $key: primary);
			margin-right: 4px;
		}

		.usd-value {
			font-size: 0.75rem;
			font-weight: 500;
			color: map-get($map: $theme-colors, $key: gray-text);
		}
	}
}

.shop__pagination {
	margin-top: 32px;
	text-align: center;
	.pagination-item {
		font-weight: 500;
		border: none;
		width: 36px;
		height: 36px;
		border-radius: 50%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		> a {
			color: map-get($map: $theme-colors, $key: txt-body);
		}
		i {
			font-size: 1rem;
		}
		&.disable {
			> a {
				color: map-get($map: $theme-colors, $key: disable);
			}
		}
		&.active {
			> a {
				color: map-get($map: $theme-colors, $key: neutral-white);
			}
			background-color: map-get($map: $theme-colors, $key: primary);
		}
	}
}
