@import "_variable";
@import "list_products";

.shop_section {
    padding-top: 48px;
    padding-bottom: 80px;
    @media (max-width: 767.98px) {
        padding-top: 30px;
    }
}

.shop__wrapper {
    display: grid;
    grid-template-columns: 262px auto;
    grid-column-gap: 32px;
    @media (max-width: 767.98px) {
        grid-template-columns: 1fr;
    }
}

.shop__fiter_left {
    .title {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 18px;
    }
    @media (max-width: 767.98px) {
        max-width: 262px;
        margin-bottom: 32px;
    }
}

.shop__filter_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    .left_partial {
        .bt-tab-name {
            &.active {
                background: map-get($map: $theme-colors, $key: primary);
                color: map-get($map: $theme-colors, $key: neutral-white);
            }
        }
        .total_rgbe {
            display: flex;
            justify-content: space-between;
            font-size: 1.25rem;
            font-weight: 500;
        }
        @media (max-width: 1024.98px) {
            margin-bottom: 16px;
        }
    }
    .right_partial {
        display: flex;
        align-items: center;
        .input_group {
            > span {
                font-weight: 500;
                margin-right: 8px;
            }
        }
        .select__custom {
            margin-left: 16px;
        }
    }
    @media (max-width: 1024.98px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.shop__filter_tabs_nav {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 32px;
    .tab_item {
        cursor: pointer;
        user-select: none;
        border: 1px solid
            rgba($color: map-get($theme-colors, primary), $alpha: 0.4);
        transition: color 0.3s ease-in-out;
        &:not(.active) {
            &:hover {
                color: rgba(
                    $color: map-get($theme-colors, primary),
                    $alpha: 0.8
                );
            }
        }
        &.active {
            color: map-get($map: $theme-colors, $key: neutral-white);
            background-color: map-get($map: $theme-colors, $key: primary);
        }
    }
}

.shop__filter_tabs_content {
    .filter_block {
        + .filter_block {
            margin-top: 32px;
        }
    }
    .filter_block__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
    }
    .filter_block__title {
        color: map-get($map: $theme-colors, $key: gray-text);
        font-weight: 500;
        margin-bottom: 12px;
    }
    .filter_block__item {
        display: flex;
        align-items: center;
        .checkbox__custom {
            margin-right: 8px;
        }
        img {
            margin-right: 4px;
            width: 24px;
            height: 24px;
        }
        span {
            display: inline-block;
            text-overflow: ellipsis;
            max-width: 60px;
            overflow: hidden;
            font-weight: 400;
        }
    }
}

.list_products {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    @media (max-width: 1199.98px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 1024.98px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 575.98px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.shop__pagination {
    margin-top: 32px;
    text-align: center;
    .pagination-item {
        font-weight: 500;
        border: none;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        > a {
            color: map-get($map: $theme-colors, $key: txt-body);
        }
        i {
            font-size: 1rem;
        }
        &.disable {
            > a {
                color: map-get($map: $theme-colors, $key: disable);
            }
        }
        &.active {
            > a {
                color: map-get($map: $theme-colors, $key: neutral-white);
            }
            background-color: map-get($map: $theme-colors, $key: primary);
        }
    }
}