@import "_variable";
@import "list_products";

.shop_section {
    padding-top: 48px;
    padding-bottom: 80px;
    @media (max-width: 767.98px) {
        padding-top: 30px;
    }
}

.shop__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
}

.shop__filter {
    background: lighten($color: map-get($theme-colors, primary), $amount: 55%);
    padding: 16px;
    border-radius: 0.22rem;
    box-shadow: 0px 3px 6px
        rgba($color: map-get($theme-colors, neutral-black), $alpha: 0.08);
    border: 2px solid rgba($color: map-get($theme-colors, primary), $alpha: 0.2);
    .filter__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
        .left_partial {
            .partial__item {
                display: flex;
                justify-content: space-between;
                font-size: 1.25rem;
                @media (max-width: 575.98px) {
                    font-size: 1rem;
                }
            }
        }
        .right_partial {
            display: flex;
            align-items: center;
            .input_group {
                > span {
                    margin-right: 8px;
                }
            }
            @media (max-width: 767.98px) {
                margin-top: 16px;
            }
        }
        @media (max-width: 767.98px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .filter__main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 16px;
        .filter_block__label {
            color: map-get($map: $theme-colors, $key: primary-dark);
            font-weight: 500;
            margin-bottom: 8px;
        }
        @media (max-width: 767.98px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 575.98px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.list_products {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 16px;
    @media (max-width: 1199.98px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 1024.98px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 575.98px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.shop__pagination {
    margin-top: 32px;
    text-align: center;
    .pagination-item {
        font-weight: 500;
        border: none;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        > a {
            color: map-get($map: $theme-colors, $key: txt-body);
        }
        i {
            font-size: 1rem;
        }
        &.disable {
            > a {
                color: map-get($map: $theme-colors, $key: disable);
            }
        }
        &.active {
            > a {
                color: map-get($map: $theme-colors, $key: neutral-white);
            }
            background-color: map-get($map: $theme-colors, $key: primary);
        }
    }
}
