@import "_variable";
@import "list_products";

.nft_market_page {
    background-color: map-get($map: $theme-colors, $key: bg-lighten);
}

.shop_section {
    padding-top: 48px;
    padding-bottom: 80px;
    @media (max-width: 767.98px) {
        padding-top: 30px;
    }
}

.shop__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;
    @media (max-width: 1024.98px) {
        grid-template-columns: 1fr;
    }
    .button-mobile {
        display: none;
        justify-content: center;
        @media (max-width: 575.98px) {
            display: flex;
        }
    }
    @media (max-width: 575.98px) {
        grid-gap: 16px;
    }
}

.shop__filter {
    background: lighten($color: map-get($theme-colors, primary), $amount: 55%);
    padding: 16px;
    border-radius: 1.22rem;
    box-shadow: 0px 3px 6px
        rgba($color: map-get($theme-colors, neutral-black), $alpha: 0.08);
    border: 2px solid rgba($color: map-get($theme-colors, primary), $alpha: 0.2);
    .filter__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left {
            padding-right: 24px;
        }
        h3 {
            font-size: 1rem;
            font-weight: 700;
        }
    }
    .filter__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 16px;
        margin-top: 24px;
        @media (max-width: 767.98px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 575.98px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .filter_block {
        background: lighten(
            $color: map-get($theme-colors, primary),
            $amount: 45%
        );
        border-radius: 8px;
        overflow: hidden;
        h4 {
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            background: lighten(
                $color: map-get($theme-colors, primary),
                $amount: 40%
            );
            padding: 8px;
            margin-bottom: 16px;
        }
    }
    .filter_block_checkbox {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
        padding: 0px 16px 16px 16px;
        .input_group_checkbox {
            .checkbox__custom {
                -ms-flex: 0 0 24px;
                flex: 0 0 24px;
                max-width: 24px;
                margin-right: 4px;
            }
            .icon-star {
                color: map-get($map: $theme-colors, $key: additional-yellow);
            }
            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                -ms-flex: 0 0 24px;
                flex: 0 0 24px;
                max-width: 24px;
                height: 24px;
            }
            label {
                &[rarity] {
                    cursor: pointer;
                    color: map-get($map: $theme-colors, $key: neutral-white);
                    justify-content: center;
                    height: 32px;
                    background-color: #849c61;
                    width: 100%;
                    border-radius: 4px;
                    transition: 0.3s all ease-in-out;
                }
                &[rarity="common"] {
                    &.checked {
                        background-color: map-get(
                            $map: $theme-colors,
                            $key: rarity-common
                        );
                    }
                }
                &[rarity="uncommon"] {
                    &.checked {
                        background-color: map-get(
                            $map: $theme-colors,
                            $key: rarity-uncommon
                        );
                    }
                }
                &[rarity="rare"] {
                    &.checked {
                        background-color: map-get(
                            $map: $theme-colors,
                            $key: rarity-rare
                        );
                    }
                }
                &[rarity="epic"] {
                    &.checked {
                        background-color: map-get(
                            $map: $theme-colors,
                            $key: rarity-epic
                        );
                    }
                }
                &[rarity="legendary"] {
                    &.checked {
                        background-color: map-get(
                            $map: $theme-colors,
                            $key: rarity-legendary
                        );
                    }
                }
                &[rarity="mythical"] {
                    &.checked {
                        background-color: map-get(
                            $map: $theme-colors,
                            $key: rarity-mythical
                        );
                    }
                }
            }
        }
        @media (max-width: 1199.98px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .filter_block_price {
        padding: 0px 16px 16px 16px;
        .input-price {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 8px;
            .price-block {
                position: relative;
                .form-control {
                    padding-left: 36px;
                }
                > i {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 16px;
                }
                @media (max-width: 767.98px) {
                    width: 100%;
                }
            }
        }
    }
    .close-filter-mobile {
        margin-bottom: 16px;
        display: none;
        @media (max-width: 575.98px) {
            display: block;
        }
    }
    .bt-close-filter-mobile {
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        margin-left: auto;
        background-color: map-get($map: $theme-colors, $key: primary);
        border-radius: 50%;
    }
    .shop__filter_container {
        margin-top: 24px;
        .tabs_row {
            background-color: rgba(
                $color: map-get($theme-colors, primary),
                $alpha: 0.2
            );
            border-radius: 1.22rem;
            display: inline-flex;
            .bt {
                &.active {
                    color: map-get($map: $theme-colors, $key: neutral-white);
                    background-color: map-get(
                        $map: $theme-colors,
                        $key: primary
                    );
                }
            }
        }
    }

    @media (max-width: 575.98px) {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 400;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        max-height: 80vh;
        height: 100%;
        overflow-y: auto;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s all ease-in-out;
    }
    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.shop__main_content {
    .shop__main_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        .right {
            display: flex;
            align-items: center;
            .input_group {
                width: auto;
                span {
                    padding-right: 4px;
                }
            }
        }
        @media (max-width: 575.98px) {
            flex-direction: column;
        }
    }
    .total-green-hero {
        font-size: 1rem;
        @media (max-width: 575.98px) {
            margin-bottom: 24px;
        }
    }
    .sort_block {
        display: flex;
        align-items: center;
        margin-right: 16px;
        label {
            margin-right: 8px;
        }
    }
    .list_products {
        grid-template-columns: repeat(4, 1fr);
        @media (max-width: 1199.98px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 1024.98px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 850.98px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 575.98px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
