@import "_variable";

.simular_page {
    background-color: map-get($map: $theme-colors, $key: bg-lighten);
}

.simular_section {
    padding-top: 48px;
    padding-bottom: 80px;
    @media (max-width: 767.98px) {
        padding-top: 30px;
    }
}

.mint_probabily {
    background: lighten($color: map-get($theme-colors, primary), $amount: 55%);
    padding: 16px;
    border-radius: 1.22rem;
    box-shadow: 0px 3px 6px
        rgba($color: map-get($theme-colors, neutral-black), $alpha: 0.08);
    border: 2px solid rgba($color: map-get($theme-colors, primary), $alpha: 0.2);
}

.probabily_title {
    font-size: 1rem;
    font-weight: 700;
}

.probabily_items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 8px;
    margin-top: 24px;
    .probabily {
        background: lighten(
            $color: map-get($theme-colors, primary),
            $amount: 45%
        );
        border-radius: 8px;
        overflow: hidden;
        h4 {
            font-size: 0.875rem;
            text-align: center;
            background: lighten(
                $color: map-get($theme-colors, primary),
                $amount: 40%
            );
            padding: 8px;
            margin-bottom: 16px;
            font-weight: 400;
        }
        .probabily_value {
            padding: 0 16px 16px 16px;
            input {
                width: 100%;
                text-align: center;
                background-color: transparent;
                border: 0;
                font-size: 1rem;
                font-weight: 700;
            }
        }
    }
}

.calculate_build_team {
    background: lighten($color: map-get($theme-colors, primary), $amount: 55%);
    padding: 16px;
    border-radius: 1.22rem;
    box-shadow: 0px 3px 6px
        rgba($color: map-get($theme-colors, neutral-black), $alpha: 0.08);
    border: 2px solid rgba($color: map-get($theme-colors, primary), $alpha: 0.2);
    margin-top: 24px;
}

.calculate_build_team_title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.calculate_build_team_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    .hero_information_form_group_top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 8px;
    }
    .hero_information_form_group_bottom {
        margin-top: 16px;
        grid-gap: 16px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .table_bodypart {
            background: lighten(
                $color: map-get($theme-colors, primary),
                $amount: 45%
            );
            border-radius: 8px;
            border: 1px solid
                lighten($color: map-get($theme-colors, primary), $amount: 40%);
            overflow: hidden;
            table {
                width: 100%;
                th,
                td {
                    font-size: 12px;
                    width: 33.33333%;
                    padding: 8px;
                    border: 1px solid
                        lighten(
                            $color: map-get($theme-colors, primary),
                            $amount: 40%
                        );
                }
                select {
                    cursor: pointer;
                    background-color: transparent;
                    border: 0;
                    width: 100%;
                }
                input {
                    width: 100%;
                    background-color: lighten(
                        $color: map-get($theme-colors, primary),
                        $amount: 40%
                    );
                    padding: 4px 8px;
                    border: 0;
                    border-radius: 4px;
                }
            }
        }
        .stats {
            display: grid;
            grid-gap: 16px;
            grid-template-columns: 1fr 1fr;
            height: fit-content;
        }
        .stat__item {
            label {
                margin-bottom: 8px;
            }
            .content {
                display: flex;
                align-items: center;
                .icon {
                    -ms-flex: 0 0 24px;
                    flex: 0 0 24px;
                    max-width: 24px;
                    height: 24px;
                }
                .value {
                    -ms-flex-preferred-size: 0;
                    flex-basis: 0;
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                    max-width: 100%;
                    padding-left: 8px;
                    input {
                        width: 100%;
                        background-color: lighten(
                            $color: map-get($theme-colors, primary),
                            $amount: 45%
                        );
                        padding: 4px 8px;
                        border: 0;
                        border-radius: 4px;
                    }
                }
            }
        }
        .results {
            display: grid;
            grid-gap: 16px;
            grid-template-columns: 1fr 1fr;
            margin-top: 16px;
            .result__item {
                background: lighten(
                    $color: map-get($theme-colors, primary),
                    $amount: 45%
                );
                border-radius: 8px;
                overflow: hidden;
                .head {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 8px;
                    background: lighten(
                        $color: map-get($theme-colors, primary),
                        $amount: 40%
                    );
                }
                label {
                    padding-left: 4px;
                }
                .icon {
                    -ms-flex: 0 0 24px;
                    flex: 0 0 24px;
                    max-width: 24px;
                    height: 24px;
                }
                .value {
                    -ms-flex-preferred-size: 0;
                    flex-basis: 0;
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                    max-width: 100%;
                    padding: 8px;
                    input {
                        font-size: 1.125rem;
                        width: 100%;
                        padding: 4px 8px;
                        border: 0;
                        border-radius: 4px;
                        text-align: center;
                        background-color: transparent;
                    }
                }
            }
        }
    }
    .singleHero {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 4px 16px;
        background: lighten(
            $color: map-get($theme-colors, primary),
            $amount: 45%
        );
        border: 1px solid
            lighten($color: map-get($theme-colors, primary), $amount: 40%);
        opacity: 0.8;
        transition: 0.3s all ease-in-out;
        border-radius: 32px;
        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            -ms-flex: 0 0 16px;
            flex: 0 0 16px;
            max-width: 16px;
            height: 16px;
        }
        input {
            width: fit-content;
            background-color: transparent;
            border: 0;
        }
        .hero__image {
            max-width: 44px;
        }
        .hero__id {
            padding-right: 8px;
        }
        .hero__stats {
            display: flex;
            align-items: center;
            padding: 4px 12px;
            background: lighten(
                $color: map-get($theme-colors, primary),
                $amount: 40%
            );
            border-radius: 8px;
        }
        .stat__item {
            display: flex;
            align-items: center;
            .value {
                padding-left: 4px;
            }
            + .stat__item {
                padding-left: 16px;
            }
        }
        + .singleHero {
            margin-top: 16px;
        }
        .hero__status {
            font-size: 0.75rem;
            margin-left: auto;
            padding: 4px 8px;
            border-radius: 16px;
            background: lighten(
                $color: map-get($theme-colors, danger),
                $amount: 30%
            );
            border: 1px solid
                lighten($color: map-get($theme-colors, danger), $amount: 15%);
        }
        &:first-child {
            .hero__status {
                background: lighten(
                    $color: map-get($theme-colors, primary),
                    $amount: 30%
                );
                border-color: lighten(
                    $color: map-get($theme-colors, primary),
                    $amount: 15%
                );
            }
        }
        &:nth-child(2),
        &:nth-child(3) {
            .hero__status {
                background: lighten(
                    $color: map-get($theme-colors, primary-light),
                    $amount: 30%
                );
                border-color: lighten(
                    $color: map-get($theme-colors, primary-light),
                    $amount: 15%
                );
            }
        }
        &.active {
            opacity: 1;
            border: 1px solid map-get($theme-colors, primary);
            box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
        }
        &:hover {
            opacity: 1;
        }
    }
    .listing__actions {
        display: flex;
        margin-top: 24px;
        .bt {
            + .bt {
                margin-left: 16px;
            }
        }
    }
}
