@import "_variable";
@import "_list_products";

.your_tree_section {
    padding-top: 48px;
    padding-bottom: 80px;
    background-color: map-get($map: $theme-colors, $key: bg-lighten);
    @media (max-width: 767.98px) {
        padding-top: 30px;
    }
}

.your_tree__filter_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    .left_partial {
        .bt-tab-name {
            &.active {
                background: map-get($map: $theme-colors, $key: primary);
                color: map-get($map: $theme-colors, $key: neutral-white);
            }
        }
        .partial__item {
            display: flex;
            justify-content: space-between;
            font-size: 1.25rem;
        }
        @media (max-width: 1024.98px) {
            margin-bottom: 16px;
        }
    }
    .right_partial {
        display: flex;
        align-items: center;
        .input_group {
            > span {
                font-weight: 500;
                margin-right: 8px;
            }
        }
        .select__custom {
            margin-left: 16px;
        }
    }
    @media (max-width: 1024.98px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.list_products {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 16px;
    @media (max-width: 1199.98px) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 1024.98px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 767.98px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 575.98px) {
        grid-template-columns: repeat(1, 1fr);
    }
}
