aside.sidebar
	.sidebar__top
		a(href="index.html").sidebar__logo
			img(src="./images/logo.png", alt="defi-logo")
		.js-collapse-aside-menu
			i.fad.fa-indent
	.sidebar__wrapper
		.sidebar__list
			.sidebar__group
				.sidebar__caption.js-collapse-slidebar-group
					span.fw-600 Dashboard
					i.fad.fa-chevron-down
				.sidebar__menu
					a(href="index.html").sidebar__item.active
						.sidebar__icon
							i.fad.fa-play
						.sidebar__text Playing
					a(href="my_asset.html").sidebar__item
						.sidebar__icon
							i.fad.fa-wallet
						.sidebar__text My Asset
			.sidebar__group
				.sidebar__caption.js-collapse-slidebar-group
					span.fw-600 Trade
					i.fad.fa-chevron-down
				.sidebar__menu
					a(href="exchange.html").sidebar__item
						.sidebar__icon
							i.fad.fa-sync
						.sidebar__text Exchange
					a(href="liquidity.html").sidebar__item
						.sidebar__icon
							i.fad.fa-dollar-sign
						.sidebar__text Liquidity Pool
					a(href="farming.html").sidebar__item
						.sidebar__icon
							i.far.fa-warehouse-alt
						.sidebar__text Farming
					a(href="buy_warrior.html").sidebar__item
						.sidebar__icon
							i.fad.fa-hammer-war
						.sidebar__text Buy Warrior
					a(href="buy_gem.html").sidebar__item
						.sidebar__icon
							i.fad.fa-shopping-cart
						.sidebar__text Buy GRBE
			.sidebar__group
				.sidebar__caption.js-collapse-slidebar-group
					span.fw-600 Connect
					i.fad.fa-chevron-down
				.sidebar__menu
					a(href="#").sidebar__item
						.sidebar__icon
							i.fas.fa-users-crown
						.sidebar__text Comunities
					a(href="#").sidebar__item
						.sidebar__icon
							i.far.fa-sparkles
						.sidebar__text News
					a(href="#").sidebar__item
						.sidebar__icon
							i.far.fa-question-circle
						.sidebar__text Help
	.sidebar__bottom
		.js-collapse-aside-menu
			i.fad.fa-cog
		.flex-between-alc
			a(href="exchange.html" target="_blank").token__information
				img.token__icon(src="./images/FIWA.png", alt="FIWA")
				span.token__price.txt-light $14.560
		.flex-between-alc
			.sidebar__language
				.language-wrapper
					button.bt-choose-language
						i.fal.fa-globe
						span EN
					ul.select-language
						li.item-language
							button العربية
						li.item-language
							button বাংলা
						li.item-language
							button English
						li.item-language
							button Deutsch
						li.item-language
							button Ελληνικά
						li.item-language
							button Español
						li.item-language
							button Suomalainen
						li.item-language
							button Filipino
						li.item-language
							button Français
						li.item-language
							button हिंदी
						li.item-language
							button Magyar
						li.item-language
							button Italiano
						li.item-language
							button 日本語
						li.item-language
							button 한국어
						li.item-language
							button Nederlands
						li.item-language
							button Polski
						li.item-language
							button Português (Brazil)
						li.item-language
							button Português
						li.item-language
							button Română
						li.item-language
							button Русский
						li.item-language
							button Svenska
						li.item-language
							button தமிழ்
						li.item-language
							button Türkçe
						li.item-language
							button Українська
						li.item-language
							button Українська
						li.item-language
							button Tiếng Việt
						li.item-language
							button 简体中文
						li.item-language
							button 繁體中文