footer.footer-main
	.container
		.footer-wrapper
			.footer-left
				a(href="index.html").footer__logo
					img(src="./images/logo.png", alt="LOGO-GREEN-BELI-NFT")
				.footer__nav
					a.bt.bt--secondary.bt--shadow(href="https://greenbeli.gitbook.io/green-beli/" target="_blank" rel="noopener noreferrer") Documents
			.footer-right
				h3.footer__title JOIN OUR COMMUNITIES
				.footer__socials
					a(href="https://twitter.com/Green_Beli" target="_blank" rel="noopener noreferrer")
						i.fab.fa-twitter
					a(href="https://t.me/GreenBeli" target="_blank" rel="noopener noreferrer")
						i.fab.fa-telegram-plane
					a(href="https://medium.com/@greenbeli" target="_blank" rel="noopener noreferrer")
						i.fab.fa-medium-m
					a(href="https://discord.com/invite/6zpDcmxEpZ" target="_blank" rel="noopener noreferrer")
						i.fab.fa-discord
					a(href="https://www.reddit.com/user/Green_Beli" target="_blank" rel="noopener noreferrer")
						i.fab.fa-reddit