header.header
    .container-fluid.h-100
        .header__wrapper
            .bt-burger
                i.fas.fa-align-left
            a(href="index.html").header__logo
                img(src="./images/logo.png", alt="GREEN-BELI")
            .header__menu
                .bt-close
                    i.fal.fa-times
                ul
                    li.header_menu__item.active
                        a(href="index.html") Home
                    li.header_menu__item
                        a(href="farming.html") Farming
                    li.header_menu__item
                        a(href="/") Gaming
                    li.header_menu__item
                        a(href="compensation.html") Compensation
                    li.header_menu__item
                        a(href="shop.html") NFT Market
                    li.header_menu__item
                        a(href="your-tree.html") Your Tree
                    li.header_menu__item
                        a(href="https://greenbeli.gitbook.io/green-beli/" target="_blank" rel="noreferrer") Documentations
            .header__info
                .header_info__items
                    .header_info__item
                        span TVL:
                        span $12,717,432
                    .header_info__item
                        a(href="#" target="_blank" rel="noreferrer")
                            span GGBE:
                            span $4.3158
                a.bt.bt--secondary(href="#")
                    span Play Now
                a.bt.bt--primary.unlock-wallet(href="#")
                    span Connect Wallet