header.header-main
	.container.h-100
		.header_wrapper
			a(href="index.html").header__logo
				img(src="./images/logo.png", alt="LOGO-GREEN-BELI-NFT")
			.js-collapse-aside-menu-mobile
				i.fal.fa-bars
				i.fal.fa-times
			.navigation
				ul.nav__list
					li.nav__item
						a(href="https://greenbeli.gitbook.io/green-beli/" target="_blank" rel="noopener noreferrer") About Green Beli
					li.nav__item
						a(href="#tokenomics") Tokenomics
					li.nav__item
						a(href="#how-to-play") How to play
					li.nav__item
						a(href="https://greenbeli.gitbook.io/green-beli/" target="_blank" rel="noopener noreferrer") Documents
				//- a.bt.bt--shadow.bt--primary(href="index.html")
				//- 	span Buy Token