block var

<!DOCTYPE html>
html(lang="en")
    head
        // *** META *** //
        include meta
        // *** VENDORS CSS *** //
        link(rel="stylesheet", href="./vendors/fancybox/jquery.fancybox.css")
        block library-css
        // *** CSS *** //
        include css
        block css
        // *** FAVICON *** //
        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
        // *** TITLE *** //
        title #{pageTitle}
    body
        .page
            // *** HEADER *** //
            block header
                include header
            // *** MAIN *** //
            main
                block main
                // *** POPUP WALLET CONNECT POPOP *** //
                include ../components/wallet_connect_popup
        // *** OVERLAY *** //
        .overlay
        // *** FOOTER *** //
        block footer
            include footer
        // *** VENDORS JS *** //
        script(src="./vendors/jquery/jquery.js")
        script(src="./vendors/fancybox/jquery.fancybox.js")
        block library-js
        // *** JS *** //
        include js
        block js