nav.navigation
	.container-fluid.h-100
		.row.no-gutters.al-c.h-100
			.js-collapse-aside-menu-mobile
				i.fad.fa-indent
			a(href="index.html").navigation__logo
				img(src="./images/logo.png", alt="defi-logo")
			.navigation__info
				a.bt.secondary(popup-to="wallet_connect_popup" href="javascript:;")
					span.front Connect Wallet
				a.your_wallet(popup-to="your_wallet_popup" href="javascript:;" style="display:none")