extends ../layouts/layout

block var
    - pageTitle = "Claim | Green Beli"
    - pageName = "nft_claim_page"
block library-css
block css
    link(rel="stylesheet", href="./css/banner.css")
    link(rel="stylesheet", href="./css/claim.css")
block library-js
block js
    script(src="./js/claim.js")
block main
    // *** BANNER *** //
    include ../components/banner_claim
    // *** COMPENSATION *** //
    section.claim_section
        .container
            .claim_block
                .tab_container
                    .tabs_nav
                        .tabs_nav__item(toggle-for="seed-sale")
                            h2 Seed sale
                        .tabs_nav__item(toggle-for="private-sale")
                            h2 Private sale
                        .tabs_nav__item(toggle-for="airdrop-1")
                            h2 Airdrop 1
                        .tabs_nav__item(toggle-for="airdrop-2")
                            h2 Airdrop 2
                    .tabs_content
                        .block_content(toggle-id="seed-sale")
                            p 
                                b Claim token will be gradually release from: 
                                    span Sep 20th 2021, 3:00PM UTC 
                                    | to 
                                    span NOV 20th 2022, 3:00PM UTC
                            ul
                                li
                                    span Total token:
                                    span 10.0000.0000
                                li
                                    span You have claimed:
                                    span 5.000.000
                                li
                                    span Remaining:
                                    span 5.000.000
                                li
                                    span Claimable:
                                    span 2.000.000
                            .actions
                                a.bt.bt--primary(href="#") Claim
                        .block_content(toggle-id="private-sale")
                            p
                                b Claim token will be gradually release from: 
                                    span Sep 20th 2021, 3:00PM UTC 
                                    | to 
                                    span NOV 20th 2022, 3:00PM UTC
                            ul
                                li
                                    span Total token:
                                    span 10.0000.0000
                                li
                                    span You have claimed:
                                    span 5.000.000
                                li
                                    span Remaining:
                                    span 5.000.000
                                li
                                    span Claimable:
                                    span 2.000.000
                            .actions
                                a.bt.bt--primary Claim
                        .block_content(toggle-id="airdrop-1")
                            p
                                b Congrats! you’re in the whitelist Airdrop #1
                            p
                                b Deadline to claim your tokens: 
                                    span 10th October 2PM UTC, 2021.
                            ul
                                li
                                    span Total token:
                                    span 300 Green Heroes for 300 winners
                                li
                                    span
                                    span 1,500,000 GRBE tokens for 7,500 winners
                            .actions
                                a.bt.bt--primary(popup-to="claim_airdrop1_grbe_popup" href="javascript:;") Claim GRBE
                                a.bt.bt--secondary(popup-to="claim_airdrop1_nft_popup" href="javascript:;") Claim NFT
                        .block_content(toggle-id="airdrop-2")
                            p
                                b Congrats! you’re in the whitelist Airdrop #2
                            p
                                b Deadline to claim your tokens from: 
                                    span October 17th 2021, 2PM UTC 
                                    | to 
                                    span October  24th 2021, 2PM UTC
                            ul
                                li
                                    span Total token:
                                    span 300,000 GRBE tokens for 1,000 winners
                            .actions
                                a.bt.bt--primary(popup-to="claim_airdrop2_grbe_popup" href="javascript:;") Claim GRBE
    //- POPUP CLAIM AIRDROP1 GRBE POPUP
    include ../components/claim_airdrop1_grbe_popup
    //- POPUP CLAIM AIRDROP1 NFT POPUP
    include ../components/claim_airdrop1_nft_popup
    //- POPUP CLAIM AIRDROP1 GRBE POPUP
    include ../components/claim_airdrop2_grbe_popup