extends ../layouts/layout

block var
    - pageTitle = "Comming Soon | Green Beli"
    - pageName = "comming_soon_page"
block library-css
block css
block library-js
block js
block main
    section.comming-soon
        img(src="./images/comingsoon.png", alt="comingsoon")