extends ../layouts/layout

block var
    - pageTitle = "Compensation | Green Beli"
    - pageName = "nft_compensation_page"
block library-css
block css
    link(rel="stylesheet", href="./css/banner.css")
    link(rel="stylesheet", href="./css/compensation.css")
block library-js
block js
block main
    // *** BANNER *** //
    include ../components/banner_compensation
    // *** COMPENSATION *** //
    section.compensation_section
        .container
            .compensation_block
                .block_head
                    h2 Claim token sale
                .block_content
                    b Claim token will be gradually release from: 
                        span Sep 20th 2021, 3:00PM UTC 
                        | to 
                        span NOV 20th 2022, 3:00PM UTC
                    ul
                        li
                            span Total token:
                            span 10.0000.0000
                        li
                            span You have claimed:
                            span 5.000.000
                        li
                            span Remaining:
                            span 5.000.000
                        li
                            span Claimable:
                            span 2.000.000
                    a.bt.bt--primary-light(href="#") Claim