extends ../layouts/layout

block var
    - pageTitle = "Farms | Green Beli"
    - pageName = "nft_farmer_page"
block library-css
block css
    link(rel="stylesheet", href="./css/banner.css")
    link(rel="stylesheet", href="./css/farming.css")
block library-js
block js
    script(src="./js/farming.js")
block main
    // *** BANNER *** //
    include ../components/banner_farming
    // *** SECTION FARMS *** //
    section.farm_info_section
        .container
            .farm_info_section__wrapper
                .farm_info_decorate.farm_info_decorate--left
                    img(src="./images/farm_info_decorate_1.png", alt="")
                .farm_info_section__item
                    .block
                        h4 You staked
                        span $0.0
                    .block
                        h4 Pending to harvest
                        span 0.00
                        .action
                            button(disable).bt.bt--secondary Harvest All
                    .block
                        h4 GRBE in wallet
                        span 0
                        span.usd-value ~$0
                        .action
                            a.bt.bt--secondary(href="#" target="_blank" rel="noreferrer") Buy GRBE
                .farm_info_decorate.farm_info_decorate--right
                    img(src="./images/farm_info_decorate_2.png", alt="")
    // *** FARM FILTER *** //
    section.farm_filter_section
        .container
            .farm_filter_section__wrapper
                .filter_section__left_partial
                    .tabs_row
                        button.bt.tabname-btn.tab-active
                            span Live
                        button.bt.tabname-btn
                            span Finished
                    .staked
                        .input_group
                            label.checkbox__switch
                                input(type='checkbox')
                                .slider.round
                            span Staked only
                .filter_section__right_partial
                    .search_block
                        i.fal.fa-search
                        input.form-control(placeholder="Search farms")
            .information_lock
                .top
                    h3 Lock Reward: 229.891 
                        span GRBE
                    button.bt.bt--primary Claim
                p Lock 75% reward each pool until block: 
                    span 19166000
    // *** FARMING *** //
    section.farming_section
        .container
            .farming__list
                .farming__item
                    .collapse_header
                        .panel__header
                            .panel_header__content--top
                                .content--top__infomation
                                    .infomation__logos
                                        span.logo--left
                                            img(src="./icons/grbe.png", alt="RGBE")
                                        span.logo--right
                                            img(src="./icons/busd.png", alt="busd")
                                    .infomation__content
                                        h4
                                            span GRBE-BUSD
                                .content--top__multiplier 20X
                            .panel_header__content--bottom
                                .content--bottom__item
                                    label GRBE Earned
                                    .values
                                        span 0.000
                                        span.usd-value ~$0.00
                                .content--bottom__item
                                    label Staked
                                    .values
                                        span 0.000
                                        span.usd-value ~$0.00
                                .content--bottom__item
                                    label Power
                                    .values
                                        span.nft
                                            img(src="./icons/boot.png", alt="NFT-SMALL")
                                        span.fire.txt-orange
                                            i.fas.fa-fist-raised
                                        span.txt-orange 0%
                                .content--bottom__item
                                    label APR
                                    .values
                                        span 361.11%
                                        span
                                            i.fas.fa-exclamation-circle
                                .content--bottom__item
                                    label Total liquidity
                                    .values
                                        span $2.03M
                                .content--bottom__item
                                    label Deposit Fee
                                    .values
                                        span 0%
                            .panel_header__expand
                                i.fal.fa-chevron-down
                    .collapse_content
                        .collapse_content__wrapper
                            .expand_details
                                .expand_details__item
                                    .item__liquidity(ex-1)
                                        p.available Avail: 0.000000
                                        .tabs_container
                                            .tabs_nav
                                                .tabs_nav__item(toggle-for="stake")
                                                    .tabs_nav__bt Stake
                                                .tabs_nav__item(toggle-for="unstake")
                                                    .tabs_nav__bt Unstake
                                            .tabs_content_holder
                                                .tabs_content.tabs_content_top
                                                    .tabs_tabpane(toggle-id="stake")
                                                        .content_wrapper
                                                            .form_wrapper
                                                                .block-input-action
                                                                    .input_group
                                                                        input.form-control(value="1000" type="number" placeholder="Amount")
                                                                        span GRBE-BUSD
                                                                    .actions
                                                                        button.bt.bt--primary.bt--block Approve
                                                                .input-range-percent
                                                                    .input-range
                                                                        input(type="range" min="1" max="4" value="1" style="width:100%")
                                                                    .percent
                                                                        p 25%
                                                                        p 50%
                                                                        p 75%
                                                                        p 100%
                                                            .liquidity
                                                                a(target="_blank" rel="noreferrer" href="#") Add liquidity
                                                                a.txt-danger(target="_blank" rel="noreferrer" href="#") Remove liquidity
                                                    .tabs_tabpane(toggle-id="unstake")
                                                        .content_wrapper
                                                            .form_wrapper
                                                                .block-input-action
                                                                    .input_group
                                                                        input.form-control(value="1000" type="number" placeholder="Amount")
                                                                        span GRBE-BUSD
                                                                    .actions
                                                                        button.bt.bt--orange.bt--outline.bt--block Withdraw
                                                                .input-range-percent
                                                                    .input-range
                                                                        input(type="range" min="1" max="4" value="1" style="width:100%")
                                                                    .percent
                                                                        p 25%
                                                                        p 50%
                                                                        p 75%
                                                                        p 100%
                                .expand_details__item
                                    .item__stake_grbe
                                        label Green Hero
                                        p.description Stake Green Hero to boots your farm
                                        .select_rgbe
                                            .thumbnail(popup-to="stake_your_rgbe_popup" href="javascript:;")
                                                img(src="./images/itemproductfire.png", alt="")
                                                p Click to Stake
                                    .item__earned
                                        label GRBE Earned
                                        p.amount
                                            span 0.000
                                            span.usd-value ~$0.00
                                        .grbe-icon
                                            img(src="./icons/grbe.png", alt="GRBE")
                                        .actions
                                            button.bt.bt--primary(disable) Harvest
                .farming__item
                    .collapse_header
                        .panel__header
                            .panel_header__content--top
                                .content--top__infomation
                                    .infomation__logos
                                        span.logo--left.staked-only
                                            img(src="./icons/grbe.png", alt="RGBE")
                                    .infomation__content
                                        h4
                                            span GRBE
                                .content--top__multiplier 20X
                            .panel_header__content--bottom
                                .content--bottom__item
                                    label GRBE Earned
                                    .values
                                        span 0.000
                                        span.usd-value ~$0.00
                                .content--bottom__item
                                    label Staked
                                    .values
                                        span 0.000
                                        span.usd-value ~$0.00
                                .content--bottom__item
                                    label Power
                                    .values
                                        span.nft
                                            img(src="./icons/boot.png", alt="NFT-SMALL")
                                        span.fire.txt-orange
                                            i.fas.fa-fist-raised
                                        span.txt-orange 0%
                                .content--bottom__item
                                    label APR
                                    .values
                                        span 361.11%
                                        span
                                            i.fas.fa-exclamation-circle
                                .content--bottom__item
                                    label Total liquidity
                                    .values
                                        span $2.03M
                                .content--bottom__item
                                    label Deposit Fee
                                    .values
                                        span 0%
                            .panel_header__expand
                                i.fal.fa-chevron-down
                    .collapse_content
                        .collapse_content__wrapper
                            .expand_details
                                .expand_details__item
                                    .item__liquidity(ex-2)
                                        p.available Avail: 0.000000
                                        .tabs_container
                                            .tabs_nav
                                                .tabs_nav__item(toggle-for="stake")
                                                    .tabs_nav__bt Stake
                                                .tabs_nav__item(toggle-for="unstake")
                                                    .tabs_nav__bt Unstake
                                            .tabs_content_holder
                                                .tabs_content.tabs_content_top
                                                    .tabs_tabpane(toggle-id="stake")
                                                        .content_wrapper
                                                            .form_wrapper
                                                                .block-input-action
                                                                    .input_group
                                                                        input.form-control(value="1000" type="number" placeholder="Amount")
                                                                        span GRBE
                                                                    .actions
                                                                        button.bt.bt--primary.bt--block Approve
                                                                .input-range-percent
                                                                    .input-range
                                                                        input(type="range" min="1" max="4" value="1" style="width:100%")
                                                                    .percent
                                                                        p 25%
                                                                        p 50%
                                                                        p 75%
                                                                        p 100%
                                                                    .liquidity
                                                                        a(target="_blank" rel="noreferrer" href="#") Add liquidity
                                                                        a.txt-danger(target="_blank" rel="noreferrer" href="#") Remove liquidity
                                                    .tabs_tabpane(toggle-id="unstake")
                                                        .content_wrapper
                                                            .form_wrapper
                                                                .block-input-action
                                                                    .input_group
                                                                        input.form-control(value="1000" type="number" placeholder="Amount")
                                                                        span GRBE
                                                                    .actions
                                                                        button.bt.bt--orange.bt--outline.bt--block Withdraw
                                                                .input-range-percent
                                                                    .input-range
                                                                        input(type="range" min="1" max="4" value="1" style="width:100%")
                                                                    .percent
                                                                        p 25%
                                                                        p 50%
                                                                        p 75%
                                                                        p 100%
                                .expand_details__item
                                    .item__stake_grbe
                                        label Green Hero
                                        p.description Stake Green Hero to boots your farm
                                        .select_rgbe
                                            .thumbnail(popup-to="stake_your_rgbe_popup" href="javascript:;")
                                                img(src="./images/itemproductfire.png", alt="")
                                                p Click to Stake
                                    .item__earned
                                        label GRBE Earned
                                        p.amount
                                            span 0.000
                                            span.usd-value ~$0.00
                                        .grbe-icon
                                            img(src="./icons/grbe.png", alt="GRBE")
                                        .actions
                                            button.bt.bt--primary(disable) Harvest
    // *** STAKE YOUR RGBE POPUP *** //
    include ../components/stake_your_rgbe_popup