extends ../layouts/layout

block var
    - pageTitle = "Farms | Green Beli"
    - pageName = "nft_farmer_page"
block library-css
block css
    link(rel="stylesheet", href="./css/banner.css")
    link(rel="stylesheet", href="./css/farming.css")
block library-js
block js
    script(src="./js/farming.js")
block main
    // *** BANNER *** //
    include ../components/banner_farming
    // *** SECTION FARMS *** //
    section.farm_info_section
        .container
            .farm_info_section__wrapper
                .farm_info_section__item.deposited
                    .block
                        h4 You deposited
                        span $0.0
                    .block
                        h4 Pending to harvest
                        .action
                            span 0
                            button(disable).bt.bt--secondary Harvest All
                .farm_info_section__item
                    .block
                        h4 GRBE in wallet
                        .wallet-value
                            span 0
                            span.usd-value ~$0
                    .block
                        h4 Click to harvest
                        .action
                            a.bt.bt--secondary(href="#" target="_blank" rel="noreferrer") Buy GRBE
    // *** FARM FILTER *** //
    section.farm_filter_section
        .container
            .farm_filter_section__wrapper
                .filter_section__left_partial
                    .tabs_row
                        button.bt.tabname-btn.tab-active
                            span Live
                        button.bt.tabname-btn
                            span Finished
                    .staked
                        .input_group
                            label.checkbox__switch
                                input(type='checkbox')
                                .slider.round
                            span Staked only
                .filter_section__right_partial
                    .search_block
                        i.fal.fa-search
                        input.form-control(placeholder="Search farms")
            .information_lock
                .top
                    h3 Lock Reward: 229.891 
                        span GRBE
                    button.bt.bt--primary Claim
                p Lock 75% reward each pool until block: 
                    span 19166000
    // *** FARMING *** //
    section.farming_section
        .container
            .farming__list
                .farming__item
                    .collapse_header
                        .panel__header
                            .panel_header__content--top
                                .content--top__infomation
                                    .infomation__logos
                                        span.logo--left
                                            img(src="./icons/grbe.png", alt="RGBE")
                                        span.logo--right
                                            img(src="./icons/busd.png", alt="busd")
                                    .infomation__content
                                        h4
                                            span GRBE-BUSD
                                        div
                                            p Earn GRBE
                                            p Deposit Fee 0%
                                .content--top__multiplier 20X
                            .panel_header__content--bottom
                                .content--bottom__item
                                    label Earned
                                    .values
                                        span 0.000
                                        span.usd-value ~$0.00
                                .content--bottom__item
                                    label Deposited
                                    .values
                                        span 0.000
                                        span.usd-value ~$0.00
                                .content--bottom__item
                                    label GRBE boosted
                                    .values
                                        span.nft
                                            img(src="./icons/boot.png", alt="NFT-SMALL")
                                        span.fire.txt-orange
                                            i.fas.fa-fist-raised
                                        span.txt-orange 0%
                                .content--bottom__item
                                    label Total APR
                                    .values
                                        span 361.11%
                                        span
                                            i.fas.fa-exclamation-circle
                                .content--bottom__item
                                    label TVL
                                    .values
                                        span $2.03M
                            .panel_header__expand
                                i.fal.fa-chevron-down
                    .collapse_content
                        .collapse_content__wrapper
                            .expand_details
                                .expand_details__item
                                    .item__liquidity(ex-1)
                                        .tabs_container
                                            .tabs_nav
                                                .tabs_nav__item(toggle-for="deposit")
                                                    .tabs_nav__bt Deposit
                                                .tabs_nav__item(toggle-for="withdraw")
                                                    .tabs_nav__bt Withdraw
                                            .tabs_content_holder
                                                .tabs_content.tabs_content_top
                                                    .tabs_tabpane(toggle-id="deposit")
                                                        .content_wrapper
                                                            span.available Avail: 0.000000
                                                            .form_wrapper
                                                                .input_group
                                                                    input.form-control(value="1000" type="number" placeholder="Amount")
                                                                    span LP
                                                                .select-percent
                                                                    span.active 25%
                                                                    span 50%
                                                                    span 75%
                                                                    span 100%
                                                                .submit
                                                                    button.bt.bt--primary.bt--block Approve
                                                            .liquidity
                                                                a(target="_blank" rel="noreferrer" href="#") Add liquidity
                                                                a.txt-danger(target="_blank" rel="noreferrer" href="#") Remove liquidity
                                                    .tabs_tabpane(toggle-id="withdraw")
                                                        .content_wrapper
                                                            span.available Avail: 0.000000
                                                            .form_wrapper
                                                                .input_group
                                                                    input.form-control(value="1000" type="number" placeholder="Amount")
                                                                    span LP
                                                                .select-percent
                                                                    span.active 25%
                                                                    span 50%
                                                                    span 75%
                                                                    span 100%
                                                                .actions
                                                                    button.bt.bt--orange.bt--outline.bt--block Withdraw
                                .expand_details__item
                                    .item__stake_grbe
                                        label Your RGBE
                                        p.description Stake GRBE to boost your farm
                                        .select_rgbe
                                            .thumbnail(popup-to="stake_your_rgbe_popup" href="javascript:;")
                                                img(src="./images/greenbieplaceholder.png", alt="")
                                                p Click to Stake
                                    .item__earned
                                        label Earned
                                        p.amount
                                            span 0.000
                                            span.usd-value ~$0.00
                                            img(src="./icons/grbe.png", alt="GRBE")
                                        .actions
                                            button.bt.bt--primary(disable) Harvest
                .farming__item
                    .collapse_header
                        .panel__header
                            .panel_header__content--top
                                .content--top__infomation
                                    .infomation__logos
                                        span.logo--left
                                            img(src="./icons/grbe.png", alt="RGBE")
                                    .infomation__content
                                        h4
                                            span GRBE-BUSD
                                        div
                                            p Earn GRBE
                                            p Deposit Fee 0%
                                .content--top__multiplier 20X
                            .panel_header__content--bottom
                                .content--bottom__item
                                    label Earned
                                    .values
                                        span 0.000
                                        span.usd-value ~$0.00
                                .content--bottom__item
                                    label Deposited
                                    .values
                                        span 0.000
                                        span.usd-value ~$0.00
                                .content--bottom__item
                                    label GRBE boosted
                                    .values
                                        span.nft
                                            img(src="./icons/boot.png", alt="NFT-SMALL")
                                        span.fire.txt-orange
                                            i.fas.fa-fist-raised
                                        span.txt-orange 0%
                                .content--bottom__item
                                    label Total APR
                                    .values
                                        span 361.11%
                                        span
                                            i.fas.fa-exclamation-circle
                                .content--bottom__item
                                    label TVL
                                    .values
                                        span $2.03M
                            .panel_header__expand
                                i.fal.fa-chevron-down
                    .collapse_content
                        .collapse_content__wrapper
                            .expand_details
                                .expand_details__item
                                    .item__liquidity(ex-2)
                                        .tabs_container
                                            .tabs_nav
                                                .tabs_nav__item(toggle-for="deposit")
                                                    .tabs_nav__bt Deposit
                                                .tabs_nav__item(toggle-for="withdraw")
                                                    .tabs_nav__bt Withdraw
                                            .tabs_content_holder
                                                .tabs_content.tabs_content_top
                                                    .tabs_tabpane(toggle-id="deposit")
                                                        .content_wrapper
                                                            span.available Avail: 0.000000
                                                            .form_wrapper
                                                                .input_group
                                                                    input.form-control(value="1000" type="number" placeholder="Amount")
                                                                    span LP
                                                                .select-percent
                                                                    span.active 25%
                                                                    span 50%
                                                                    span 75%
                                                                    span 100%
                                                                .submit
                                                                    button.bt.bt--primary.bt--block Approve
                                                    .tabs_tabpane(toggle-id="withdraw")
                                                        .content_wrapper
                                                            span.available Avail: 0.000000
                                                            .form_wrapper
                                                                .input_group
                                                                    input.form-control(value="1000" type="number" placeholder="Amount")
                                                                    span LP
                                                                .select-percent
                                                                    span.active 25%
                                                                    span 50%
                                                                    span 75%
                                                                    span 100%
                                                                .actions
                                                                    button.bt.bt--orange.bt--outline.bt--block Withdraw
                                .expand_details__item
                                    .item__stake_grbe
                                        label Your RGBE
                                        p.description Stake GRBE to boost your farm
                                        .select_rgbe
                                            .thumbnail(popup-to="stake_your_rgbe_popup" href="javascript:;")
                                                img(src="./images/greenbieplaceholder.png", alt="")
                                                p Click to Stake
                                    .item__earned
                                        label Earned
                                        p.amount
                                            span 0.000
                                            span.usd-value ~$0.00
                                            img(src="./icons/grbe.png", alt="GRBE")
                                        .actions
                                            button.bt.bt--primary(disable) Harvest
    // *** STAKE YOUR RGBE POPUP *** //
    include ../components/stake_your_rgbe_popup