extends ../layouts/layout

block var
    - pageTitle = "Farms | Green Beli"
block library-css
block css
    link(rel="stylesheet", href="./css/banner.css")
    link(rel="stylesheet", href="./css/farming.css")
block library-js
block js
    script(src="./js/farming.js") 
block main
    // *** BANNER *** //
    include ../components/banner_farming
    // *** SECTION FARMS *** //
    section.farm_info_section
        .container
            .farm_info_section__wrapper
                .farm_info_section__item.deposited
                    .deposited__item
                        h4 You deposited
                        span $ 0.0
                    .deposited__item
                        h4 Pending to harvest
                        .harvest
                            span 0
                            .harvest__action
                                button(disable).bt.bt--secondary.bt--shadow Harvest All
                .farm_info_section__item.wallet
                    .wallet__item
                        h4 You wallet
                        span $0.0
                    .wallet__item
                        h4 Pending to harvest
                        .harvest
                            span 0
                            .harvest__action.harvest__action--disable
                                button.bt.bt--secondary.bt--shadow Harvest All