extends ../layouts/layout

block var
	- pageTitle = "Farms | Defi x NFT"
block library-css
block css
	link(rel="stylesheet", href="./css/farming.css")
block library-js
block js
	script(src="./js/farming.js") 
block main
	// *** SECTION FARMS *** //
	section.farms
		.container
			.row
				.col-xl-4.col-sm-6
					.farm__item
						.farm__header
							.farm__character
								// Radio Image: 64x64
								img(src="./images/character_farm.png", alt="CHARACTER-DEFI")
							.character__information
								h4.character__name FiWA - BTC
								ul
									li.badge.secondary
										span 40X
						.farm__body
							.flex-between-alc
								span.fw-600 APR:
								p.fw-600
									i.fas.fa-calculator-alt
									span.ml-0x3rem 59.67%
							.flex-between-alc
								.block
									span.fw-600 Earn:
								.block
									span.fw-600 GEM + Ticket
							.farm__action
								p.fw-600.fs-0x66rem
									span.txt-primary GEM
									span.ml-0x3rem EARNED
								.flex-between-alc
									h2.txt-disable 0.000
									button.bt.bt-lg.opacity-0
								p.fw-600.fs-0x66rem
									span.txt-primary TICKET
									span.ml-0x3rem EARNED
								.flex-between-alc
									h2.txt-disable 0.000
									button.bt.bt-lg.primary(disable) Harvest
								p.fw-600.fs-0x66rem
									pan.txt-primary FiWA - BTC LP
									span.ml-0x3rem STAKED
								.action_buttons
									a.bt.bt-lg.bt-block.primary(popup-to="wallet_connect_popup" href="javascript:;") Unlock Wallet
						.farm__footer
							button.bt.cl-primary.js-show-farm-detail
								span See More
								i.fad.fa-angle-down
							.farm__detail
								.flex-between-alc
									span.fw-600 Total Liquidity:
									span.fw-600 $608,244,430
								.flex-between-alc
									a.cl-primary.fw-600(target="_blank" href="liquidity.html")
										span Get CAKE-BNB LP
										i.fad.fa-external-link-alt
								.flex-between-alc
									a.cl-primary.fw-600(target="_blank" href="https://bscscan.com/address/0x0eD7e52944161450477ee417DE9Cd3a859b14fD0")
										span View Contract
										i.fad.fa-external-link-alt
								.flex-between-alc
									a.cl-primary.fw-600(target="_blank" href="#")
										span See Pair Info
										i.fad.fa-external-link-alt
				.col-xl-4.col-sm-6
					.farm__item
						.farm__header
							.farm__character
								// Radio Image: 64x64
								img(src="./images/character_farm.png", alt="CHARACTER-DEFI")
							.character__information
								h4.character__name FiWA - BTC
								ul
									li.badge.secondary
										span 40X
						.farm__body
							.flex-between-alc
								span.fw-600 APR:
								p.fw-600
									i.fas.fa-calculator-alt
									span.ml-0x3rem 59.67%
							.flex-between-alc
								.block
									span.fw-600 Earn:
								.block
									span.fw-600 GEM + Ticket
							.farm__action
								p.fw-600.fs-0x66rem
									span.txt-primary GEM
									span.ml-0x3rem EARNED
								.flex-between-alc
									h2.txt-disable 0.000
									button.bt.bt-lg.opacity-0
								p.fw-600.fs-0x66rem
									span.txt-primary TICKET
									span.ml-0x3rem EARNED
								.flex-between-alc
									h2.txt-disable 0.000
									button.bt.bt-lg.primary(disable) Harvest
								p.fw-600.fs-0x66rem
									pan.txt-primary FiWA - BTC LP
									span.ml-0x3rem STAKED
								.action_buttons
									a.bt.bt-lg.bt-block.primary(href="buy_warrior.html") Buy Warrior
						.farm__footer
							button.bt.cl-primary.js-show-farm-detail
								span See More
								i.fad.fa-angle-down
							.farm__detail
								.flex-between-alc
									span.fw-600 Total Liquidity:
									span.fw-600 $608,244,430
								.flex-between-alc
									a.cl-primary.fw-600(target="_blank" href="liquidity.html")
										span Get CAKE-BNB LP
										i.fad.fa-external-link-alt
								.flex-between-alc
									a.cl-primary.fw-600(target="_blank" href="https://bscscan.com/address/0x0eD7e52944161450477ee417DE9Cd3a859b14fD0")
										span View Contract
										i.fad.fa-external-link-alt
								.flex-between-alc
									a.cl-primary.fw-600(target="_blank" href="#")
										span See Pair Info
										i.fad.fa-external-link-alt
				.col-xl-4.col-sm-6
					.farm__item
						.farm__header
							.farm__character
								// Radio Image: 64x64
								img(src="./images/character_farm.png", alt="CHARACTER-DEFI")
							.character__information
								h4.character__name FiWA - BTC
								ul
									li.badge.secondary
										span 40X
						.farm__body
							.flex-between-alc
								span.fw-600 APR:
								p.fw-600
									i.fas.fa-calculator-alt
									span.ml-0x3rem 59.67%
							.flex-between-alc
								.block
									span.fw-600 Earn:
								.block
									span.fw-600 GEM + Ticket
							.farm__action
								p.fw-600.fs-0x66rem
									span.txt-primary GEM
									span.ml-0x3rem EARNED
								.flex-between-alc
									h2.txt-disable 0.000
									button.bt.bt-lg.opacity-0
								p.fw-600.fs-0x66rem
									span.txt-primary TICKET
									span.ml-0x3rem EARNED
								.flex-between-alc
									h2.txt-disable 0.000
									button.bt.bt-lg.primary(disable) Harvest
								p.fw-600.fs-0x66rem
									pan.txt-primary FiWA - BTC LP
									span.ml-0x3rem STAKED
								.action_buttons
									button.bt.bt-lg.bt-block.primary(disable) Approve Contract
						.farm__footer
							button.bt.cl-primary.js-show-farm-detail
								span See More
								i.fad.fa-angle-down
							.farm__detail
								.flex-between-alc
									span.fw-600 Total Liquidity:
									span.fw-600 $608,244,430
								.flex-between-alc
									a.cl-primary.fw-600(target="_blank" href="liquidity.html")
										span Get CAKE-BNB LP
										i.fad.fa-external-link-alt
								.flex-between-alc
									a.cl-primary.fw-600(target="_blank" href="https://bscscan.com/address/0x0eD7e52944161450477ee417DE9Cd3a859b14fD0")
										span View Contract
										i.fad.fa-external-link-alt
								.flex-between-alc
									a.cl-primary.fw-600(target="_blank" href="#")
										span See Pair Info
										i.fad.fa-external-link-alt
				.col-xl-4.col-sm-6
					.farm__item
						.farm__header
							.farm__character
								// Radio Image: 64x64
								img(src="./images/character_farm.png", alt="CHARACTER-DEFI")
							.character__information
								h4.character__name FiWA - BTC
								ul
									li.badge.secondary
										span 40X
						.farm__body
							.flex-between-alc
								span.fw-600 APR:
								p.fw-600
									i.fas.fa-calculator-alt
									span.ml-0x3rem 59.67%
							.flex-between-alc
								.block
									span.fw-600 Earn:
								.block
									span.fw-600 GEM + Ticket
							.farm__action
								p.fw-600.fs-0x66rem
									span.txt-primary GEM
									span.ml-0x3rem EARNED
								.flex-between-alc
									h2.txt-disable 0.000
									button.bt.bt-lg.opacity-0
								p.fw-600.fs-0x66rem
									span.txt-primary TICKET
									span.ml-0x3rem EARNED
								.flex-between-alc
									h2.txt-disable 0.000
									button.bt.bt-lg.primary(disable) Harvest
								p.fw-600.fs-0x66rem
									pan.txt-primary FiWA - BTC LP
									span.ml-0x3rem STAKED
								.action_buttons
									button.bt.bt-lg.bt-block.primary Approve Contract
						.farm__footer
							button.bt.cl-primary.js-show-farm-detail
								span See More
								i.fad.fa-angle-down
							.farm__detail
								.flex-between-alc
									span.fw-600 Total Liquidity:
									span.fw-600 $608,244,430
								.flex-between-alc
									a.cl-primary.fw-600(target="_blank" href="liquidity.html")
										span Get CAKE-BNB LP
										i.fad.fa-external-link-alt
								.flex-between-alc
									a.cl-primary.fw-600(target="_blank" href="https://bscscan.com/address/0x0eD7e52944161450477ee417DE9Cd3a859b14fD0")
										span View Contract
										i.fad.fa-external-link-alt
								.flex-between-alc
									a.cl-primary.fw-600(target="_blank" href="#")
										span See Pair Info
										i.fad.fa-external-link-alt
				.col-xl-4.col-sm-6
					.farm__item
						.farm__header
							.farm__character
								img(src="./images/character_farm.png", alt="CHARACTER-DEFI")
							.character__information
								h4.character__name FiWA - BTC
								ul
									li.badge.secondary
										span 40X
						.farm__body
							.flex-between-alc
								span.fw-600 APR:
								p.fw-600
									i.fas.fa-calculator-alt
									span.ml-0x3rem 59.67%
							.flex-between-alc
								.block
									span.fw-600 Earn:
								.block
									span.fw-600 GEM + Ticket
							.farm__action
								p.fw-600.fs-0x66rem
									span.txt-primary GEM
									span.ml-0x3rem EARNED
								.flex-between-alc
									h2.txt-disable 0.000
									button.bt.bt-lg.opacity-0
								p.fw-600.fs-0x66rem
									span.txt-primary TICKET
									span.ml-0x3rem EARNED
								.flex-between-alc
									h2.txt-disable 0.000
									button.bt.bt-lg.primary(disable) Harvest
								p.fw-600.fs-0x66rem
									pan.txt-primary FiWA - BTC LP
									span.ml-0x3rem STAKED
								.flex-between-alc
									h2.txt-disable 0.000
									button.bt.bt-lg.primary(popup-to="stake_lp_tokens_popup" href="javascript:;") Stake LP
						.farm__footer
							button.bt.cl-primary.js-show-farm-detail
								span See More
								i.fad.fa-angle-down
							.farm__detail
								.flex-between-alc
									span.fw-600 Total Liquidity:
									span.fw-600 $608,244,430
								.flex-between-alc
									a.cl-primary.fw-600(target="_blank" href="liquidity.html")
										span Get CAKE-BNB LP
										i.fad.fa-external-link-alt
								.flex-between-alc
									a.cl-primary.fw-600(target="_blank" href="https://bscscan.com/address/0x0eD7e52944161450477ee417DE9Cd3a859b14fD0")
										span View Contract
										i.fad.fa-external-link-alt
								.flex-between-alc
									a.cl-primary.fw-600(target="_blank" href="#")
										span See Pair Info
										i.fad.fa-external-link-alt
				.col-xl-4.col-sm-6
					.farm__item
						.farm__header
							.farm__character
								img(src="./images/character_farm.png", alt="CHARACTER-DEFI")
							.character__information
								h4.character__name FiWA - BTC
								ul
									li.badge.secondary
										span 40X
						.farm__body
							.flex-between-alc
								span.fw-600 APR:
								p.fw-600
									i.fas.fa-calculator-alt
									span.ml-0x3rem 59.67%
							.flex-between-alc
								.block
									span.fw-600 Earn:
								.block
									span.fw-600 GEM + Ticket
							.farm__action
								p.fw-600.fs-0x66rem
									span.txt-primary GEM
									span.ml-0x3rem EARNED
								.flex-between-alc
									div
										h2 1.390
										small ~10.48 USD
									div
										button.bt.bt-lg.opacity-0
								p.fw-600.fs-0x66rem
									span.txt-primary TICKET
									span.ml-0x3rem EARNED
								.flex-between-alc
									div
										h2 1.390
										small ~10.48 USD
									button.bt.bt-lg.primary Harvest
								p.fw-600.fs-0x66rem
									span.txt-primary FiWA - BTC LP
									span.ml-0x3rem STAKED
								.flex-between-alc
									div
										h2 1.390
										small ~10.48 USD
									div
										a.bt-circle.primary(popup-to="unstake_lp_tokens_popup" href="javascript:;")
											i.fal.fa-minus
										a.bt-circle.primary(popup-to="stake_lp_tokens_popup" href="javascript:;")
											i.fal.fa-plus
						.farm__footer
							button.bt.cl-primary.js-show-farm-detail
								span See More
								i.fad.fa-angle-down
							.farm__detail
								.flex-between-alc
									span.fw-600 Total Liquidity:
									span.fw-600 $608,244,430
								.flex-between-alc
									a.cl-primary.fw-600(target="_blank" href="liquidity.html")
										span Get CAKE-BNB LP
										i.fad.fa-external-link-alt
								.flex-between-alc
									a.cl-primary.fw-600(target="_blank" href="https://bscscan.com/address/0x0eD7e52944161450477ee417DE9Cd3a859b14fD0")
										span View Contract
										i.fad.fa-external-link-alt
								.flex-between-alc
									a.cl-primary.fw-600(target="_blank" href="#")
										span See Pair Info
										i.fad.fa-external-link-alt