extends ../layouts/layout

block var
    - pageTitle = "Home | Green Beli"
block library-css
block css
    link(rel="stylesheet", href="./css/index.css")
block library-js
block js
block main
    // *** SECTION PLAY GAME *** //
    section.play_game
        .block-image
            .card-box
                img(src="./images/background_play_game.png", alt="PLAY-GAME")
                a.bt-play(href="#" target="_blank")
                    img(src="./images/playing_button.png", alt="PLAY-GAME") 