extends ../layouts/layout

block var
    - pageTitle = "Home | Green Beli"
    - pageName = "nft_home_page"
block library-css
block css
    link(rel="stylesheet", href="./css/index.css")
block library-js
block js
    script(src="./js/index.js")
block main
    // *** BUY SEED *** //
    include ../components/buy_seed
    // *** POPUP UNBOX *** //
    include ../components/unbox_popup