extends ../layouts/layout

block var
    - bodyClass = "index-page"
    - pageTitle = "Green Beli NFT"
block library-css
    link(rel="stylesheet", href="./vendors/swiper-bundle.min.css")
    link(rel="stylesheet", href="./vendors/animate.css")
block css
    link(rel="stylesheet", href="./css/home.css")
block js
    script(src="./js/home.js")
block library-js
    script(src="./vendors/lazysizes.min.js")
    script(src="./vendors/wow.min.js")
    script(src="./vendors/swiper-bundle.min.js")
block main
    // HOME INTRODUCTION
    section.home-introduction
        .container
            .introduction__wrapper 
                .introduction__image
                    img.lazyload.wow.fadeIn(src="./images/home_introduction.png", alt="GREEN-BELI-NFT-INTRODUCTION")
                    .socials
                        h3 Join our Airdrop
                        ul
                            li
                                a(href="https://twitter.com/Green_Beli" target="_blank" rel="noopener noreferrer")
                                    i.fab.fa-twitter
                            li
                                a(href="https://t.me/GreenBeli" target="_blank" rel="noopener noreferrer")
                                    i.fab.fa-telegram-plane
                            li
                                a(href="https://medium.com/@greenbeli" target="_blank" rel="noopener noreferrer")
                                    i.fab.fa-medium-m
                            li
                                a(href="https://discord.com/invite/6zpDcmxEpZ" target="_blank" rel="noopener noreferrer")
                                    i.fab.fa-discord
                            li
                                a(href="https://www.reddit.com/user/Green_Beli" target="_blank" rel="noopener noreferrer")
                                    i.fab.fa-reddit
                .introduction__content
                    h1 Green Beli – Believe in a
                        span Green Earth!
                    p Green Beli was born in 2019 with a mission to reduce plastic waste, promote the green lifestyle and raise the community's awareness of environmental protection through media campaigns.
                    p Following and promoting the values and vision of the Green Beli project, Green Beli NFT Game was born with the mission of using the cryptocurrency platform to raise funds for environmental protection.
                    p The project releases GRBE token and NFT items so that you can own and use them to join the game. By doing that, you can earn profits, and also join us to build a fund for environmental activities (30% of the $GRBE Ecosystem Fund will sponsor other organizations to protect the environment).
                    a.bt.bt--md.bt--secondary.bt--shadow(href="https://docs.google.com/forms/d/e/1FAIpQLSdGdKIdAEwEI6RfPan3R_kyhqfhzb7qAj4yh5dkXjUk6A4waA/viewform" target="_blank" rel="noopener noreferrer") Sign up to claim free $GRBE and NFT Tree
    // HOME FEATTURES
    section.home-features.section-before-helper.section-before-helper--light.mt-section.pb-section
        .container
            .section-title.ta-c
                h3 Features
            .features__list
                .features__item.wow.fadeInLeft(data-wow-duration="1s")
                    .item__img
                        img.lazyload(src="./images/features_item_01.png", alt="GREEN-BELI-NFT-FEATTURES")
                    .item__content
                        h4 Plant Tree
                        p Purchase NFT Trees on our website. You have to own at least one NFT Tree to join our exciting games.
                .features__item.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay=".2s")
                    .item__img
                        img.lazyload(src="./images/features_item_02.png", alt="GREEN-BELI-NFT-FEATTURES")
                    .item__content
                        h4 Solo Farming
                        p Receive more benefit from your own GRBE tokens and NFT items.
                .features__item.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay=".3s")
                    .item__img
                        img.lazyload(src="./images/features_item_03.png", alt="GREEN-BELI-NFT-FEATTURES")
                    .item__content
                        h4 Community Farming
                        p Enjoy community farming feature (Beneficiary Garden) to earn tokens and contribute to the environmental fund. Farm together and lucky farmers win all the farm’s reward pool.
    // HOME HOW TO PLAY
    section#how-to-play.home-how-to-play.section-after-helper.section-after-helper--light
        .container
            .section-title.ta-c
                span How to play
                h3 Our Beneficiary Garden
            .steps__wrapper
                .steps__content
                    .content__item.fadeInDown(data-wow-duration="1s" data-wow-delay=".2s")
                        .timeline__item 1
                        h4 Add $GRBE and NFT Tree to your wallet
                        p Both $GRBE and NFT Tree are required to farm in the Beneficiary Garden. $GRBE can be bought on exchange platforms. NFT Tree can be bought by using $GRBE or BNB.
                    .content__item.fadeInDown(data-wow-duration="1s" data-wow-delay=".4s")
                        .timeline__item 2
                        h4 Join our Beneficiary Garden
                        p Farm your $GRBE and NFT Tree in the Beneficiary Garden within the garden’s terms.
                    .content__item.fadeInDown(data-wow-duration="1s" data-wow-delay=".6s")
                        .timeline__item 3
                        h4 Claim your rewards
                        p The more you farm, the more chances you will win!
                        p Supposedly, there are 1000 participants in our garden, and you’re one of the lucky ones. Oh, imagine how huge your profits will be. Check our Green List and claim your prize now!
                .steps__timeline
                    .steps__line
                    .steps__line--js
                    .timeline__item 1
                    .timeline__item 2
                    .timeline__item 3
                .steps__end
                    img.lazyload(src="./images/vase.png", alt="GREEN-BELI-NFT")
            //- .section-main-action
                a.bt.bt--md.bt--primary.bt--shadow(href="/" target="_blank" rel="noopener noreferrer") Buy GRBE token to play game now
    // GRBE Token
    section.home-grbe-token.section-after-helper.section-after-helper--dark.pt-section
        .container
            .section-title.ta-c
                h3 GRBE Token ($GRBE)
            .grbe_token__content
                p $GRBE token is the game token that is used for farming and used as rewards in the Beneficiary Garden. $GRBE is used to exchange for NFT Tree and a proportion of the amount will be burned to keep the token price’s growth.
            .grbe_token__image.wow.fadeInDown(data-wow-duration="1s" data-wow-delay=".2s")
                img.lazyload(src="./images/home_grbe_token.png", alt="GRBE-TOKEN")
            .socials
                h3 Follow us on
                ul
                    li
                        a(href="https://twitter.com/Green_Beli" target="_blank" rel="noopener noreferrer")
                            i.fab.fa-twitter
                    li
                        a(href="https://t.me/GreenBeli" target="_blank" rel="noopener noreferrer")
                            i.fab.fa-telegram-plane
                    li
                        a(href="https://discord.com/invite/6zpDcmxEpZ" target="_blank" rel="noopener noreferrer")
                            i.fab.fa-discord
    // GB Ecosystem Fund Allocation
    section.home-percentage.section-after-helper.section-after-helper--light.pt-section
        .container
            .percentage__wrapper
                .percentage__image
                    img.lazyload(src="./images/percentage.png", alt="GRBE-TOKEN")
                .percentage__content
                    .section-title
                        h3 $GRBE Ecosystem 
                            br
                            | Fund Allocation
                        span $GRBE Ecosystem Fund is the total amount of $GRBE obtained after selling NFT Tree and NFT items.
                    ul
                        li
                            .percentage(style="--data-color: #4EC48F")
                                span 50%
                            .txt
                                h4 Burn
                                //- p 50% locked in Burn
                        li
                            .percentage(style="--data-color: #97CD69")
                                span 20%
                            .txt
                                h4 Operation
                                //- p 23% sent to Operation wallet
                        li
                            .percentage(style="--data-color: #61C46E")
                                span 30%
                            .txt
                                h4 Sponsor for environmental activities
                                //- p 27% redistributed to all holders
    // NFT Items Coming Soon
    section.home-nft-items-coming-soon.pt-section
        .nft_items_coming_soon__wrapper
            .nft_items_coming_soon__content
                .section-title.ta-c
                    h3 NFT Items Coming Soon
                    span Earning and equipping NFT items for your trees to earn more $GRBE and more profits.
                    span NFT items will be on limited sale with different abilities. The longer you hold NFT items the higher staking profit you have. They can be sold on the marketplace if you no longer want to own it or need a different kind of NFT items.
                .nft_items_coming_soon__action
                    a.bt.bt--shadow.bt--primary.bt--lg(href="https://docs.google.com/forms/d/e/1FAIpQLSdGdKIdAEwEI6RfPan3R_kyhqfhzb7qAj4yh5dkXjUk6A4waA/viewform" target="_blank" rel="noopener noreferrer")
                        span Sign up to claim free $GRBE and NFT Tree
    // NFT Items Coming Soon
    section.home-stats.section-after-helper.section-after-helper--dark.pt-section
        .container
            .section-title.ta-c
                h3 Stats
                span As mentioned above, 30% of the tokens in the Ecosystem Fund will be used to fund environmental protection activities globally.
                span Currently, Green Beli has built a large community of environmental lovers, and this is a solid premise to spread the good values of the project. The more players join us, the greener the earth will be.
            .stats
                .stat__item.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay=".2s")
                    .value
                        img.lazyload(src="./images/stat_item_bg.png", alt="GRBE-TOKEN")
                        h4 11M+
                    p TOP Facebook post reach
                .stat__item.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay=".4s")
                    .value
                        img.lazyload(src="./images/stat_item_bg.png", alt="GRBE-TOKEN")
                        h4 80,000+
                    p Followers on Facebook
                .stat__item.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay=".6s")
                    .value
                        img.lazyload(src="./images/stat_item_bg.png", alt="GRBE-TOKEN")
                        h4 1,000+
                    p Green locations across Asia and worldwide
                .stat__item.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay=".8s")
                    .value
                        img.lazyload(src="./images/stat_item_bg.png", alt="GRBE-TOKEN")
                        h4 50+
                    p Environmental activities and media campaigns
            .stat__actions
                a.bt.bt--md.bt--primary.bt--shadow(href="https://greenbeli.gitbook.io/green-beli/stats" target="_blank" rel="noopener noreferrer") See more our campaigns
                a.bt.bt--md.bt--primary.bt--shadow(href="https://www.facebook.com/GreenBeli" target="_blank" rel="noopener noreferrer") Visit our community on Facebook
    // Tokennomics
    section#tokenomics.home-tokenomics.section-after-helper.section-after-helper--light.pt-section
        .container
            .section-title.ta-c
                h3 Tokenomics
            .tokenomics__image
                img.lazyload(src="./images/tokenomics.png", alt="tokennomics")
    // Roadmap
    section.home-roadmap.py-section.section-after-helper.section-after-helper--dark
        .container
            .section-title.ta-c
                h3 Roadmap
            .roadmap__wrapper
                .roadmap__item
                    .block-left
                        span 1
                        h4 2019
                            br
                            | 2020
                    .block-right
                        .content
                            h4 Green Beli project
                            ul
                                li
                                    i.fad.fa-check
                                    span Development of Green Map
                                li
                                    i.fad.fa-check
                                    span Connect successfully 1000+ green locations in Australia, Canada, USA, Vietnam, Indonesia... that reduce plastic waste
                                li
                                    i.fad.fa-check
                                    span Building community
                .roadmap__item
                    .block-left
                        span 2
                        h4 2021
                    .block-right
                        .content
                            h4 Green Beli NFT games development
                            ul
                                li
                                    h5 Q3/2021 - July
                                li
                                    i.fad.fa-check
                                    span Airdrop #1
                                li
                                    i.fad.fa-check
                                    span Token & NFT Game development
                                li
                                    h5 Q3/2021 - August
                                li
                                    i.fad.fa-check
                                    span IDO & Listing on DEX
                                li
                                    i.fad.fa-check
                                    span Farming & Staking
                                li
                                    h5 Q3/2021 - September
                                li
                                    i.fad.fa-check
                                    span Listing on CEX
                                li
                                    i.fad.fa-check
                                    span PvC, PvP, Breeding
                                li
                                    i.fad.fa-check
                                    span NFT market
                                li
                                    i.fad.fa-check
                                    span Land & NFT items
                                li
                                    h5 Q4/2021
                                li
                                    i.fad.fa-check
                                    span Solana Ecosystem
                                li
                                    i.fad.fa-check
                                    span First big Green Beli donation
                .roadmap__item
                    .block-left
                        span 3
                        h4 2022
                    .block-right
                        .content
                            ul
                                li
                                    i.fad.fa-check
                                    span More donation for community - Continually expand charity partnership network through community-led polls and outreach efforts
                                li
                                    i.fad.fa-check
                                    span Extend Green Beli Ecosystem Fund
                                li
                                    i.fad.fa-check
                                    span Open the Green Beli Scholarship Program
                .roadmap__item
                    .block-left
                        span 4
                        h4 2023
                    .block-right
                        .content
                            ul
                                li
                                    i.fad.fa-check
                                    span Environmental protection ecosystem
                                li
                                    i.fad.fa-check
                                    span Connecting Green Beli NFT game to the real world
                //- .roadmap__tabs
                //- 	.tab__item(toggle-for="roadmap-1")
                //- 		h4 2019
                //- 			br
                //- 			| 2020
                //- 		span 1
                //- 	.tab__item(toggle-for="roadmap-2")
                //- 		h4 2021
                //- 		span 2
                //- 	.tab__item(toggle-for="roadmap-3")
                //- 		h4 2022
                //- 		span 3
                //- 	.tab__item(toggle-for="roadmap-4")
                //- 		h4 2023
                //- 		span 4
                //- .roadmap__content
                //- 	.content__item(toggle-id="roadmap-1")
                //- 		h4 Green Beli project
                //- 		ul
                //- 			li
                //- 				i.fad.fa-check
                //- 				span Development of App, Website
                //- 			li
                //- 				i.fad.fa-check
                //- 				span Building Social Media community
                //- 			li
                //- 				i.fad.fa-check
                //- 				span Implement environmental campaigns in Asia
                //- 			li
                //- 				i.fad.fa-check
                //- 				span Develop a digital green map and green criteria. Connect successfully 1000+ green locations in Australia, Korea, French, Canada, USA, Finland, Hongkong, England, Indonesia, Singapore, Kuala Lumpur, Vietnam, Japan… that reduce plastic waste
                //- 	.content__item(toggle-id="roadmap-2")
                //- 		h4 Green Beli NFT Games development
                //- 		ul
                //- 			li
                //- 				h5 Q3/2021 - July
                //- 			li
                //- 				i.fad.fa-check
                //- 				span Airdrop #1
                //- 			li
                //- 				i.fad.fa-check
                //- 				span Token & NFT Game development
                //- 			li
                //- 				h5 Q3/2021 - August
                //- 			li
                //- 				i.fad.fa-check
                //- 				span IDO & Listing on DEX
                //- 			li
                //- 				i.fad.fa-check
                //- 				span Airdrop #2
                //- 			li
                //- 				h5 Q3/2021 - September
                //- 			li
                //- 				i.fad.fa-check
                //- 				span Listing on CEX
                //- 			li
                //- 				i.fad.fa-check
                //- 				span Farming and Staking
                //- 			li
                //- 				i.fad.fa-check
                //- 				span Game release – Beneficiary Garden
                //- 			li
                //- 				i.fad.fa-check
                //- 				span NFT presale
                //- 			li
                //- 				h5 Q4/2021
                //- 			li
                //- 				i.fad.fa-check
                //- 				span Listing on Solana Ecosystem
                //- 			li
                //- 				i.fad.fa-check
                //- 				span Voluntary donation for community - First big GreenDeFi donation
                //- 	.content__item(toggle-id="roadmap-3")
                //- 		ul
                //- 			li
                //- 				h5 Q1/2022
                //- 			li
                //- 				i.fad.fa-check
                //- 				span Game release – PvP Guild/Clan
                //- 			li
                //- 				i.fad.fa-check
                //- 				span Merch – buy product by $GRBE
                //- 			li
                //- 				i.fad.fa-check
                //- 				span More donation for community - Continually expand charity partnership network through community-led polls and outreach efforts
                //- 			li
                //- 				h5 Q2/2022
                //- 			li
                //- 				i.fad.fa-check
                //- 				span Research and development game
                //- 			li
                //- 				i.fad.fa-check
                //- 				span Establish the Green Beli Ecological Foundation, a standalone ecological conservation organization
                //- 			li
                //- 				i.fad.fa-check
                //- 				span Continue to expand the charity partnership network through regular outreach and collaboration
                //- 			li
                //- 				i.fad.fa-check
                //- 				span Open the Green Beli Scholarship Program, supporting youth with a passion for protecting the environment in continuing on with higher education
                //- 	.content__item(toggle-id="roadmap-4")
                //- 		ul
                //- 			li
                //- 				i.fad.fa-check
                //- 				span Global game ecosystems
                //- 			li
                //- 				i.fad.fa-check
                //- 				span Cross-games play, NFT Items swap
                //- 			li
                //- 				i.fad.fa-check
                //- 				span Achieve goal of planting 1m+ real trees worldwide
    // Home Leadership
    section.home-leadership.py-section
        .container
            .section-title.ta-c
                h3 Meet our Leadership Team
            .leadership-slider
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .leadership-item
                                .leadership-img
                                    img(src="./images/KhoaNguyen.png", alt="Khoa-Nguyen")
                                .leadership-info
                                    h3 Khoa Nguyen
                                    h4 Co-founder
                        .swiper-slide
                            .leadership-item
                                .leadership-img
                                    img(src="./images/KarenyLe.jpg", alt="Kareny-Le")
                                .leadership-info
                                    h3 Kary Le
                                    h4 Co-founder
                        .swiper-slide
                            .leadership-item
                                .leadership-img
                                    img(src="./images/MisueTran.jpg", alt="Misue-Tran")
                                .leadership-info
                                    h3 Misue Tran
                                    h4 Co-founder
                        .swiper-slide
                            .leadership-item
                                .leadership-img
                                    img(src="./images/OrinPhan.jpg", alt="Thu-Phan")
                                .leadership-info
                                    h3 Thu Phan
                                    h4 Research & Development Lead
                        .swiper-slide
                            .leadership-item
                                .leadership-img
                                    img(src="./images/VinceNguyen.jpg", alt="Vince-Nguyen")
                                .leadership-info
                                    h3 Vince Nguyen
                                    h4 Financial Lead
                        .swiper-slide
                            .leadership-item
                                .leadership-img
                                    img(src="./images/SahnBui.jpg", alt="Sahn-Bui")
                                .leadership-info
                                    h3 Sahn Bui
                                    h4 Marketing Lead
                .swiper-button-prev
                .swiper-button-next
        section.home-advisors
            .section-title.ta-c
                h3 Advisors
            .advisors
                .advisor-item
                    .advisor-img
                        img.lazyload(src="./images/VictorTruong.jpg", alt="Victor-Truong")
                    .advisor-info
                        h3 Victor Truong
                        h4 Co-founder at DeFi Warrior
                        ul
                            li FCCA, Certified Internal Auditor
                            li 10+ years in Business & Finance
                            li 4+ years in crypto investment
                .advisor-item
                    .advisor-img
                        img.lazyload(src="./images/CrisDTran.jpg", alt="CRIS-D.TRAN")
                    .advisor-info
                        h3 Cris D.Tran
                        h4 Co-founder at FAM Central
                        ul
                            li Former CEO – Infinity Blockchain Ventures
                            li 5+ years in crypto
    // PARTNERS INVESTORS
    section.home-partners-investors.section-before-helper.section-before-helper--darkness
        .container
            .section-title.ta-c
                h3.txt-light PARTNERS & INVESTORS
            .partners-investors
                .item-investor
                    img.lazyload(src="./images/FIM.png", alt="FIM")
                .item-investor
                    img.lazyload(src="./images/upfi.png", alt="upfi")
            //- .partners-investors
            //-     .item-investor
            //-         img.lazyload(src="./images/binance_nft.png", alt="binance_nft")
            //-     .item-investor
            //-         img.lazyload(src="./images/binance_smart_chain.png", alt="binance_smart_chain")
            //-     .item-investor
            //-         img.lazyload(src="./images/metamask.png", alt="metamask")
            //-     .item-investor
            //-         img.lazyload(src="./images/pancakeswap.png", alt="pancakeswap")