extends ../layouts/layout

block var
    - pageTitle = "Your Tree | Green Beli"
    - pageName = "nft_your_tree_page"
block library-css
block css
    link(rel="stylesheet", href="./css/banner.css")
    link(rel="stylesheet", href="./css/inventory.css")
block library-js
block js
    script(src="./js/inventory.js")
block main
    // *** BANNER *** //
    include ../components/banner_inventory
    section.your_tree_info_section
        .container
            .your_tree_info_section__wrapper
                .your_tree_info_decorate.your_tree_info_decorate--left
                    img(src="./images/farminfodecorateleft.png", alt="")
                .your_tree_info_section__item
                    .block
                        h4 Total Hero
                        span 10
                    .block
                        h4 You Staked
                        span 2
                        .action
                            a(href="farming.html").bt.bt--secondary Go to farming
                    .block
                        h4 Ready to sell
                        span 10
                        .action
                            button(disable).bt.bt--secondary Coming Soon
                .your_tree_info_decorate.your_tree_info_decorate--right
                    img(src="./images/farminfodecorateright.png", alt="")
    // *** YOUR GRBE *** //
    section.your_tree_section
        .container
            .your_tree__filter_top
                .left_partial
                .right_partial
                    .select__custom
                        select
                            option All status
                            option Free
                            option Farming
                            option Selling
            .list_products
                -for(i=0;i<5;i++)
                    a.list_products__item_wrapper(popup-to="character_detail_popup" href="javascript:;")
                        .list_products__item
                            .item_wrapper__top
                                .character__image
                                    img(src="./images/itemproductmetal.png", alt="CHARACTER-METAL")
                                .character__name
                                    h3 GRBE#95203
                                .character__rating
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                            .item_wrapper__bottom
                                .character__information
                                    .information__item
                                        span Class
                                        span Metal
                                    .information__item
                                        span Power
                                        span 25%
                            .item_wrapper__action
                                button.bt.bt--primary Stake
    // *** CHARACTER DETAIL POPUP *** //
    include ../components/character_detail_your_tree_popup