extends ../layouts/layout

block var
    - pageTitle = "Your Tree | Green Beli"
    - pageName = "nft_your_tree_page"
block library-css
block css
    link(rel="stylesheet", href="./css/banner.css")
    link(rel="stylesheet", href="./css/inventory.css")
block library-js
block js
    script(src="./js/inventory.js")
block main
    // *** BANNER *** //
    include ../components/banner_inventory
    section.your_tree_info_section
        .container
            .your_tree_info_section__wrapper
                .your_tree_info_section__item
                    .block
                        h4 Total Hero
                        span 10
                    .block
                        h4 You Staked
                        span 2
                        .action
                            a(href="farming.html").bt.bt--secondary Go to farming
                    .block
                        h4 Ready to sell
                        span 10
                        .action
                            button(disable).bt.bt--secondary Coming Soon
    // *** YOUR GRBE *** //
    section.your_tree_section
        .container
            .your_tree__filter_top
                .left_partial
                .right_partial
                    .select__custom
                        select
                            option All status
                            option Free
                            option Farming
                            option Selling
            .list_products
                .list_products__item_wrapper
                    a.list_products__item(popup-to="character_detail_popup" href="javascript:;" rating="5" character-class="fire")
                        .item_wrapper__top
                            .character__image
                                .image
                                    img(src="./images/itemproductfire.png", alt="CHARACTER-FIRE")
                        .item_wrapper__bottom
                            .character__information
                                .information__item
                                    .character__name
                                        h3 GRBE#95203
                                    .character__rating
                                        i.fas.fa-star
                                .information__item
                                    span Class
                                    .character__class
                                .information__item
                                    span Breed count
                                    span 0/6
                            .character__status.txt-gray IDLE
                .list_products__item_wrapper
                    a.list_products__item(popup-to="character_detail_popup" href="javascript:;" rating="3" character-class="water")
                        .item_wrapper__top
                            .character__image
                                .image
                                    img(src="./images/itemproductwater.png", alt="CHARACTER-WATER")
                        .item_wrapper__bottom
                            .character__information
                                .information__item
                                    .character__name
                                        h3 GRBE#95203
                                    .character__rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                .information__item
                                    span Class
                                    .character__class
                                .information__item
                                    span Breed count
                                    span 0/6
                            .character__status.txt-primary STAKING
                .list_products__item_wrapper
                    a.list_products__item(popup-to="character_detail_popup" href="javascript:;" rating="1" character-class="metal")
                        .item_wrapper__top
                            .character__image
                                .image
                                    img(src="./images/itemproductmetal.png", alt="CHARACTER-METAL")
                        .item_wrapper__bottom
                            .character__information
                                .information__item
                                    .character__name
                                        h3 GRBE#95203
                                    .character__rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                .information__item
                                    span Class
                                    .character__class
                                .information__item
                                    span Breed count
                                    span 0/6
                            .character__status.txt-primary STAKING
                .list_products__item_wrapper
                    a.list_products__item(popup-to="character_detail_popup" href="javascript:;" rating="6" character-class="earth")
                        .item_wrapper__top
                            .character__image
                                .image
                                    img(src="./images/itemproductearth.png", alt="CHARACTER-EARTH")
                        .item_wrapper__bottom
                            .character__information
                                .information__item
                                    .character__name
                                        h3 GRBE#95203
                                    .character__rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                .information__item
                                    span Class
                                    .character__class
                                .information__item
                                    span Breed count
                                    span 0/6
                            .character__status.txt-primary STAKING
                .list_products__item_wrapper
                    a.list_products__item(popup-to="character_detail_popup" href="javascript:;" rating="2" character-class="wood")
                        .item_wrapper__top
                            .character__image
                                .image
                                    img(src="./images/itemproductwood.png", alt="CHARACTER-WOOD")
                        .item_wrapper__bottom
                            .character__information
                                .information__item
                                    .character__name
                                        h3 GRBE#95203
                                    .character__rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                .information__item
                                    span Class
                                    .character__class
                                .information__item
                                    span Breed count
                                    span 0/6
                            .character__status.txt-primary STAKING
                .list_products__item_wrapper
                    a.list_products__item(popup-to="character_detail_popup" href="javascript:;" rating="4" character-class="wood")
                        .item_wrapper__top
                            .character__image
                                .image
                                    img(src="./images/itemproductwood.png", alt="CHARACTER-WOOD")
                        .item_wrapper__bottom
                            .character__information
                                .information__item
                                    .character__name
                                        h3 GRBE#95203
                                    .character__rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                .information__item
                                    span Class
                                    .character__class
                                .information__item
                                    span Breed count
                                    span 0/6
                            .character__status.txt-primary STAKING
    // *** CHARACTER DETAIL POPUP *** //
    include ../components/character_detail_your_tree_popup