extends ../layouts/layout

block var
    - pageTitle = "Wallet & Asset | Defi x NFT"
block library-css
block css
    link(rel="stylesheet", href="./css/my_asset.css")
block library-js
block js
    script(src="./js/my_asset.js") 
block main
    // *** SECTION WALLET & ASSET *** //
    section.my_asset
        .container
            .my_asset__currency
                .currency__current
                    p 0.000
                    .currency__current__block
                        img.token__icon(src="./images/FIWA.png", alt="FIWA")
                        span FIWA
                .currency__current
                    p 0.000
                    .currency__current__block
                        img.token__icon(src="./images/FIWA.png", alt="FIWA")
                        span FIWA
            .my_asset__tab
                .tab_container
                    .tab__header
                        .tab__menuItem(toggle-for="my-warrior")
                            i.fas.fa-sword
                            span My Warrior
                        .tab__menuItem(toggle-for="lands")
                            i.fas.fa-globe-europe
                            span Lands
                        .tab__menuItem(toggle-for="bodyparts")
                            i.fas.fa-sword
                            span Bodyparts
                        .tab__menuItem(toggle-for="items")
                            i.fas.fa-axe
                            span Items
                    .tab__content
                        .tab__contentItem(toggle-id="my-warrior")
                            .warriors
                                -for(i=0;i<4;i++)
                                    .warrior__item
                                        .warrior__character
                                            // Radio Images: 250x300
                                            img(src="./images/bch_character.png", alt="CHARACTER")
                                        .warrior__information
                                            .box-row
                                                .box-left
                                                    h4.warrior__name Bitcoin
                                                    span.warrior__id #B12000
                                                .box-right
                                                    .flex-between-alc
                                                        .block
                                                            span Single battle:
                                                        .block
                                                            span 15
                                                    .flex-between-alc
                                                        .block
                                                            span Championship:
                                                        .block
                                                            span 15
                                        .warrior__actions
                                            button.bt.bt-lg.bt-block.primary PvP
                                -for(i=0;i<4;i++)
                                    .warrior__item
                                        .warrior__character
                                            // Radio Images: 250x300
                                            img(src="./images/btc_character.png", alt="CHARACTER")
                                        .warrior__information
                                            .box-row
                                                .box-left
                                                    h4.warrior__name Bitcoin
                                                    span.warrior__id #B12000
                                                .box-right
                                                    .flex-between-alc
                                                        .block
                                                            span Single battle:
                                                        .block
                                                            span 15
                                                    .flex-between-alc
                                                        .block
                                                            span Championship:
                                                        .block
                                                            span 15
                                        .warrior__actions
                                            button.bt.bt-lg.bt-block.primary PvP
                        .tab__contentItem(toggle-id="lands")
                            .not_content
                                img(src="./images/not_content.png", alt="NOT-CONTENT")
                        .tab__contentItem(toggle-id="bodyparts")
                            .not_content
                                img(src="./images/not_content.png", alt="NOT-CONTENT")
                        .tab__contentItem(toggle-id="items")
                            .not_content
                                img(src="./images/not_content.png", alt="NOT-CONTENT")