extends ../layouts/layout

block var
    - pageTitle = "Shop | Green Beli"
    - pageName = "nft_market_page"
block library-css
block css
    link(rel="stylesheet", href="./css/banner.css")
    link(rel="stylesheet", href="./css/shop.css")
block library-js
block js
    script(src="./js/shop.js") 
block main
    // *** BANNER *** //
    include ../components/banner_shop
    // *** SHOP *** //
    section.shop_section
        .container
            .shop__wrapper
                .button-mobile
                    button.bt.bt--primary.bt-open-filter-mobile Filter
                .shop__filter
                    .close-filter-mobile
                        .bt-close-filter-mobile
                            i.fal.fa-times
                    .filter__top
                        .left
                            h3 Filter (2)
                        .right
                            a.bt.bt--secondary(href="#") Clear Filter
                    .shop__filter_container
                        .tab_container
                            .filter__top
                                .left
                                    .tabs_row
                                        button.bt(toggle-for="general")
                                            span General
                                        button.bt(toggle-for="parts")
                                            span Parts
                                .right
                                    .search_block
                                        i.fal.fa-search
                                        input.form-control(placeholder="Search ID Hero")
                            .tabs_content
                                .content(toggle-id="general")
                                    .filter__items
                                        .filter_block
                                            h4 Class
                                            .filter_block_checkbox
                                                .input_group.input_group_checkbox
                                                    label
                                                        .checkbox__custom
                                                            input(type="checkbox")
                                                        .icon
                                                            img(src="./icons/hero-class/metal.png", alt="")
                                                        span Metal
                                                .input_group.input_group_checkbox
                                                    label
                                                        .checkbox__custom
                                                            input(type="checkbox")
                                                        .icon
                                                            img(src="./icons/hero-class/wood.png", alt="")
                                                        span Wood
                                                .input_group.input_group_checkbox
                                                    label
                                                        .checkbox__custom
                                                            input(type="checkbox")
                                                        .icon
                                                            img(src="./icons/hero-class/water.png", alt="")
                                                        span Water
                                                .input_group.input_group_checkbox
                                                    label
                                                        .checkbox__custom
                                                            input(type="checkbox")
                                                        .icon
                                                            img(src="./icons/hero-class/fire.png", alt="")
                                                        span Fire
                                                .input_group.input_group_checkbox
                                                    label
                                                        .checkbox__custom
                                                            input(type="checkbox")
                                                        .icon
                                                            img(src="./icons/hero-class/earth.png", alt="")
                                                        span Earth
                                        .filter_block
                                            h4 Rarity
                                            .filter_block_checkbox
                                                .input_group.input_group_checkbox
                                                    label(rarity="common")
                                                        input(type="checkbox" hidden)
                                                        span Common
                                                .input_group.input_group_checkbox
                                                    label(rarity="uncommon")
                                                        input(type="checkbox" hidden)
                                                        span Uncommon
                                                .input_group.input_group_checkbox
                                                    label(rarity="rare")
                                                        input(type="checkbox" hidden)
                                                        span Rare
                                                .input_group.input_group_checkbox
                                                    label(rarity="epic")
                                                        input(type="checkbox" hidden)
                                                        span Epic
                                                .input_group.input_group_checkbox
                                                    label(rarity="legendary")
                                                        input(type="checkbox" hidden)
                                                        span Legendary
                                                .input_group.input_group_checkbox
                                                    label(rarity="mythical")
                                                        input(type="checkbox" hidden)
                                                        span Mythical
                                        .filter_block
                                            h4 Star
                                            .filter_block_checkbox
                                                .input_group.input_group_checkbox
                                                    label
                                                        .checkbox__custom
                                                            input(type="checkbox")
                                                        span 1
                                                        .icon.icon-star
                                                            i.fas.fa-star
                                                .input_group.input_group_checkbox
                                                    label
                                                        .checkbox__custom
                                                            input(type="checkbox")
                                                        span 2
                                                        .icon.icon-star
                                                            i.fas.fa-star
                                                .input_group.input_group_checkbox
                                                    label
                                                        .checkbox__custom
                                                            input(type="checkbox")
                                                        span 3
                                                        .icon.icon-star
                                                            i.fas.fa-star
                                                .input_group.input_group_checkbox
                                                    label
                                                        .checkbox__custom
                                                            input(type="checkbox")
                                                        span 4
                                                        .icon.icon-star
                                                            i.fas.fa-star
                                                .input_group.input_group_checkbox
                                                    label
                                                        .checkbox__custom
                                                            input(type="checkbox")
                                                        span 5
                                                        .icon.icon-star
                                                            i.fas.fa-star
                                                .input_group.input_group_checkbox
                                                    label
                                                        .checkbox__custom
                                                            input(type="checkbox")
                                                        span 6
                                                        .icon.icon-star
                                                            i.fas.fa-star
                                .content(toggle-id="parts")
                                    .filter__items
                                        .filter_block
                                            h4 Body Parts
                                            .filter_block_checkbox
                                                .input_group.input_group_checkbox
                                                    label
                                                        .checkbox__custom
                                                            input(type="checkbox")
                                                        .icon
                                                            img(src="./icons/face/default.png", alt="")
                                                        span Face
                                                .input_group.input_group_checkbox
                                                    label
                                                        .checkbox__custom
                                                            input(type="checkbox")
                                                        .icon
                                                            img(src="./icons/hair/default.png", alt="")
                                                        span Hair
                                                .input_group.input_group_checkbox
                                                    label
                                                        .checkbox__custom
                                                            input(type="checkbox")
                                                        .icon
                                                            img(src="./icons/body/default.png", alt="")
                                                        span Body
                                                .input_group.input_group_checkbox
                                                    label
                                                        .checkbox__custom
                                                            input(type="checkbox")
                                                        .icon
                                                            img(src="./icons/hand/default.png", alt="")
                                                        span Hand
                                                .input_group.input_group_checkbox
                                                    label
                                                        .checkbox__custom
                                                            input(type="checkbox")
                                                        .icon
                                                            img(src="./icons/leg/default.png", alt="")
                                                        span Leg
                                                .input_group.input_group_checkbox
                                                    label
                                                        .checkbox__custom
                                                            input(type="checkbox")
                                                        .icon
                                                            img(src="./icons/decor/default.png", alt="")
                                                        span Decor
                                        .filter_block
                                            h4 Rarity
                                            .filter_block_checkbox
                                                .input_group.input_group_checkbox
                                                    label(rarity="common")
                                                        input(type="checkbox" hidden)
                                                        span Common
                                                .input_group.input_group_checkbox
                                                    label(rarity="uncommon")
                                                        input(type="checkbox" hidden)
                                                        span Uncommon
                                                .input_group.input_group_checkbox
                                                    label(rarity="rare")
                                                        input(type="checkbox" hidden)
                                                        span Rare
                                                .input_group.input_group_checkbox
                                                    label(rarity="epic")
                                                        input(type="checkbox" hidden)
                                                        span Epic
                                                .input_group.input_group_checkbox
                                                    label(rarity="legendary")
                                                        input(type="checkbox" hidden)
                                                        span Legendary
                                                .input_group.input_group_checkbox
                                                    label(rarity="mythical")
                                                        input(type="checkbox" hidden)
                                                        span Mythical
                                        .filter_block
                                            h4 Price
                                            .filter_block_price
                                                .input-percent
                                                    .input-range
                                                        input(type="range" min="1" max="5" value="1" style="width:100%")
                                                .input-price
                                                    .price-block
                                                        i.far.fa-dollar-sign
                                                        input.form-control(type="text" value="500")
                                                    .price-block
                                                        i.far.fa-dollar-sign
                                                        input.form-control(type="text" value="1000")
                .shop__main_content
                    .shop__main_top
                        .left
                            .total-green-hero 1000 Green Heroes
                        .right
                            .sort_block
                                .select__custom
                                    select
                                        option Recently listed
                                        option Highest Price
                                        option Latest
                            .input_group
                                span Owned
                                label.checkbox__switch
                                    input(type='checkbox')
                                    .slider.round
                    .list_products
                        .list_products__item_wrapper
                            a.list_products__item(popup-to="character_detail_popup_unsell" href="javascript:;" rating="5" character-class="fire")
                                .item_wrapper__top
                                    .character__image
                                        .image
                                            img(src="./images/itemproductfire.png", alt="CHARACTER-FIRE")
                                .item_wrapper__bottom
                                    .character__information
                                        .information__item
                                            .character__name
                                                h3 GRBE#95203
                                            .character__rating
                                                i.fas.fa-star
                                        .character__price
                                            .price__wrapper
                                                .icon
                                                    img(src="./icons/grbe.png", alt="GRBE")
                                                .price
                                                    span 0.4723
                                            p.price-usd ($21.92)
                                    .character__status.txt-orange For sale
                        .list_products__item_wrapper
                            a.list_products__item(popup-to="character_detail_popup_unsell" href="javascript:;" rating="2" character-class="wood")
                                .item_wrapper__top
                                    .character__image
                                        .image
                                            img(src="./images/itemproductwood.png", alt="CHARACTER-WOOD")
                                .item_wrapper__bottom
                                    .character__information
                                        .information__item
                                            .character__name
                                                h3 GRBE#95203
                                            .character__rating
                                                i.fas.fa-star
                                        .character__price
                                            .price__wrapper
                                                .icon
                                                    img(src="./icons/grbe.png", alt="GRBE")
                                                .price
                                                    span 0.4723
                                            p.price-usd ($21.92)
                                    .character__status.txt-orange For sale
                        .list_products__item_wrapper
                            a.list_products__item(popup-to="character_detail_popup_buy" href="javascript:;" rating="1" character-class="metal")
                                .item_wrapper__top
                                    .character__image
                                        .image
                                            img(src="./images/itemproductmetal.png", alt="CHARACTER-METAL")
                                .item_wrapper__bottom
                                    .character__information
                                        .information__item
                                            .character__name
                                                h3 GRBE#95203
                                            .character__rating
                                                i.fas.fa-star
                                        .character__price
                                            .price__wrapper
                                                .icon
                                                    img(src="./icons/grbe.png", alt="GRBE")
                                                .price
                                                    span 0.4723
                                            p.price-usd ($21.92)
                                    .character__status.txt-primary Buy
                        .list_products__item_wrapper
                            a.list_products__item(popup-to="character_detail_popup_buy" href="javascript:;" rating="3" character-class="water")
                                .item_wrapper__top
                                    .character__image
                                        .image
                                            img(src="./images/itemproductwater.png", alt="CHARACTER-WATER")
                                .item_wrapper__bottom
                                    .character__information
                                        .information__item
                                            .character__name
                                                h3 GRBE#95203
                                            .character__rating
                                                i.fas.fa-star
                                        .character__price
                                            .price__wrapper
                                                .icon
                                                    img(src="./icons/grbe.png", alt="GRBE")
                                                .price
                                                    span 0.4723
                                            p.price-usd ($21.92)
                                    .character__status.txt-primary Buy
                        .list_products__item_wrapper
                            a.list_products__item(popup-to="character_detail_popup_expired" href="javascript:;" rating="6" character-class="earth")
                                .item_wrapper__top
                                    .character__image
                                        .image
                                            img(src="./images/itemproductearth.png", alt="CHARACTER-EARTH")
                                .item_wrapper__bottom
                                    .character__information
                                        .information__item
                                            .character__name
                                                h3 GRBE#95203
                                            .character__rating
                                                i.fas.fa-star
                                        .character__price
                                            .price__wrapper
                                                .icon
                                                    img(src="./icons/grbe.png", alt="GRBE")
                                                .price
                                                    span 0.4723
                                            p.price-usd ($21.92)
                                    .character__status.txt-gray Expired
                        .list_products__item_wrapper
                            a.list_products__item(popup-to="character_detail_popup_expired" href="javascript:;" rating="4" character-class="earth")
                                .item_wrapper__top
                                    .character__image
                                        .image
                                            img(src="./images/itemproductearth.png", alt="CHARACTER-EARTH")
                                .item_wrapper__bottom
                                    .character__information
                                        .information__item
                                            .character__name
                                                h3 GRBE#95203
                                            .character__rating
                                                i.fas.fa-star
                                        .character__price
                                            .price__wrapper
                                                .icon
                                                    img(src="./icons/grbe.png", alt="GRBE")
                                                .price
                                                    span 0.4723
                                            p.price-usd ($21.92)
                                    .character__status.txt-gray Expired
                    .shop__pagination
                        ul.pagination
                            li.pagination-item.disable
                                a(href="#")
                                    i.fal.fa-chevron-left
                            li.pagination-item.active
                                a(href="#") 1
                            li.pagination-item
                                a(href="#") 2
                            li.pagination-item
                                a(href="#") 3
                            li.pagination-item
                                a(href="#") 4
                            li.pagination-item
                                a(href="#") 5
                            li.pagination-item
                                a(href="#")
                                    i.far.fa-ellipsis-h
                            li.pagination-item
                                a(href="#") 1424
                            li.pagination-item
                                a(href="#")
                                    i.fal.fa-chevron-right
    // *** CHARACTER DETAIL POPUP BUY *** //
    include ../components/character_detail_popup_buy
    // *** BUY CHARACTER POPUP *** //
    include ../components/buy_character_popup
    // *** BUY CHARACTER SUCCESS POPUP *** //
    include ../components/buy_character_success_popup
    // *** CHARACTER DETAIL POPUP UNSELL *** //
    include ../components/character_detail_popup_unsell
    // *** BUY CHARACTER SUCCESS POPUP *** //
    include ../components/unsell_character_success_popup
    // *** CHARACTER DETAIL POPUP EXPIRED *** //
    include ../components/character_detail_popup_expired
    // *** BUY CHARACTER SUCCESS POPUP *** //
    include ../components/claim_character_expired_success_popup