extends ../layouts/layout

block var
    - pageTitle = "Liquidity | Green Beli"
    - pageName = "nft_market_page"
block library-css
block css
    link(rel="stylesheet", href="./css/banner.css")
    link(rel="stylesheet", href="./css/shop.css")
block library-js
block js
    script(src="./js/shop.js") 
block main
    // *** BANNER *** //
    include ../components/banner_shop
    // *** SHOP *** //
    section.shop_section
        .container
            .shop__wrapper
                aside.shop__fiter_left
                    .title Filter
                    //- .shop__filter_tabs_nav
                    //-     .bt.tab_item.active General
                    .shop__filter_tabs_content
                        .filter_block
                            h4.filter_block__title Sort By
                            .select__custom
                                select
                                    option Lowest Price
                                    option Highest Price
                                    option Lowest Productivity Price
                                    option Highest Productivity Price
                        .filter_block
                            h4.filter_block__title Class
                            .filter_block__wrapper
                                .filter_block__item
                                    label
                                        .checkbox__custom
                                            input(type="checkbox")
                                    img(src="./icons/metal.png", alt="Metal")
                                    span Metal
                                .filter_block__item
                                    label
                                        .checkbox__custom
                                            input(type="checkbox")
                                    img(src="./icons/wood.png", alt="Wood")
                                    span Wood
                                .filter_block__item
                                    label
                                        .checkbox__custom
                                            input(type="checkbox")
                                    img(src="./icons/water.png", alt="Water")
                                    span Water
                                .filter_block__item
                                    label
                                        .checkbox__custom
                                            input(type="checkbox")
                                    img(src="./icons/fire.png", alt="Fire")
                                    span Fire
                                .filter_block__item
                                    label
                                        .checkbox__custom
                                            input(type="checkbox")
                                    img(src="./icons/earth.png", alt="Earth")
                                    span Earth
                        .filter_block
                            h4.filter_block__title Body Part
                            .filter_block__wrapper
                                .filter_block__item
                                    label
                                        .checkbox__custom
                                            input(type="checkbox")
                                    img(src="./icons/face.svg", alt="Face")
                                    span Face
                                .filter_block__item
                                    label
                                        .checkbox__custom
                                            input(type="checkbox")
                                    img(src="./icons/hair.svg", alt="Hair")
                                    span Hair
                                .filter_block__item
                                    label
                                        .checkbox__custom
                                            input(type="checkbox")
                                    img(src="./icons/body.svg", alt="Body")
                                    span Body
                                .filter_block__item
                                    label
                                        .checkbox__custom
                                            input(type="checkbox")
                                    img(src="./icons/hand.svg", alt="Hand")
                                    span Hand
                                .filter_block__item
                                    label
                                        .checkbox__custom
                                            input(type="checkbox")
                                    img(src="./icons/leg.svg", alt="Leg")
                                    span Leg
                                .filter_block__item
                                    label
                                        .checkbox__custom
                                            input(type="checkbox")
                                    img(src="./icons/deco.svg", alt="Deco")
                                    span Deco
                        .filter_block
                            h4.filter_block__title Star
                            .filter_block__item
                                .input-range-stars
                                    .input-range
                                        input(type="range" min="1" max="6" value="1" style="width:100%")
                                    .stars
                                        p 1
                                        p 2
                                        p 3
                                        p 4
                                        p 5
                                        p 6
                .shop__main_content
                    .shop__filter_top
                        .left_partial
                            .total_rgbe
                                span 1106 Items
                            //- .tabs_row
                            //-     button.bt.bt-tab-name
                            //-         span All
                            //-     button.bt.bt-tab-name.active
                            //-         span For sale
                            //-     button.bt.bt-tab-name
                            //-         span Sold
                            //-     button.bt.bt-tab-name
                            //-         span Blacklisted
                        .right_partial
                            .input_group
                                span Owned
                                label.checkbox__switch
                                    input(type='checkbox')
                                    .slider.round
                    .list_products
                        a.list_products__item_wrapper(popup-to="character_detail_popup" href="javascript:;")
                            .list_products__item.list_products__item--metal
                                .passive
                                    span
                                        img(src="./icons/metal.png", alt="Metal")
                                .power
                                    i.fas.fa-fist-raised
                                    span.value 4%
                                .list_products__thumbnail
                                    .lazyload-wrapper
                                        img(src="./images/itemproductmetal.png", alt="CHARACTER-METAL")
                                .list_products__info
                                    .name GRBE#95203
                                    .detail
                                        .code ID: 433...203
                                        .rating
                                            i.fas.fa-star
                                    .price
                                        img(src="./icons/grbe.png", alt="GRBE-TOKEN")
                                        span.value 14.99
                                        span.usd-value ~$61.81
                        a.list_products__item_wrapper(popup-to="character_detail_popup" href="javascript:;")
                            .list_products__item.list_products__item--wood
                                .passive
                                    span
                                        img(src="./icons/wood.png", alt="Wood")
                                .power
                                    i.fas.fa-fist-raised
                                    span.value 10%
                                .list_products__thumbnail
                                    .lazyload-wrapper
                                        img(src="./images/itemproductwood.png", alt="CHARACTER-WOOD")
                                .list_products__info
                                    .name GRBE#95203
                                    .detail
                                        .code ID: 433...203
                                        .rating
                                            i.fas.fa-star
                                            i.fas.fa-star
                                            i.fas.fa-star
                                    .price
                                        img(src="./icons/grbe.png", alt="GRBE-TOKEN")
                                        span.value 14.99
                                        span.usd-value ~$61.81
                        a.list_products__item_wrapper(popup-to="character_detail_popup" href="javascript:;")
                            .list_products__item.list_products__item--water
                                .passive
                                    span
                                        img(src="./icons/water.png", alt="Water")
                                .power
                                    i.fas.fa-fist-raised
                                    span.value 50%
                                .list_products__thumbnail
                                    .lazyload-wrapper
                                        img(src="./images/itemproductwater.png", alt="CHARACTER-WATER")
                                .list_products__info
                                    .name GRBE#95203
                                    .detail
                                        .code ID: 433...203
                                        .rating
                                            i.fas.fa-star
                                            i.fas.fa-star
                                            i.fas.fa-star
                                            i.fas.fa-star
                                    .price
                                        img(src="./icons/grbe.png", alt="GRBE-TOKEN")
                                        span.value 14.99
                                        span.usd-value ~$61.81
                        a.list_products__item_wrapper(popup-to="character_detail_popup" href="javascript:;")
                            .list_products__item.list_products__item--fire
                                .passive
                                    span
                                        img(src="./icons/fire.png", alt="Fire")
                                .power
                                    i.fas.fa-fist-raised
                                    span.value 50%
                                .list_products__thumbnail
                                    .lazyload-wrapper
                                        img(src="./images/itemproductfire.png", alt="CHARACTER-FIRE")
                                .list_products__info
                                    .name GRBE#95203
                                    .detail
                                        .code ID: 433...203
                                        .rating
                                            i.fas.fa-star
                                            i.fas.fa-star
                                            i.fas.fa-star
                                            i.fas.fa-star
                                    .price
                                        img(src="./icons/grbe.png", alt="GRBE-TOKEN")
                                        span.value 14.99
                                        span.usd-value ~$61.81
                        a.list_products__item_wrapper(popup-to="character_detail_popup" href="javascript:;")
                            .list_products__item.list_products__item--earth
                                .passive
                                    span
                                        img(src="./icons/earth.png", alt="Earth")
                                .power
                                    i.fas.fa-fist-raised
                                    span.value 50%
                                .list_products__thumbnail
                                    .lazyload-wrapper
                                        img(src="./images/itemproductearth.png", alt="CHARACTER-EARTH")
                                .list_products__info
                                    .name GRBE#95203
                                    .detail
                                        .code ID: 433...203
                                        .rating
                                            i.fas.fa-star
                                            i.fas.fa-star
                                            i.fas.fa-star
                                            i.fas.fa-star
                                    .price
                                        img(src="./icons/grbe.png", alt="GRBE-TOKEN")
                                        span.value 14.99
                                        span.usd-value ~$61.81
                    .shop__pagination
                        ul.pagination
                            li.pagination-item.disable
                                a(href="#")
                                    i.fal.fa-chevron-left
                            li.pagination-item.active
                                a(href="#") 1
                            li.pagination-item
                                a(href="#") 2
                            li.pagination-item
                                a(href="#") 3
                            li.pagination-item
                                a(href="#") 4
                            li.pagination-item
                                a(href="#") 5
                            li.pagination-item
                                a(href="#")
                                    i.far.fa-ellipsis-h
                            li.pagination-item
                                a(href="#") 1424
                            li.pagination-item
                                a(href="#")
                                    i.fal.fa-chevron-right
    // *** CHARACTER DETAIL POPUP *** //
    include ../components/character_detail_popup