extends ../layouts/layout

block var
    - pageTitle = "Simular | Green Beli"
    - pageName = "simular_page"
block library-css
block css
    link(rel="stylesheet", href="./css/banner.css")
    link(rel="stylesheet", href="./css/simular.css")
block library-js
block js
block main
    // *** BANNER *** //
    include ../components/banner_simular
    // *** SIMULAR ** //
    section.simular_section
        .container
            .mint_probabily
                .probabily_wrapper
                    .probabily_title Raritys (%)
                    .probabily_items
                        .probabily
                            h4 Common
                            .probabily_value
                                input(type="text" value="82.87%" readonly)
                        .probabily
                            h4 Uncommon
                            .probabily_value
                                input(type="text" value="10.36%" readonly)
                        .probabily
                            h4 Rare
                            .probabily_value
                                input(type="text" value="5.18%" readonly)
                        .probabily
                            h4 Epic
                            .probabily_value
                                input(type="text" value="1.04%" readonly)
                        .probabily
                            h4 Ledengary
                            .probabily_value
                                input(type="text" value="0.52%" readonly)
                        .probabily
                            h4 Mythical
                            .probabily_value
                                input(type="text" value="0.04%" readonly)
            .calculate_build_team
                .calculate_build_team_wrapper
                    .hero
                        .hero_information_form_group_top
                            .form_group_top__item
                                input.form-control(type="text" placeholder="ID Green Hero")
                            .form_group_top__item
                                input.form-control(type="number" placeholder="Level Green Hero")
                            .form_group_top__item
                                input.form-control(type="number" placeholder="Gens")
                            .form_group_top__item
                                .select__custom
                                    select
                                        option Rarity
                                        option Common
                                        option Uncommon
                                        option Rare
                                        option Epic
                                        option Ledengary
                                        option Mythical
                            .form_group_top__item
                                .select__custom
                                    select
                                        option Star
                                        option 1
                                        option 2
                                        option 3
                                        option 4
                                        option 5
                                        option 6
                            .form_group_top__item
                                .select__custom
                                    select
                                        option Class
                                        option Fire
                                        option Water
                                        option Metal
                                        option Earth
                        .hero_information_form_group_bottom
                            .table_bodypart
                                table
                                    thead
                                        tr
                                            th Bodypart
                                            th Rarity
                                            th Level
                                    tbody
                                        tr
                                            td Face
                                            td
                                                .select__custom
                                                    select
                                                        option Common
                                                        option Uncommon
                                                        option Rare
                                                        option Epic
                                                        option Ledengary
                                                        option Mythical
                                            td
                                                input(type="number" value="1")
                                        tr
                                            td Body
                                            td
                                                .select__custom
                                                    select
                                                        option Common
                                                        option Uncommon
                                                        option Rare
                                                        option Epic
                                                        option Ledengary
                                                        option Mythical
                                            td
                                                input(type="number" value="1")
                                        tr
                                            td Leg
                                            td
                                                .select__custom
                                                    select
                                                        option Common
                                                        option Uncommon
                                                        option Rare
                                                        option Epic
                                                        option Ledengary
                                                        option Mythical
                                            td
                                                input(type="number" value="1")
                                        tr
                                            td Decor
                                            td
                                                .select__custom
                                                    select
                                                        option Common
                                                        option Uncommon
                                                        option Rare
                                                        option Epic
                                                        option Ledengary
                                                        option Mythical
                                            td
                                                input(type="number" value="1")
                                        tr
                                            td Hand
                                            td
                                                .select__custom
                                                    select
                                                        option Common
                                                        option Uncommon
                                                        option Rare
                                                        option Epic
                                                        option Ledengary
                                                        option Mythical
                                            td
                                                input(type="number" value="1")
                            .left
                                .stats
                                    .stat__item
                                        label Intel
                                        .content
                                            .icon
                                                img(src="./icons/intel.png")
                                            .value
                                                input(type="number" value="48" readonly) 
                                    .stat__item
                                        label Base Dmg
                                        .content
                                            .icon
                                                img(src="./icons/dmg.png")
                                            .value
                                                input(type="number" value="50" readonly) 
                                    .stat__item
                                        label Crit Dmg
                                        .content
                                            .icon
                                                img(src="./icons/crit-dmg.png")
                                            .value
                                                input(type="number" value="50" readonly) 
                                    .stat__item
                                        label Crit Rate
                                        .content
                                            .icon
                                                img(src="./icons/crit-rate.png")
                                            .value
                                                input(type="number" value="50" readonly)
                                    .stat__item
                                        label Staking
                                        .content
                                            .icon
                                                img(src="./icons/gens.png")
                                            .value
                                                input(type="number" value="50" readonly) 
                                    .stat__item
                                        label Growth
                                        .content
                                            .icon
                                                img(src="./icons/growth.png")
                                            .value
                                                input(type="number" value="50" readonly) 
                                .results
                                    .result__item
                                        .head
                                            .icon
                                                img(src="./icons/farming.png")
                                            label Power
                                        .value
                                            input(type="number" value="50" readonly)
                                    .result__item
                                        .head
                                            .icon
                                                img(src="./icons/dmg.png")
                                            label Final Dmg
                                        .value
                                            input(type="number" value="50" readonly)
                    .listing
                        .calculate_build_team_title
                            span Greem Hero List
                            button.bt.bt--sm.bt--outline.bt--primary Export File
                        .total_hero 5 Green Heroes
                        #heroList
                            .singleHero.active
                                .hero__id #1
                                .hero__image
                                    img(src="./icons/hero-class/fire.png")
                                .hero__stats
                                    .stat__item
                                        .icon
                                            img(src="./icons/farming.png")
                                        .value 100
                                    .stat__item
                                        .icon
                                            img(src="./icons/dmg.png")
                                        .value 100
                                .hero__status Main
                                a(href="#").hero__remove
                                    i.fas.fa-trash
                            .singleHero
                                .hero__id #2
                                .hero__image
                                    img(src="./icons/hero-class/water.png")
                                .hero__stats
                                    .stat__item
                                        .icon
                                            img(src="./icons/farming.png")
                                        .value 100
                                    .stat__item
                                        .icon
                                            img(src="./icons/dmg.png")
                                        .value 100
                                .hero__status Suport
                                a(href="#").hero__remove
                                    i.fas.fa-trash
                            .singleHero
                                .hero__id #3
                                .hero__image
                                    img(src="./icons/hero-class/metal.png")
                                .hero__stats
                                    .stat__item
                                        .icon
                                            img(src="./icons/farming.png")
                                        .value 100
                                    .stat__item
                                        .icon
                                            img(src="./icons/dmg.png")
                                        .value 100
                                .hero__status Suport
                                a(href="#").hero__remove
                                    i.fas.fa-trash
                            .singleHero
                                .hero__id #4
                                .hero__image
                                    img(src="./icons/hero-class/wood.png")
                                .hero__stats
                                    .stat__item
                                        .icon
                                            img(src="./icons/farming.png")
                                        .value 100
                                    .stat__item
                                        .icon
                                            img(src="./icons/dmg.png")
                                        .value 100
                                .hero__status Pending
                                a(href="#").hero__remove
                                    i.fas.fa-trash
                            .singleHero
                                .hero__id #5
                                .hero__image
                                    img(src="./icons/hero-class/earth.png")
                                .hero__stats
                                    .stat__item
                                        .icon
                                            img(src="./icons/farming.png")
                                        .value 100
                                    .stat__item
                                        .icon
                                            img(src="./icons/dmg.png")
                                        .value 100
                                .hero__status Pending
                                a(href="#").hero__remove
                                    i.fas.fa-trash
                        .listing__actions
                            button.bt.bt--primary ADD HERO
                            button.bt.bt--secondary RESET
            .calculate_your_roi
                .calculate_your_roi_title Caculate Your ROI
                .calculate_your_roi_total
                    .total_form
                        h3 Total Investment
                        .form-wrapper
                            .input_group
                                input.form-control(value="1000" type="number" placeholder="GRBE")
                                span GRBE
                            .input_group
                                input.form-control(value="1000" type="number" placeholder="GFRUIT")
                                span GFRUIT
                    .total_table
                        .table
                            table
                                thead
                                    tr
                                        th Min Reward Daily
                                        th Max Reward Daily
                                        th Days Left 
                                tbody
                                    tr
                                        td 100
                                        td 500 GFRUIT
                                        td 3 Days
                                    tr
                                        td 200 GFRUIT
                                        td 400 GFRUIT
                                        td 5 Days
                .calculate_your_roi_tables
                    .table__item
                        table
                            thead
                                tr
                                    th Time
                                    th Min Profit
                                    th Max Profit
                            tbody
                                tr
                                    td 7 Days
                                    td 500 GFRUIT
                                    td 500 GFRUIT
                                tr
                                    td 1 Month
                                    td 500 GFRUIT
                                    td 500 GFRUIT
                                tr
                                    td 3 Months
                                    td 500 GFRUIT
                                    td 500 GFRUIT
                                tr
                                    td 6 Months
                                    td 500 GFRUIT
                                    td 500 GFRUIT
                                tr
                                    td 1 Year
                                    td 500 GFRUIT
                                    td 500 GFRUIT