section.banner_section
    .container
        .banner_section__wrapper
            .banner_section__content
                h2 Welcome to the NFT Marketplace
                p Here you can search and buy meebs to enrich your collection.
                .banner_section__info
                    .banner_section_info__item
                        h4 NFT trading volume
                        .amount
                            span.value 291,899
                            span.usd-value $ 1.26M
                    .banner_section_info__item
                        h4 NFT trading volume
                        .amount
                            span.value 291,899
                            span.usd-value $ 1.26M
            .banner_section__image
                img(src="./images/marketbanner.svg", alt="NFT-MARKET")