section.banner_section
    .container
        .banner_section__wrapper
            .banner_section__content
                h1 Total value locked
                p $14,191,238
            .banner_section__information
                .banner_section__info_item
                    .banner_section__info_icon
                        i.fad.fa-exchange
                    .banner_section__info_detail
                        .banner_section__info_title NFT trading volume
                        .banner_section__info_value
                            span.amount 396,523
                            span.usd-value $1.73M
                .banner_section__info_item
                    .banner_section__info_icon
                        i.fas.fa-fire
                    .banner_section__info_detail
                        .banner_section__info_title MEEB burned
                        .banner_section__info_value
                            span.amount 79,305
                            span.usd-value $345.68K
            .section__unbox
                a(popup-to="unbox_popup" href="javascript:;")
                    img(src="./images/chest.png", alt="CHEST")