section.banner_section
    .container
        .banner_section__wrapper
            .banner_section__content
                h1 GRBE Farming
                p Earn extra GRBE with the add-on farming feature. The amount of GRBE gained from Farming depends on each GRBE’s Farming stats.
            .banner_section__image
                img(src="./images/farmingbanner.svg", alt="NFT-MARKET")