section.banner_section
    .container
        .banner_section__wrapper
            .banner_section__content
                h1 CLAIM YOUR TOKENS
                p This website is for those who purchased GRBE tokens in the private and seed rounds.
            .banner_section__image
                img(src="./images/compensationbanner.png", alt="NFT-MARKET")