section.banner_section
    .container
        .banner_section__wrapper
            .banner_section__title
                img(src="./images/block-title-banner.png", alt="BLOCK-TITLE")
                h1 NFT Marketplace
            .banner_section__content
                img(src="./images/marketbanner.png", alt="")
                h2 Buy Hero
                p Welcome to Green Beli's NFT Marketplace!
                p It's time to shop for your Green Hero collectibles.