section.banner_section
    .container
        .banner_section__wrapper
            .banner_section__title
                img(src="./images/block-title-banner.png", alt="BLOCK-TITLE")
                h1 Farming
            .banner_section__content
                img(src="./images/grbe-token.png", alt="")
                h2 GRBE Farming
                p Earn more GRBE from your tokens