section.banner_section
    .container
        .banner_section__wrapper
            .banner_section__title
                img(src="./images/block-title-banner.png", alt="BLOCK-TITLE")
                h1 NFT Market
            .banner_section__content
                img(src="./images/marketbanner.png", alt="")
                h2 Buy Hero
                p Game items can be traded through our in-game NFT marketplace with high liquidity.