section.banner_section
    .container
        .banner_section__wrapper
            .banner_section__title
                img(src="./images/block-title-banner.png", alt="BLOCK-TITLE")
                h1 Simular