section.banner_section
    .container
        .banner_section__wrapper
            .banner_section__content
                h1 Your Tree
                p Here you can see your trees. Stake one of them to boost your farm
            .banner_section__box
                h2 Upgrade your trees
                button.bt.bt--secondary Fusion