section.banner_section
    .container
        .banner_section__wrapper
            .banner_section__content
                h1 Your Tree
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            .banner_section__box
                h2 Upgrade your trees
                button.bt.bt--secondary Fusion