section.banner_section
    .container
        .banner_section__wrapper
            .banner_section__content
                h1 Compensation
                p This page is dedicated for people who lost their capital investments as a result of the SIL incident
            .banner_section__image
                img(src="./images/compensationbanner.png", alt="NFT-MARKET")