#buy_character_popup.buy_character_popup(style="display:none")
    .popup_wrapper
        .popup__header
            h2.popup__title Buy Green Hero
        .popup__body
            .buy_character_form
                .form__item
                    label Green Hero Price
                    .input_group
                        input.form-control(type="number" placeholder="0" value="100" readonly)
                        .price-token
                            .icon
                                img(src="./icons/grbe.png", alt="GRBE")
                            span ~$200
                .form__item
                    label Platform fee
                    .input_group
                        input.form-control(type="number" placeholder="0" readonly)
                        .price-token
                            .icon
                                img(src="./icons/grbe.png", alt="GRBE")
                            span ~$6
                .form__item
                    label Total payment
                    .input_group
                        input.form-control(type="number" placeholder="0" readonly)
                        .price-token
                            .icon
                                img(src="./icons/grbe.png", alt="GRBE")
                            span ~$6
                .notification
                    p GRBE in wallet 
                        b.txt-primary 500GRBE
                    p Insufficient balance for transaction
                .error
                    i.fad.fa-exclamation-circle
                    p No enough balance GRBE
                    a(href="#").bt.bt--secondary Buy GRBE
        .popup__footer
            button.bt.bt--primary(popup-to="buy_character_success_popup" href="javascript:;") Checkout