section.buy_seed_section
    .container.h-100
        .block-seed-content-top
            h3(data-text="TREE SEED FOR SALE")
            h1(data-text="20,000 TREE SEED")
            p(data-text="TIME SEPTEMBER 25th , 2 PM UTC")
        .block-seed
            a(popup-to="unbox_popup" href="javascript:;")
                img(src="./images/chest.png", alt="SEEDG-GRBE")
        .block-seed-content-bottom
            h4  
                span PRICE: 0.15 BNB
                img(src="./icons/busd.png", alt="")
            .actions
                button.bt.bt--md.bt--primary-dark BUY