section.buy_seed_section
    .container.h-100
        .block-seed-content-top
            h1(data-text="TREE SEEDS FOR SALE EVENT")
            h3(data-text="24:00:00")
        .block-seed
            a(popup-to="unbox_popup" href="javascript:;")
                img(src="./images/chest.png", alt="SEEDG-GRBE")
            .text-call-to-action
                p(data-text="Click to Buy")