#buy_character_success_popup.buy_character_popup.buy_character_success_popup(style="display:none")
    .popup_wrapper
        .popup__body
            .buy_character_content_popup
                .success
                    p Transaction submitted successfully
        .popup__footer
            button(data-fancybox-close).bt.bt--primary.bt--outline Close
            a(href="inventory.html").bt.bt--primary Go to my Green Heroes