#character_detail_popup.character_detail_popup(style="display:none")
    .popup_wrapper
        .popup__header
            h2.popup__title Character Detail
        .popup__body
            .character_detail__wrapper
                .left_detail
                    .list_products__item_wrapper
                        .list_products__item.list_products__item--water
                            .passive
                                span
                                    img(src="./icons/passivetanker.svg", alt="TANKER")
                            .list_products__thumbnail
                                .lazyload-wrapper
                                    img(src="./images/item_product_01.png", alt="CHARACTER")
                    .block_action
                        div
                            .title Current price
                            .price
                                img(src="./icons/meebtoken.svg", alt="MEEB-TOKEN")
                                .txt 14.99
                                    span ~$68.24
                        div
                            button.bt.bt--primary.bt--shadow Approve
                .right_detail
                    .name RGBE#45793
                    .address ID: 144964015431745793
                        span.copy
                            i.fal.fa-copy
                    .title_block Information
                    .block_information.information_character
                        .information__item
                            .info_title Attribute
                            .info_type
                                img(src="./icons/grassitemdetail.svg", alt="TANKER")
                                span Grass
                        .information__item
                            .info_title Role
                            .info_type
                                img(src="./icons/supporteritemdetail.svg", alt="TANKER")
                                span Supporter
                        .information__item
                            .info_title Purity
                            .info_type
                                i.fas.fa-star
                                i.fas.fa-star
                        .information__item
                            .info_title Fusion count
                            .info_type
                                span ---
                    .title_block Stats
                    .block_information.stats
                        .stats__item
                            img(src="./icons/heartgreen.svg", alt="HP")
                            div
                                p.txt-green HP
                                p 550
                        .stats__item
                            img(src="./icons/atk.svg", alt="ATK")
                            div
                                p.txt-red Atk
                                p 120
                        .stats__item
                            img(src="./icons/satk.svg", alt="SATK")
                            div
                                p.txt-green S.Atk
                                p 330
                        .stats__item
                            img(src="./icons/energry.svg", alt="ENERGY")
                            div
                                p.txt-blue Energy
                                p 20
                        .stats__item
                            img(src="./icons/speed.svg", alt="SPEED")
                            div
                                p.txt-yellow Speed
                                p 125
                        .stats__item
                            img(src="./icons/crit.svg", alt="CRIT")
                            div
                                p.txt-orange Crit
                                p 5.80%
                        .stats__item
                            img(src="./icons/critdmg.svg", alt="CRIT-DMG")
                            div
                                p.txt-orange Crit Dmg
                                p 60.00%
                        .stats__item
                            img(src="./icons/afk.svg", alt="AFK")
                            div
                                p.txt-pink AFK
                                p 13
                        .stats__item
                            img(src="./icons/lucky.svg", alt="LUCKY")
                            div
                                p.txt-green Luck
                                p 130
                        .stats__item
                            img(src="./icons/productivity.svg", alt="LUCKY")
                            div
                                p.txt-yellow Productivity
                                p 120
                    .title_block Body parts
                    .block_information.skin_character
                        .skin__item
                            img(src="./icons/skingreenhouse.svg", alt="GREENHOUSE")
                            div
                                p Greenhouse
                                p Level 1
                        .skin__item
                            img(src="./icons/skinwater.svg", alt="WATER")
                            div
                                p Water
                                p Level 1
                        .skin__item
                            img(src="./icons/skinlight.svg", alt="LIGHT")
                            div
                                p Light
                                p Level 1
                        .skin__item
                            img(src="./icons/skinlightt.svg", alt="LIGHT")
                            div
                                p Light
                                p Level 1
                        .skin__item
                            img(src="./icons/skinsunbear.svg", alt="SUN-BEAR")
                            div
                                p Sun Bear
                                p Level 1
                        .skin__item
                            img(src="./icons/skindark.svg", alt="DARK")
                            div
                                p Dark
                                p Level 1
                        .skin__item
                            img(src="./icons/skinelectric.svg", alt="DARK")
                            div
                                p Electric
                                p Level 1
                        .skin__item
                            img(src="./icons/skinlighttt.svg", alt="LIGHT")
                            div
                                p Light
                                p Level 1