#character_detail_popup.character_detail_popup(style="display:none")
    .popup_wrapper
        .popup__header
            h2.popup__title Character Detail
        .popup__body
            .character_detail__wrapper
                .left_detail
                    .list_products__item_wrapper
                        .list_products__item.list_products__item--fire
                            .passive
                                span
                                    img(src="./icons/fire.png", alt="Fire")
                            .list_products__thumbnail
                                .lazyload-wrapper
                                    img(src="./images/item_product_fire.png", alt="CHARACTER")
                    .block_action
                        div
                            .title Current Price
                            .price
                                img(src="./icons/grbe.png", alt="MEEB-TOKEN")
                                .txt 14.99
                                    span ~$68.24
                        div
                            button.bt.bt--primary.bt--shadow Approve
                    .block_action
                        div
                            .title Current Price
                            .price
                                img(src="./icons/grbe.png", alt="MEEB-TOKEN")
                                .txt 0
                                    span ~$0.00
                        div
                            button.bt.bt--primary.bt--shadow(disable) Sold
                    .block_action
                        div
                            .title Fast Purchase
                            .price
                                img(src="./icons/grbe.png", alt="MEEB-TOKEN")
                                .txt 29.99
                                    span ~$154.24
                        div
                            button.bt.bt--primary.bt--shadow Buy
                .right_detail
                    .name RGBE#45793
                    .address ID: 144964015431745793
                        span.copy
                            i.fal.fa-copy
                    .title_block Information
                    .block_information.information_character
                        .information__item
                            .info_title Class
                            .info_type
                                img(src="./icons/fire.png", alt="Fire")
                                span Fire
                        .information__item
                            .info_title Power
                            .info_type
                                i.fas.fa-fist-raised
                                span 10%
                        .information__item
                            .info_title Rating
                            .info_type
                                i.fas.fa-star
                                i.fas.fa-star
                    .title_block Stats
                    .block_information.stats
                        .stats__item.txt-green
                            i.fas.fa-heart
                            div
                                p HEALTH
                                p 48
                        .stats__item.txt-yellow
                            i.fas.fa-bolt
                            div
                                p SPEED
                                p 48
                        .stats__item.txt-orange
                            i.fas.fa-star
                            div
                                p SKILL
                                p 31
                        .stats__item.txt-green
                            i.fas.fa-tree-alt
                            div
                                p LUCK
                                p 31
                    .title_block Body parts
                    .block_information.skin_character
                        .skin__item
                            img(src="./icons/skingreenhouse.svg", alt="SKIN-ITEM")
                            div
                                p Greenhouse
                                p Level 1
                        .skin__item
                            img(src="./icons/skinwater.svg", alt="SKIN-ITEM")
                            div
                                p Water
                                p Level 1
                        .skin__item
                            img(src="./icons/skinlight.svg", alt="SKIN-ITEM")
                            div
                                p Light
                                p Level 1
                        .skin__item
                            img(src="./icons/skinlightt.svg", alt="SKIN-ITEM")
                            div
                                p Light
                                p Level 1
                        .skin__item
                            img(src="./icons/skinsunbear.svg", alt="SKIN-ITEM")
                            div
                                p Sun Bear
                                p Level 1
                        .skin__item
                            img(src="./icons/skindark.svg", alt="SKIN-ITEM")
                            div
                                p Dark
                                p Level 1
                        .skin__item
                            img(src="./icons/skinelectric.svg", alt="SKIN-ITEM")
                            div
                                p Electric
                                p Level 1
                        .skin__item
                            img(src="./icons/skinlighttt.svg", alt="SKIN-ITEM")
                            div
                                p Light
                                p Level 1