#character_detail_popup.character_detail_popup(rating="6" character-class="fire" style="display:none")
    .popup_wrapper
        .popup__body
            .character_detail__wrapper
                .detail_top
                    .top_left
                        .list_products__item
                            .item_wrapper__top.border-rating
                                .character__image
                                    .image
                                        img(src="./images/itemproductmetal.png", alt="CHARACTER-METAL")
                                .character__id
                                    span ID 
                                    span 144964015431745793
                            .item_wrapper__bottom.border-rating
                                .character__information
                                    .information__item
                                        .character__name
                                            h3 GRBE#95203
                                        .character__rating
                                            i.fas.fa-star
                                            i.fas.fa-star
                                    .information__item
                                        span Class
                                        .character__class
                                    .information__item
                                        span Power
                                        span.color-rating 25%
                                .character__status.txt-primary STAKING
                    .top_right
                        .character__information.border-rating
                            
                            .information__item
                                span Breed count
                                span 1/5
                            .information__item(rarity="common")
                                span Intel
                                span 48
                            .information__item(rarity="uncommon")
                                span Gens
                                span 50
                            .information__item(rarity="rare")
                                span Growth
                                span 12
                            .information__item(rarity="epic")
                                span Base Dmg
                                span 45
                            .information__item(rarity="legendary")
                                span Crit Dmg
                                span 32
                            .information__item(rarity="mythical")
                                span Crit Rate
                                span 56
                .detail_bottom
                    .bottom_item.border-rating
                        .title_block Body parts
                        .character__skin
                            .skin__item(rarity="common" body-part-name="face" body-part-class="fire")
                                .skin__icon
                                div
                                    p Face
                                    p LVL 1
                            .skin__item(rarity="uncommon" body-part-name="hair" body-part-class="water")
                                .skin__icon
                                div
                                    p Hair
                                    p LVL 1
                            .skin__item(rarity="rare" body-part-name="body" body-part-class="metal")
                                .skin__icon
                                div
                                    p Body
                                    p LVL 1
                            .skin__item(rarity="epic" body-part-name="hand" body-part-class="earth")
                                .skin__icon
                                div
                                    p Hand
                                    p LVL 1
                            .skin__item(rarity="legendary" body-part-name="leg" body-part-class="wood")
                                .skin__icon
                                div
                                    p Leg
                                    p LVL 1
                            .skin__item(rarity="mythical" body-part-name="decor" body-part-class="fire")
                                .skin__icon
                                div
                                    p Decor
                                    p LVL 1