#character_detail_popup_buy.character_detail_popup(rating="5" character-class="fire" style="display:none")
    .popup_wrapper
        .popup__body
            .character_detail__wrapper
                .detail_top
                    .top_left
                        .list_products__item
                            .item_wrapper__top.border-rating
                                .character__image
                                    .image
                                        img(src="./images/itemproductfire.png", alt="CHARACTER-METAL")
                                .character__id
                                    span ID 
                                    span 144964015431745793
                            .item_wrapper__bottom.border-rating
                                .character__information
                                    .information__item
                                        .character__name
                                            h3 GRBE#95203
                                        .character__rating
                                            i.fas.fa-star
                                            i.fas.fa-star
                                    .information__item
                                        span Class
                                        .character__class
                                    .information__item
                                        span Breed count
                                        span 0/6
                                    .character__price
                                        .price__wrapper
                                            .icon
                                                img(src="./icons/grbe.png", alt="GRBE")
                                            .price
                                                span 0.4723
                                        p.price-usd ($21.92)
                                .character__actions
                                    a.bt.bt--primary(popup-to="buy_character_popup" href="javascript:;") Buy now
                    .top_right.border-rating
                        .character__information
                            .information__item
                                label Power
                                .content
                                    .icon
                                        img(src="./icons/farming.png", alt="")
                                    span 25%
                            .information__item
                                label Level
                                .content
                                    .icon
                                        img(src="./icons/level.png", alt="")
                                    span 16/256
                            .information__item
                                label Intel
                                .content
                                    .icon
                                        img(src="./icons/intel.png", alt="")
                                    span 48
                            .information__item
                                label Genes
                                .content
                                    .icon
                                        img(src="./icons/gens.png", alt="")
                                    span 50
                            .information__item
                                label Growth
                                .content
                                    .icon
                                        img(src="./icons/growth.png", alt="")
                                    span 50
                            .information__item
                                label Base Dmg
                                .content
                                    .icon
                                        img(src="./icons/dmg.png", alt="")
                                    span 50
                            .information__item
                                label Crit Dmg
                                .content
                                    .icon
                                        img(src="./icons/crit-dmg.png", alt="")
                                    span 50
                            .information__item
                                label Crit Rate
                                .content
                                    .icon
                                        img(src="./icons/crit-rate.png", alt="")
                                    span 50
                .detail_bottom
                    .bottom_item.border-rating
                        .title_block Body parts
                        .character__skin
                            .skin__item(rarity="common" body-part-name="face" body-part-class="fire")
                                .skin__icon
                                div
                                    p Face
                                    p Level 1
                            .skin__item(rarity="uncommon" body-part-name="hair" body-part-class="water")
                                .skin__icon
                                div
                                    p Hair
                                    p Level 1
                            .skin__item(rarity="rare" body-part-name="body" body-part-class="metal")
                                .skin__icon
                                div
                                    p Body
                                    p Level 1
                            .skin__item(rarity="epic" body-part-name="hand" body-part-class="earth")
                                .skin__icon
                                div
                                    p Hand
                                    p Level 1
                            .skin__item(rarity="legendary" body-part-name="leg" body-part-class="wood")
                                .skin__icon
                                div
                                    p Leg
                                    p Level 1
                            .skin__item(rarity="mythical" body-part-name="decor" body-part-class="fire")
                                .skin__icon
                                div
                                    p Decor
                                    p Level 1
                .detail_bottom
                    .bottom_item
                        .title_block Transaction history
                        .character__transaction-history
                            table
                                thead
                                    tr
                                        th Event
                                        th Price
                                        th From
                                        th To
                                        th Date
                                tbody
                                    -for(i=0;i<10;i++)
                                        tr
                                            td Purchased
                                            td
                                                .price
                                                    .icon
                                                        img(src="./icons/grbe.png", alt="")
                                                    span 320
                                            td 0xD4971..2e7b2
                                            td 0xD4971..2e7b2
                                            td 2021/9/9