#character_detail_popup.character_detail_popup(style="display:none")
    .popup_wrapper
        .popup__body
            .character_detail__wrapper
                .detail_top
                    .top_left
                        .character__image
                            img(src="./images/itemproductmetal.png", alt="CHARACTER")
                        .character__id
                            span ID: 144964015431745793
                            span.copy
                                i.fal.fa-copy
                        .character__breed-count
                            span BREED: 0
                        .left_bottom
                            .character__price
                                h2
                                    .icon
                                        img(src="./icons/grbe.png", alt="grbe")
                                    span 7,000
                                p $162.759
                            .character__actions
                                button.bt.bt--primary Buy
                    .top_right
                        .character__information
                            .information__item
                                span Name
                                span GRBE#45793
                            .information__item
                                span Star
                                .character__rating
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                            .information__item
                                span Class
                                span Metal
                            .information__item
                                span Power
                                span 20%
                            .information__item
                                span Intel
                                span 48
                            .information__item
                                span Gens
                                span 50
                            .information__item
                                span Growth
                                span 12
                            .information__item
                                span Base Dmg
                                span 45
                            .information__item
                                span Crit Dmg
                                span 32
                            .information__item
                                span Crit Rate
                                span 56
                .detail_bottom
                    .bottom_item
                        .title_block Body parts
                        .character__skin
                            .skin__item(rarity="common")
                                img(src="./icons/face.png", alt="SKIN-ITEM")
                                div
                                    p Face
                                    p Level 1
                            .skin__item(rarity="uncommon")
                                img(src="./icons/hair.png", alt="SKIN-ITEM")
                                div
                                    p Hair
                                    p Level 1
                            .skin__item(rarity="rare")
                                img(src="./icons/body.png", alt="SKIN-ITEM")
                                div
                                    p Body
                                    p Level 1
                            .skin__item(rarity="epic")
                                img(src="./icons/hand.png", alt="SKIN-ITEM")
                                div
                                    p Hand
                                    p Level 1
                            .skin__item(rarity="legendary")
                                img(src="./icons/leg.png", alt="SKIN-ITEM")
                                div
                                    p Leg
                                    p Level 1
                            .skin__item(rarity="mythical")
                                img(src="./icons/deco.png", alt="SKIN-ITEM")
                                div
                                    p Deco
                                    p Level 1
                .detail_bottom
                    .bottom_item
                        .title_block Transaction history
                        .character__transaction-history
                            table
                                thead
                                    tr
                                        th Event
                                        th Price
                                        th Currency
                                        th From
                                        th To
                                        th Date and Time
                                tbody
                                    -for(i=0;i<10;i++)
                                        tr
                                            td Purchased
                                            td 320
                                            td GRBE
                                            td 0xD4971..2e7b2
                                            td 0xD4971..2e7b2
                                            td 2021/9/9