#choose_character_sell_popup.stake_your_grbe_popup(style="display:none")
    .popup_wrapper
        .popup__header
            h2.popup__title Add Your Green Hero
        .popup__body
            .your_grbe__list
                .your_grbe__item
                    .item__img
                        img(src="./images/itemproductearth.png", alt="grbe")
                    .item__id #2312399012
                .your_grbe__item
                    .item__img
                        img(src="./images/itemproductfire.png", alt="grbe")
                    .item__id #2312399012
                .your_grbe__item
                    .item__img
                        img(src="./images/itemproductmetal.png", alt="grbe")
                    .item__id #2312399012
                .your_grbe__item
                    .item__img
                        img(src="./images/itemproductwater.png", alt="grbe")
                    .item__id #2312399012
                .your_grbe__item
                    .item__img
                        img(src="./images/itemproductwood.png", alt="grbe")
                    .item__id #2312399012
        .popup__footer
            button(data-fancybox-close).bt.bt--primary.bt--outline Cancel
            button.bt.bt--primary Confirm