#claim_airdrop1_grbe_popup.claim_airdrop_popup(style="display:none")
    .popup_wrapper
        .popup__body
            .claim_airdrop_content_popup
                p 200 GRBE is ready to be transferred to your wallet now.
                p Please confirm to receive the reward.
        .popup__footer
            button.bt.bt--primary Claim GRBE Now
            button(data-fancybox-close).bt.bt--primary.bt--outline Cancel