#claim_airdrop1_nft_popup.claim_airdrop_popup(style="display:none")
    .popup_wrapper
        .popup__body
            .claim_airdrop_content_popup
                p 01 Green Hero is ready to be transferred to your wallet now.
                p Please confirm to receive the reward.
        .popup__footer
            button(data-fancybox-close).bt.bt--primary.bt--outline Cancel
            button.bt.bt--primary Confirm