#claim_character_expired_success_popup.nofication_popup.nofication_success_popup(style="display:none")
    .popup_wrapper
        .popup__body
            .nofication_content_popup
                .success
                    p Successfully Claimed
        .popup__footer
            button(data-fancybox-close).bt.bt--primary.bt--outline Close
            a(href="inventory.html").bt.bt--primary Go to my Green Heroes