#confirm_buy_warrior_loading_popup.loading_popup(style="display:none")
	.popup_wrapper
		.popup__header
			h2.popup__title Confirm Buy Warrior
		.popup__body
			.loading__image
				img(src="./images/loading_popup.png", alt="LOADING")
			.loading__content.ta-c
				h2.txt-primary Waiting For Confirmation
				p Confirm this transaciion in your wallet