#confirm_swap_loading_popup.loading_popup(style="display:none")
	.popup_wrapper
		.popup__header
			h2.popup__title Confirm Swap
		.popup__body
			.loading__image
				img(src="./images/loading_popup.png", alt="LOADING")
			.loading__content.ta-c
				h2.txt-primary Waiting For Confirmation
				h4 Swapping 0.0981461 for 27.3899 BUSD
				p Confirm this transaciion in your wallet