#confirm_swap_reject_popup.reject_popup(style="display:none")
	.popup_wrapper
		.popup__header
			h2.popup__title Confirm Swap
		.popup__body
			.reject__content.txt-danger.ta-c
				i.fal.fa-exclamation-circle
				h4 Transaction rejected
		.popup__footer
			button.bt.bt-lg.bt-block.primary(data-fancybox-close) Dismiss