#confirm_buy_warrior_accept_popup.accept_popup(style="display:none")
	.popup_wrapper
		.popup__header
			h2.popup__title Your warrior has bees created successfully
		.popup__body
			.accept__content
				.warrior__character
					img(src="./images/character_buy.png", alt="CHARACTER")
				h4.fs-1x4rem.ta-c.mb-1rem  BTC #20210623
		.popup__footer
			.grid-auto-auto-gap-24.mb-1rem
				a(href="buy_warrior.html").bt.bt-lg.bt-block.primary Continute buying
				a(href="index.html").bt.bt-lg.bt-block.primary Go to playing