#recent_transactions_popup.recent_transactions_popup(style="display:none")
	.popup_wrapper
		.popup__header
			h2.popup__title Recent Transactions
		.popup__body
			.recent_transaction__item
				.flex-between-alc
					span.fw-600 Recent Transactions
					button.bt.secondary Clear All
			.recent_transaction__item
				a.txt-primary.fw-600(href="https://bscscan.com/tx/0xd005f30733a8f3b473a1d6629b03e84ce2c76fc88a562d2318be3ed71dc8bc24" target="_blank")
					span.mr-0x5rem Swap 0.0001 CAKE for 0.00147 BUSD
					i.fad.fa-external-link-alt
			.recent_transaction__item
				a.txt-primary.fw-600(href="https://bscscan.com/tx/0xd005f30733a8f3b473a1d6629b03e84ce2c76fc88a562d2318be3ed71dc8bc24" target="_blank")
					span.mr-0x5rem Swap 0.0001 CAKE for 0.00147 BUSD
					i.fad.fa-external-link-alt
			.recent_transaction__item
				a.txt-primary.fw-600(href="https://bscscan.com/tx/0xd005f30733a8f3b473a1d6629b03e84ce2c76fc88a562d2318be3ed71dc8bc24" target="_blank")
					span.mr-0x5rem Swap 0.0001 CAKE for 0.00147 BUSD
					i.fad.fa-external-link-alt