#sell_character_success_popup.nofication_popup.nofication_success_popup(style="display:none")
    .popup_wrapper
        .popup__body
            .nofication_content_popup
                .success
                    p Sell Hero Successfully
        .popup__footer
            button(data-fancybox-close).bt.bt--primary.bt--outline Close
            a(href="shop.html").bt.bt--primary Go to my NFT Market