#sell_character_popup.sell_character_popup(style="display:none")
    .popup_wrapper
        .popup__header
            h2.popup__title Set Price
        .popup__body
            .sell_character_form
                .form__item
                    .select_grbe
                        .thumbnail(popup-to="choose_character_sell_popup" href="javascript:;")
                            img(src="./images/itemproductfire.png", alt="")
                            p Add Green Hero
                .form__item
                    label Set price
                    .input_group
                        input.form-control(type="number" placeholder="0")
                        .price-token
                            .icon
                                img(src="./icons/grbe.png", alt="GRBE")
                            span ~$200
                .form__item
                    label platform fee if sold
                    .input_group
                        input.form-control(readonly type="number" placeholder="0")
                        .price-token
                            .icon
                                img(src="./icons/grbe.png", alt="GRBE")
                            span ~$6
                    .note *Seller pays 3% platform fee on sale
                .form__item
                    label Total earnings
                    .input_group
                        input.form-control(readonly type="number" placeholder="0")
                        .price-token
                            .icon
                                img(src="./icons/grbe.png", alt="GRBE")
                            span ~$6
                .form__item
                    label Expiration
                    input.form-control(readonly type="datetime-local")
        .popup__footer
            button.bt.bt--primary(popup-to="sell_character_success_popup" href="javascript:;") Enable Listing