#stake_your_rgbe_popup.stake_your_rgbe_popup(style="display:none")
    .popup_wrapper
        .popup__header
            h2.popup__title Stake your meeb
        .popup__body
            .your_rgbe__list
                .your_rgbe__item
                    .item__img
                        img(src="./images/itemproductearth.png", alt="RGBE")
                    .item__id #2312399012
                    .item__power
                        i.fas.fa-fist-raised
                        span.value 50%
                .your_rgbe__item
                    .item__img
                        img(src="./images/itemproductfire.png", alt="RGBE")
                    .item__id #2312399012
                    .item__power
                        i.fas.fa-fist-raised
                        span.value 50%
                .your_rgbe__item
                    .item__img
                        img(src="./images/itemproductmetal.png", alt="RGBE")
                    .item__id #2312399012
                    .item__power
                        i.fas.fa-fist-raised
                        span.value 50%
                .your_rgbe__item
                    .item__img
                        img(src="./images/itemproductwater.png", alt="RGBE")
                    .item__id #2312399012
                    .item__power
                        i.fas.fa-fist-raised
                        span.value 50%
                .your_rgbe__item
                    .item__img
                        img(src="./images/itemproductwood.png", alt="RGBE")
                    .item__id #2312399012
                    .item__power
                        i.fas.fa-fist-raised
                        span.value 50%
        .popup__footer
            button(data-fancybox-close).bt.bt--primary.bt--outline Cancel
            button.bt.bt--primary Stake