#unbox_popup.unbox_popup(style="display:none")
    .popup_wrapper
        .popup__header.center
            h2.popup__title.ta-c SUMMON YOUR HEROS
        .popup__body
            .unbox_popup__desc
                p The current price for summon a hero is 
                    b 0.01 BNB.
                p There is only 
                    b 19987 
                    | heroes left to summon.
            .unbox_popup__input
                h4 HOW MANT HEROS DO YOU WANT YO SUMMON?
                .input-main
                    input(type="number" value="0")
                .input-percent
                    .input-range
                        input(type="range" min="1" max="5" value="1" style="width:100%")
                    .percent
                        p 0%
                        p 25%
                        p 50%
                        p 75%
                        p 100%
                .result
                    p SUMMON 
                        b 20 
                        | HEROES WITH 
                        b 0.20 BNB
            .token-name 0x4e64bd2d3c...Odf21dfd6868
        .popup__footer.center
            button.bt.bt--shadow.bt--md.bt--primary CHECKOUT