#unbox_popup.unbox_popup(style="display:none")
    .popup_wrapper
        .popup__header.center
            h2.popup__title.ta-c TREE SEED FOR SALE
        .popup__body
            .unbox_popup__desc
                p Seed price: 
                    b 0.15 BNB
                p Total seeds for sale: 
                    b 20,000
                p There is only 
                    b 5,000 
                    | seeds available form sale...
            .unbox_popup__heading
                h4 HOW MANY SEEBS DO YOU WANT TO BUY?
                p (Maximum 10 seebs)
            .unbox_popup__input
                .input-main
                    input.form-control(type="number" value="0")
                    .invalid-feedback.ta-c
                .input-percent
                    .input-range
                        input(type="range" min="1" max="5" value="1" style="width:100%")
                    .percent
                        p 0%
                        p 25%
                        p 50%
                        p 75%
                        p 100%
                    .invalid-feedback.ta-c
            .token-name 0x4e64bd2d3c...Odf21dfd6868
            .loading
                i.fas.fa-circle-notch.fa-spin
            .successful-content
                p Congratulations !!!
                p You have successfully summoned 
                    b 10 
                    | Heros.
        .popup__footer.center
            button.bt.bt--shadow.bt--md.bt--primary.js-validate-checkout BUY
            button.bt.bt--shadow.bt--md.bt--primary.js-validate-checkout BUY