#wallet_connect_popup.wallet_connect_popup(style="display:none")
	.popup_wrapper
		.popup__header
			h2.popup__title Connect to a wallet
		.popup__body
			ul.list_option_wallet_connect
				li.item_option_wallet_connect
					button.bt.bt--block
						img(src="./icons/metamask.svg", alt="Metamask")
						p
							span Metamask
				li.item_option_wallet_connect(disable)
					button.bt.bt--block
						img(src="./icons/trustwallet.svg", alt="TrustWallet")
						p
							span TrustWallet
				li.item_option_wallet_connect(disable)
					button.bt.bt--block
						img(src="./icons/mathwallet.svg", alt="Metamask")
						p
							span MathWallet
				li.item_option_wallet_connect(disable)
					button.bt.bt--block
						img(src="./icons/tokenpocket.svg", alt="TokenPocket")
						p
							span TokenPocket
				li.item_option_wallet_connect(disable)
					button.bt.bt--block
						img(src="./icons/walletconnect.svg", alt="WalletConnect")
						p
							span WalletConnect
				li.item_option_wallet_connect(disable)
					button.bt.bt--block
						img(src="./icons/binancechainwallet.svg", alt="BinanceChainWallet")
						p
							span Binance Chain Wallet
				li.item_option_wallet_connect(disable)
					button.bt.bt--block
						img(src="./icons/safepalwallet.svg", alt="SafePalWallet")
						p
							span SafePal Wallet
		.popup__footer
			.d-f.jc-c
				a.support-document(href="https://bap-software.net/vi/" target="_blank" rel="noreferrer noopener")
					i.fad.fa-question-circle
					span Learn how to connect