#your_wallet_popup.your_wallet_popup(style="display:none")
	.popup_wrapper
		.popup__header
			h2.popup__title Your Wallet
		.popup__body
			.your_wallet__item
				h4.your_wallet__token 0x515f1B949306843B286f40239e04B760E3c65434
			.your_wallet__item
				.flex-between-alc
					a.bt.cl-primary(href="https://bscscan.com/address/0x515f1B949306843B286f40239e04B760E3c65434" target="_blank" rel="noreferrer noopener")
						span View on BscScan
						i.fad.fa-external-link-alt
					button.bt.cl-primary
						span Copy Address
						i.fad.fa-copy
		.popup__footer
			.d-f.jc-c
				button.bt.bt-lg.bt-outline.primary Logouts